md-dialog.agreement-dialog.md-body-1.samhsa(aria-label='SAMHSA Redisclosure Warning' flex="50")
    md-toolbar
        div.md-toolbar-tools
            h2 GSIHealthCoordinator End User License Agreement
    div(layout="column" layout-padding)
        md-content.dialog-content(flex)
            h3(align='center')          GSIHealthCoordinator End User License Agreement
            p
                b
                    | IMPORTANT - - READ CAREFULLY:  Your access to and use of GSI Health&rsquo;s GSIHealthCoordinator Solution (the &ldquo;GSIHealthCoordinator Solution&rdquo;) provided or made             available to you (&ldquo;you&rdquo;) by GSI Health, LLC (&ldquo;GSI Health&rdquo;) or its Licensee (as defined herein) shall be subject to your compliance in all respects             with all terms and conditions of this GSIHealthCoordinator End User License Agreement (&ldquo;EULA&rdquo;).  The limited license to access and use the             GSIHealthCoordinator Solution granted to you by this EULA is granted pursuant to the Master Subscription  and Services Agreement between GSI Health and             Licensee (the &ldquo;Agreement&rdquo;), and the license granted to you by this EULA shall be limited and controlled in all respects by the Agreement.  In the             event of any conflict between the Agreement and this EULA, this EULA shall control.
                |          This EULA constitutes and expresses the entire agreement and understanding between you, GSI Health and Licensee with respect to your access to and use         of the GSIHealthCoordinator Solution and supersedes all previous communications, representative presentations, or agreements, whether written or oral, with         respect to the subject matter hereof.  Specifically, this EULA shall prevail over any license terms for the GSIHealthCoordinator Solution contained in any         agreement between you and Licensee.
            p
                b
                    | BY CLICKING ON THE &quot;I AGREE&quot; BUTTON, YOU ARE AGREEING THAT YOU HAVE READ, UNDERSTOOD AND AGREE TO BE BOUND BY THIS EULA.  IF YOU ARE ENTERING INTO             THIS EULA ON BEHALF OF A COMPANY OR OTHER LEGAL ENTITY, YOUR ACCEPTANCE REPRESENTS THAT YOU HAVE THE AUTHORITY TO BIND SUCH ENTITY TO THIS EULA, IN             WHICH CASE &quot;YOU&quot; OR &quot;YOUR&quot; SHALL REFER TO YOUR ENTITY.  IF YOU DO NOT AGREE TO ALL OF THE TERMS OF THIS EULA, OR IF YOU DO NOT HAVE THE AUTHORITY             TO BIND YOUR ENTITY, CLICK THE &quot;I DECLINE&quot; BUTTON AND YOU WILL NOT BE GRANTED ACCESS TO USE THE GSIHealthCoordinator SOLUTION.
            h4          1.      DEFINITIONS.
            p
                | The capitalized terms below will have the following meanings when used in this EULA.  All other capitalized terms shall have the meaning         ascribed to them throughout this document.
            p
            p
                | (a)                &ldquo;Documentation&rdquo; means all printed or electronic material relating to the GSIHealthCoordinator Solution provided by GSI Health.
            p
                | (b)               &ldquo;GSIHealthCoordinator Platform&rdquo; means a website, intranet or extranet site, WAN or LAN network site, other online facility, or pages or         portions thereof, through which you are provided remote access to the functionality of the GSIHealthCoordinator Solution.
            p
                | (c)                &ldquo;Licensee&rdquo; means the authorized licensee of GSI Health who provides the GSIHealthCoordinator Solution to you pursuant to the Agreement.
            p
                | (d)               &ldquo;User Data&rdquo; means any data or information supplied by you to GSI Health or to or through the GSIHealthCoordinator Solution, and any         reports, data queries, responses to data queries, or other output generated by the GSIHealthCoordinator Solution using or based on such data or         information.

            h4          2.      LICENSE.
            p
                | (a)                Subject to the conditions herein, GSI Health hereby grants you, and you hereby accept, a nontransferable, nonsublicenseable,         nonexclusive, limited license to access and use the GSIHealthCoordinator Solution in object code form only though the GSIHealthCoordinator Platform, solely for         your internal business operations. Other than your use of the GSIHealthCoordinator Solution as permitted under the terms and conditions of this EULA, you         may not resell, distribute, use on a timeshare or service bureau basis, or use to operate a web-site or otherwise generate income from, the         GSIHealthCoordinator Solution.
            p
                | (b)               The GSIHealthCoordinator Solution and this EULA may not be sold, assigned, leased, sublicensed, or otherwise transferred or made         available for use by third parties, in whole or in part, by you without GSI Health&rsquo;s prior written consent. You shall not (a) create derivative works         based on the GSIHealthCoordinator Solution, (b) copy, frame, mirror or utilize any framing techniques to enclose any part or content of the         GSIHealthCoordinator Solution, including any trademarks or service marks contained therein, (c) reverse engineer, decompile or otherwise attempt to         discover the source code of, the GSIHealthCoordinator Solution, (d) access the GSIHealthCoordinator Solution in order to (i) build a competitive product or         service, or (ii) copy any features, functions or graphics of any GSIHealthCoordinator Solution, (e) use the GSIHealthCoordinator Solution to store or transmit         infringing, libelous, or otherwise unlawful or tortious material, or to store or transmit material in violation of third-party privacy rights, (f) use         the GSIHealthCoordinator Solution to store or transmit viruses, worms, time bombs, Trojan horses and other harmful or malicious code, files, scripts,         agents or programs, (g) interfere with or disrupt the integrity or performance of any GSIHealthCoordinator Solution or third-party data contained therein,         or (h) attempt to gain unauthorized access to any GSIHealthCoordinator Solution or their related systems or networks.
            p
                | (c)                You hereby acknowledge and agree that GSI Health and its licensors are the sole owners of all copyright, patent, trademark, trade         secret and other proprietary or intellectual property rights in and to the GSIHealthCoordinator Solution, including but not limited to the structure,         organization, design, algorithms, methods, templates, data models, data structures, flow charts, logic flow, screen displays, and report formats         associated therewith and trademarks associated or displayed therein.  GSI Health and its licensors reserve all rights in and to the GSIHealthCoordinator         Solution and the GSIHealthCoordinator Platform not expressly granted to you hereunder.  You hereby grant to GSI Health a royalty-free, worldwide,         transferable, sublicenseable, irrevocable, perpetual license to use or incorporate into the GSIHealthCoordinator Solution any suggestions, enhancement         requests, recommendations or other feedback provided by you relating to the operation of the GSIHealthCoordinator Solution.
            p
                | 2.4       You shall contact GSI Health Customer Support at 1-888-206-4237 x911 if you become aware of misuse of the GSIHealthCoordinator Solution by any person.         GSI Health cannot guarantee the accuracy of any information submitted by you or any other person, nor any identity information about any other         end-user.  GSI Health or its licensors may investigate any complaints and violations that come to GSI Health&rsquo;s or its licensors&rsquo; attention and may take         any action that they believe is appropriate, including, but not limited to issuing warnings, terminating accounts and/or user profiles or reporting you         or your users to law enforcement authorities.

            h4          3.      LOGIN.
            p
                | You will be issued a username and password (collectively, &ldquo;Login&rdquo;) that will allow you to access the GSIHealthCoordinator Solution through the         GSIHealthCoordinator Platform.  You shall not assign or transfer your Login to any other person or entity without GSI Health&rsquo;s permission.  You shall         maintain and be responsible for the security of you Login and shall be liable for any access or use occurring through your Login.  You must promptly         inform GSI Health of any apparent breach of security, such as loss, theft or unauthorized disclosure or use of your Login of which you are aware.

            h4          4.      USER OBLIGATIONS.
            p
                | (a)                Except as otherwise provided herein, you shall have sole responsibility for acquiring and maintaining your own technology         environment, including but not limited to PC&rsquo;s, laptops, operating systems, servers, Internet access, local area networks and wide area networks.  You         shall also be responsible for making any necessary modifications to firewalls, proxy servers and other hardware and software necessary to use or access         the GSIHealthCoordinator Solution and/or the GSIHealthCoordinator Platform.
            p
                | (b)               You agree that you are solely responsible for any and all User Data displayed, uploaded, exchanged or transmitted on, through or by         the GSIHealthCoordinator Platform. Neither GSI Health, its licensors, suppliers or partners, or any of its or their affiliates, suppliers or resellers         accept, and each hereby expressly disclaims, any and all liability with respect to same. Under no circumstances will GSI Health, its licensors,         suppliers or partners, or any of its or their affiliates, suppliers or resellers be liable in any way for the User Data, including, but not limited to,         any errors or omissions in any User Data, or any loss or damage of any kind incurred as a result of the use of, access to, or denial of access to the         User Data.
            p
                | (c)                You hereby agree to comply with all applicable federal, state and local laws, rules, regulations and orders (collectively, &ldquo;Laws&rdquo;)         including, without limitation, all present and future laws and regulations relating to the privacy of individually identifiable medical, financial or         other information including, without limitation, the Health Insurance Portability and Accountability Act of 1996, Subtitle D (Privacy) of the HITECH         Act of 2009, and the rules and regulations promulgated thereunder (collectively &ldquo;HIPAA&rdquo;).  You shall take all reasonable measures to safeguard, and         take all precautions reasonably necessary, including but not limited to sufficient testing and investigation of the GSIHealthCoordinator Solution, to         ensure the security and privacy of all Protected Health Information (as defined by HIPAA) received, stored or used by you pursuant to this EULA; and         will in all matters and transactions fully comply with the Privacy Standards and Security Provisions of HIPAA.
            p
                | (d)               You acknowledge and agree that the GSIHealthCoordinator Solution may be subject to export controls imposed by the United States Office of         Export Administration and related law.  You certify that neither the GSIHealthCoordinator Solution nor any other technical data nor the direct product         thereof (i) is intended to be used for any purpose prohibited by any applicable export law, or (ii) is intended to be shipped, transmitted or exported         either directly or indirectly out of the United States.  You further certify that you will not permit the GSIHealthCoordinator Solution or any other         technical data nor the direct product thereof to be resold or exported unless GSI Health has specifically consented in writing to any such resale or         export and (i) you or any other party reselling or exporting first obtains written permission to do so from the United States Office of Export         Administration and other appropriate governmental agencies, or (ii) a general license exempting such resale or export from the requirement for such         permission is in effect and the requirements of such license are fully complied with.
            p
                | (e)                You shall not delete, remove, modify, obscure, fail to reproduce or in any way interfere with any proprietary, trade secret, or         copyright notice appearing on or incorporated in the GSIHealthCoordinator Solution or the GSIHealthCoordinator Platform
            p
                | (f)                The GSIHealthCoordinator Solution constitutes a &ldquo;Commercial Item&rdquo;, consisting of &ldquo;Commercial Computer Software&rdquo; and &ldquo;Commercial Computer         Software Documentation,&rdquo; as such terms are defined the U.S. Code of Federal Regulations.  Consistent with such provisions, to the extent that the         GSIHealthCoordinator Solution is licensed to United States Government end users, any license shall be limited to only those rights granted to all other end         users, according to the terms and conditions contained in this EULA.

            h4          5.      TERMINATION.
            p
                | (a)                This EULA shall terminate immediately upon the earlier of:
            p          (i)                 a breach of this EULA by you;
            p
                | (ii)               expiration or termination of any agreement between you and Licensee; or
            p          (iii)             expiration or termination of the Agreement.
            p
                | (b)               GSI Health may terminate this EULA if you become insolvent or bankrupt or cease to do business; become unable or admit in writing         your inability to pay all debts as they mature; make a general assignment for the benefit of or enter into any composition or arrangement with         creditors; authorize, apply for, or consent to the appointment of a receiver, trustee, or liquidator of all or a substantial part of your assets or has         proceedings seeking such appointment commenced against you which are not terminated within thirty (30) days of such commencement; file a voluntary         petition under any bankruptcy or insolvency law, or has proceedings under such laws instituted against it which are not terminated within thirty (30)         days of such commencement.
            p
                | (c)                Notwithstanding anything herein to the contrary, GSI Health and/or its licensors may suspend, limit and/or terminate your access to         or use of the GSIHealthCoordinator Solution, or any portion thereof, in the event of a breach by you or occurring under your account. GSI Health and its         licensors shall have no liability to you, your users, Licensee or any third party for any termination of this Agreement or suspension of access or use         of any GSIHealthCoordinator Solution. Upon termination or expiration of this EULA, you shall immediately (a) discontinue all use of the GSIHealthCoordinator         Solution and the GSIHealthCoordinator Platform, and (b) at your expense, return to GSI Health all Documentation.
            p
                | (d)               Notwithstanding anything to the contrary herein, the provisions of Sections 2.2, 2.3, 2.4, 4, 5, 6, 7, 8, 9, and 10 hereof, as well         as any other provisions of this EULA necessary to interpret the respective rights and obligations of the parties hereunder, shall survive the         expiration or termination of this EULA.

            h4          6.                  Confidential and Proprietary Information.
            p
                | You agree to hold the GSIHealthCoordinator Solution in confidence, and to protect the confidential nature thereof, and shall not disclose any         trade secrets contained, embodied or utilized therein, to anyone other than your authorized users having a need for such disclosure, and then only to         allow use of the GSIHealthCoordinator Solution as authorized herein.  You shall take all necessary steps to ensure that the provisions of this Section are         not violated by any of your employees, agents, consultants, contractors, or any other person under your control or in your service.  Under no         circumstances shall you permit any competitors of GSI Health to access or use the GSIHealthCoordinator Solution or the GSIHealthCoordinator Platform.  The         obligations set forth in this Section 6.0 shall survive expiration or termination of this Agreement.

            h4
                | 7.                  DISCLAIMER OF WARRANTY.
                b
            p
                | (a)                THE GSIHealthCoordinator SOLUTION IS PROVIDED BY GSI HEALTH, ITS LICENSORS, SUPPLIERS, AND PARTNERS AND EACH OF ITS AND THEIR         AFFILIATES, SUPPLIERS AND RESELLERS, &ldquo;AS IS&rdquo; WITHOUT WARRANTY OF ANY KIND, AND GSI HEALTH, ITS LICENSORS, SUPPLIERS, AND PARTNERS AND EACH OF ITS AND         THEIR AFFILIATES, SUPPLIERS AND RESELLERS HEREBY SPECIFICALLY DISCLAIMS ANY AND ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO         IMPLIED WARRANTIES OF TITLE, NONINFRINGEMENT, MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE.  NEITHER GSI HEALTH NOR ITS LICENSORS, SUPPLIERS,         OR PARTNERS, NOR ANY OF ITS OR THEIR AFFILIATES, SUPPLIERS AND RESELLERS WARRANT THAT: (A) OPERATION OF THE GSIHealthCoordinator SOLUTION SHALL BE         UNINTERRUPTED OR ERROR FREE, (B) FUNCTIONS CONTAINED IN THE GSIHealthCoordinator SOLUTION SHALL OPERATE IN COMBINATIONS WHICH MAY BE SELECTED FOR USE BY         YOU, OR (C) THE GSIHealthCoordinator SOLUTION WILL MEET YOUR REQUIREMENTS. ANY WARRANTIES WITH RESPECT TO THE GSIHealthCoordinator SOLUTION OR GSIHealthCoordinator         PLATFORM MADE BY LICENSEE SHALL BE BETWEEN YOU AND LICENSEE AND ANY WARRANTY CLAIMS SHALL BE MADE DIRECTLY TO LICENSEE.
            p
                | (b)               You are solely responsible for the accuracy and adequacy of the User Data and all other information and data furnished for processing         with the GSIHealthCoordinator Solution.  To the extent that data is being transmitted over the Internet hereunder, you acknowledge that GSI Health has no         control over the functioning of the Internet and GSI Health makes no representations or warranties of any kind regarding the performance or security of         the Internet.  The successful operation of the GSIHealthCoordinator Solution is dependent on your use of proper procedures and systems and input of correct         data.
            p
                | (c)                If at any time you are dissatisfied with the GSIHealthCoordinator Solution, or any portion thereof, your sole remedy is to cease using         the GSIHealthCoordinator Solution. You acknowledge and agree that GSI Health&rsquo;s licensors have no control over how you interact with GSI Health, the         GSIHealthCoordinator Platform, or any other product or service offered by or through GSI Health.

            h4          8.      LIMITATION OF LIABILITY; DISCLAIMER OF DAMAGES.
            p
                | (a)                IN NO EVENT WILL GSI HEALTH, ITS LICENSORS, SUPPLIERS, OR PARTNERS OR ANY OF ITS OR THEIR AFFILIATES, SUPPLIERS OR RESELLERS BE         LIABLE TO YOU OR ANY THIRD PARTY FOR ANY LOST BUSINESS, REVENUES, DATA OR PROFITS, OR OTHER SPECIAL, INDIRECT, INCIDENTAL, CONSEQUENTIAL, PUNITIVE, OR         EXEMPLARY DAMAGES, WHETHER BASED ON CLAIMS FOR BREACH OF CONTRACT, TORT, STRICT OR PRODUCTS LIABILITY, OR OTHERWISE, EVEN IF ANY OF THE FOREGOING HAVE         BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
            p
                | (b)               IN NO EVENT SHALL GSI HEALTH, ITS LICENSORS, SUPPLIERS, OR PARTNERS OR ANY OF ITS OR THEIR AFFILIATES, SUPPLIERS OR RESELLERS BE         LIABLE TO YOU OR ANY THIRD PARTY FOR ANY DAMAGES RESULTING FROM OR RELATED TO ANY FAILURE OF THE GSIHealthCoordinator SOLUTION, INCLUDING, WITHOUT         LIMITATION, LOSS OF DATA, OR DELAY IN THE DELIVERY OF THE GSIHealthCoordinator SOLUTION (OR ANY REVISIONS OR UPDATES THERETO) UNDER THIS EULA.
            p
                | (c)                THE MAXIMUM LIABILITY OF GSI HEALTH, ITS LICENSORS, SUPPLIERS, AND PARTNERS AND ANY OF ITS OR THEIR AFFILIATES, SUPPLIERS OR         RESELLERS UNDER THIS EULA SHALL BE LIMITED TO THE SUBSCRIPTION FEES PAID BY YOU TO LICENSEE UNDER THE APPLICABLE SCHEDULE TO WHICH THE CLAIM RELATES,         DURING THE SIX (6) MONTHS PRECEDING THE DATE ON WHICH THE CLAIM FIRST ACCRUED.
            p
                | (d)               You specifically understand and agree that GSI Health, in providing the GSIHealthCoordinator Solution, may serve as a conduit for         information provided by third parties and that GSI Health may rely on such information and services and products provided to it by third parties.  GSI         Health assumes no responsibility or liability for the accuracy, completeness, propriety, necessity or advisability of the medical or other information         which may be provided, directly or indirectly, to you, or of the medical or other services to which such information may relate.  You further         understand and agree that GSI Health shall have no responsibility of any kind to you, your patients, employees, agents, contractors or any other         person, firm, corporation or entity, for any (i) diagnosis, treatment, or medical procedures or prescriptions for or with respect to any patient or         other provision of direct health care services, (ii) drug lab results or identification of drug interactions or adverse events; or (iii) other         information or services provided by or through any GSIHealthCoordinator Solution.  Performance by GSI Health of its obligations hereunder shall not give         rise to any implication that GSI Health is making any benefit determination, providing medical advice or care or otherwise assuming any responsibility         for the scope or quality of medical care afforded to patients by you, your employees, agents, contractors or other health care consumers or providers.         The GSIHealthCoordinator Solution is not intended to supplant or replace the professional judgment of you or your employees, agents, contractors or other         health care providers in treating patients. IN THE EVENT THAT THE GSIHealthCoordinator SOLUTION OR ANY REPORT OR INFORMATION GENERATED BY THE         GSIHealthCoordinator SOLUTION IS USED IN CONNECTION WITH ANY DIAGNOSIS OR TREATMENT BY YOU OR ANY OF YOUR EMPLOYEES, AGENTS, CONTRACTORS, HEALTH CARE         PROVIDERS, REPRESENTATIVES, OR THE LIKE, YOU AGREE, AND SHALL CAUSE ALL SUCH PERSONS TO AGREE, TO ACCEPT ALL RESPONSIBILITY IN CONNECTION THEREWITH,         INCLUDING RESPONSIBILITY FOR INJURY, DAMAGE AND/OR LOSS RELATED TO SUCH DIAGNOSIS OR TREATMENT, IRRESPECTIVE OF WHETHER SUCH INJURY, DAMAGE AND/OR LOSS         RESULTS FROM USE OF THE GSIHealthCoordinator SOLUTION.

            h4
                | 9.      INDEMNITY.
                b
            p
                | You hereby agree to defend, indemnify and hold GSI Health, its licensors, suppliers and partners and its and their respective officers,         directors, managers, members, employees, agents, affiliates, suppliers, resellers and subcontractors harmless from and against any losses, liabilities,         damages, demands, penalties and expenses (including, without limitation, court costs and attorneys&rsquo; fees) arising out of or in connection with (a)         access to and use of the GSIHealthCoordinator Solution or the GSIHealthCoordinator Platform by you and/or any third party, whether or not authorized by you,         who accesses the GSIHealthCoordinator Solution or the GSIHealthCoordinator Platform by means of the Login provided to you, (b) any breach or alleged breach of         this EULA or any Law by you, (c) any failure of the User Data to be accurate, complete or error-free, or (d) any claim, demand or action alleging         medical malpractice, wrongful death, personal injury, damage to property, errors or misrepresentations in billing or coding, or any other professional,         general, statutory or regulatory claim whatsoever, without regard to whether such claim, demand or action is alleged to arise or arising by negligent,         intentional or reckless conduct or by action or omission.

            h4          10.  MISCELLANEOUS.
            p
                | (a)
                u Assignment; Binding Effect
                | .  This EULA and your right to access and use the GSIHealthCoordinator Solution and GSIHealthCoordinator         Platform may not be assigned or transferred by you, in whole or in part, whether by operation of law or otherwise, without the prior written consent of         GSI Health.  GSI Health shall have the right to assign this EULA, in whole or in part, to an affiliate or, in whole, to a third party in connection         with a sale of assets or other transfer or disposition of its business operations.  Any attempted assignment in violation of this Section 10.1 shall be         null and void and of no force or effect.
            p
                | (b)
                u Force Majeure
                | .  GSI Health shall not be liable for non-performance or delays caused by acts of God, wars, terrorist acts,         riots, strikes, fires, shortage of labor or materials, labor disputes, governmental restrictions, failures or interruptions of the Internet, utilities,         communications, satellite or network services (including those of GSI Health and its service providers), or other causes beyond GSI Health&rsquo;s reasonable         control.
            p
                | (c)
                u Governing Law; Jurisdiction
                | .  This Agreement shall be deemed to be made under and shall be governed by and construed in         accordance with the laws of the Commonwealth of Pennsylvania, without regard to its conflicts of law rules.  All actions brought with respect to this         Agreement shall be brought exclusively in the U.S. District Court for the Eastern District of Pennsylvania or the Court of Common Pleas for         Philadelphia County, Pennsylvania (Commerce Court Division, if available), and you consent to personal jurisdiction and venue therein.  You hereby         irrevocably waive all claims you may now or hereafter have that any such court lacks jurisdiction over you and agree not to plead or argue otherwise.         In addition, you hereby irrevocably waive all claims you may now or hereafter have that any such court is an inconvenient forum for an action or         proceeding arising out of or in connection with this EULA and you agree not to plead or argue otherwise.
            p
                | (d)
                u Equitable Relief
                | .  You agree that any violation by you of the provisions or covenants of this EULA contained in Sections 2         (License) and 6 (Confidential and Proprietary Information) will cause immediate and irreparable harm to GSI Health for which money damages will not         constitute an adequate remedy at law.  Therefore, you agree that, in the event you breach or threaten to breach said provisions or covenants, GSI         Health shall be entitled to injunctive and/or other preliminary or equitable relief, in addition to any other remedies available at law, without having         to prove actual damages or to post a bond.
            p
                | (e)
                u Third Party Beneficiaries
                | .  GSI Health&rsquo;s licensors, suppliers and partners and their respective affiliates, suppliers and         resellers are all third-party beneficiaries of this Agreement, and shall have the right to enforce the provisions of this EULA directly. Except for the         foregoing and except as otherwise set forth herein, nothing in this EULA shall confer any rights upon any person other than the parties and their         respective successors and permitted assigns.
            p
                | (f)
                u Severability
                | .  Any provisions of this EULA that are determined to be invalid or unenforceable in any jurisdiction shall be         ineffective to the extent of such invalidity or unenforceability in such jurisdiction, without rendering invalid or unenforceable the remaining         provisions of this EULA or affecting the validity or enforceability of such provisions in any other jurisdiction.  If a court of competent jurisdiction         declares any provision of this EULA to be invalid or unenforceable, the parties hereto agree that the court making such determination shall have the         power to reduce the scope, duration, or area of the provision, to delete specific words or phrases, or to replace the provision with a provision that         is valid and enforceable and that comes closest to expressing the original intention of the parties hereto, and this EULA shall be enforceable as so         modified.
            p
                | (g)
                u Entire Agreement; Amendment
                | .  This EULA sets forth the entire agreement between you and GSI Health with respect to your         access to and use of the GSIHealthCoordinator Solution and the GSIHealthCoordinator Platform.  GSI Health reserves the right to amend, modify or supplement         this EULA at any time, which amendments, modifications or supplements shall be effective when posted on the GSIHealthCoordinator Platform.  You shall be         solely responsible for monitoring the GSIHealthCoordinator Platform for such amendments, modifications and/or supplements.
            p
                | (h)
                u Waiver
                | .  No term or provision of this EULA will be considered waived and no breach will be considered consented to by GSI         Health, unless such waiver or consent is in a writing signed by GSI Health.  No consent to or waiver of a breach of this EULA by GSI Health, whether         express or implied, will constitute a consent to, waiver of, or excuse for any other, different, or subsequent breach of this EULA by you.
            p
                | (i)
                u Headings
                | .  Headings used in this EULA are for convenience of reference only and shall in no way be used to construe or limit         the provisions herein.

        div(flex="nogrow")
            md-checkbox(ng-model="agree" style="margin-bottom:0;") I have read and understand the redisclosure warning.
    md-dialog-actions(layout="row" layout-align="center center")
            md-button(ng-click="submit()" ng-disabled="!agree") I Agree
            md-button(ng-click="decline()") I Decline
