<md-content style="height: 480px;" gsi-scroll>
	
    <section ng-repeat="heading in task.listHeading" ng-if="!heading.empty">
        <md-subheader 
        	ng-click="heading.show = !heading.show">
            {{heading.title}}
        </md-subheader>

        <md-list layout-padding>
        
			
			<md-list-item class="md-3-line" ng-repeat="item in task.tasks">
        <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />
        <div class="md-list-item-text" layout="column">
          <h3>{{ item.userTaskTitle }}</h3>
          <h4>{{ item.userTaskDescr }}</h4>
        </div>
      </md-list-item>

			  <md-list-item class="taskItem" ng-repeat="item in task.tasks" ng-click="goToPerson(person.name, $event)">
				<img alt="{{ item.userTaskTitle }}" ng-src="{{ person.img }}" class="md-avatar" />
				<p>foo {{ item.userTaskTitle }}</p>
				<md-icon md-svg-icon="communication:messenger" ng-click="doSecondaryAction($event)" aria-label="Open Chat" class="md-secondary md-hue-3" ng-class="{'md-primary': person.newMessage}"></md-icon>
			  </md-list-item>
			
            <md-list-item
                ng-repeat="item in task.tasks | filter: task.search.list | orderBy: 'dueDateTime'"
                ng-click="task.details(item, $event)"
                ng-show="heading.show"
                ng-if="item.meta.due == heading.name"
				class="md-3-line md-long-text"
                >
                <!-- <span ng-style="{'background-color': item.meta.color}" height="100%" width="20px">&nbsp;</span>  -->
                <div layout="column" style="cursor:pointer;" ng-click="task.details(item, $event)" >
                    <md-tooltip>{{item.meta.hoverTip}}</md-tooltip>
                    <img style="margin:5px;" ng-src="images/redux/icons/{{item.meta.icon.due}}.png" />
                    <img style="margin:5px;" ng-src="images/redux/icons/{{item.meta.icon.type}}.png" />
                </div>    
                    <div class="_md-list-item-inner">
                        <p>
                            {{item.userTaskTitle}} : {{item.userTaskDescr}}<br/>
                            {{item.patientId.firstname}}&nbsp;{{item.patientId.lastname}} : {{item.dueDateTime | date : mediumDate}}
                        </p>
                    </div>
            </md-list-item>
            
        </md-list>
    </section>
</md-content>
