md-tab(label="List")
  md-content(class="md-padding", gsi-scroll)
    div(flex, style="height: 540px;",
        ng-if="task.loadedTabs[task.appTabs.indexOf('list')]||task.selectedTab===task.appTabs.indexOf('list')", 
        ng-init="task.loadedTabs[task.appTabs.indexOf('list')]=true")
        include header.html
        include body.html
