- var title = 'Change Password'
md-dialog.agreement-dialog.md-body-1.samhsa(aria-label="#{title}" flex="50")
    md-toolbar
        div.md-toolbar-tools
            h2 #{title}
    md-dialog-content
        div.md-dialog-content
            form(ng-cloak name="pwForm")
                md-input-container.md-block
                    label(for="username") username
                    input(disabled id="username" name="username" ng-model="data.username")
                md-input-container.md-block
                    label(for="newPassword") New Password
                    input(required ng-model="data.newPassword" id="newPassword" name="newPassword")
                    div(ng-messages="pwForm.newPassword.$error")
                        div(ng-message="required") This is required.
                md-input-container.md-block
                    label Confirm Password
                    input(required ng-model="data.confirmPassword" id="confirmPassword" name="confirmPassword" password-match="newPassword")
                    div(ng-messages="pwForm.confirmPassword.$error")
                        div(ng-message="mismatch") Passwords do not match.
    md-dialog-actions(layout="row" layout-align="center center")
        md-button(ng-click="submit()" ng-disabled="pwForm.$invalid") Save