/*
	TREAT Hinext Style for Material Design Blue theme

	A modern rework for table-based CSS.

	TODO: This should be converted to SCSS, variableized and precompiled.
*/

/* Menu*/
    tr.trsectionheader {
        background-color: #2196F3; /* MD Blue 500 */
    }
    table.loggedin {
        background-color: #2196F3; /* MD Blue 500 */
    }
    tr.menurow {
        background-color: #2196F3; /* MD Blue 500 */
    }
    .navbuttons {
      margin: 0px;
    }
    .navbuttons a {
        background-color: #2196F3; /* MD Blue 500 */
        color: white;
    		border: none;
    		border-radius: 3px;
    		font-size: 14px;
    		cursor: pointer;
    		padding: 8px;
    		margin: 6px 4px;
    }
    .navbuttons a:visited {
        background-color: #2196F3; /* MD Blue 500 */
      	color: white;
    }
    .navbuttons a:hover {
        background-color: #2196F3; /* MD Blue 500 */
        color: white;
    }
    a.whitelink {
        background-color: #2196F3; /* MD Blue 500 */
        color: white;
    		border: none;
    		border-radius: 3px;
    		font-size: 14px;
    		cursor: pointer;
    		padding: 8px;
    		margin: 6px 4px;
    		font-weight: normal;
    }
    a.whitelink:hover {
  		/*background-color: #1565C0; /* MD Blue 800 */
  	}
  	/*a.nodec:visited {
  		color: white;
  	}*/
    /* Drop-downs */
    	.dropDownMenuButton a{
    		border: none;
    		background-color: white;
    		color: #444;
    		padding: 10px;
    		width: 250px;
    		font-weight: normal;
    		font-size: 14px;
    	}
    	.dropDownMenuButton a:hover{
    		background-color: #eee;
    	}
    /*
    Add a sweet MD compliant shadow effect to drop-downs...
    Because the drop-down parent containers are only identified by Id, we need to style their contains individually
    */
    	#data_menu {
    		box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 13px 19px 2px rgba(0, 0, 0, 0.14), 0px 5px 24px 4px rgba(0, 0, 0, 0.12);
    	}
    	#asmt_menu {
    		box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 13px 19px 2px rgba(0, 0, 0, 0.14), 0px 5px 24px 4px rgba(0, 0, 0, 0.12);
    	}
    	#notifications_menu {
    		box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 13px 19px 2px rgba(0, 0, 0, 0.14), 0px 5px 24px 4px rgba(0, 0, 0, 0.12);
    	}
    /* Hack to center the subheading (this should be reworked in the table, but this hack should work visually) */
    	td.tdsectionheader {
    		width: 25%;
    	}
    	table.loggedin {
    		/* background-color: #1565c0; /* MD Blue 800 */
    		padding: 6px;
    	}
    /* Hack to make the vertical alignment for "No client selected" appear center instead of at top... */
    	td.tdclientheadervaluetop {
    		padding-top: 13px;
    	}

/* ### App page specific ### */
	 table.currentListInView {
  	  border-color: white;
    	border: none;
   }

/* Subheader bar - overwriting the yellow */
    td.tdclientheaderbkg {
        background-color: #ddd;
		border-bottom: none;
	}
    table.tableclientheader {
        background-color: #ddd;
    }

/* Header text - fieldsets */
    fieldset.recordContainer legend {
        color: rgba(0,0,0,0.87);
    }

/* Table in Patient Demographics */
    table.clientDataTable {
        background-color: #e5e5e5;
		border: 1px solid #e5e5e5;
	}
    table.dataVal {
		background-color: #e5e5e5;
		border: 1px solid #e5e5e5;
		color: rgba(0,0,0,0.87);
    }

/* Pointless strips of color on some pages */
    .toolsAndBatteries_td_selected {
        background-color: #fff;
	}
	table.toolsAndBatteries_spacer {
		background-color: #fff;
	}

/* Asessments Results History pointless backgrounds */
	table.resultsListFilter {
		background-color: #fff;
	}

/*Previous Results Listing*/
	/*Pointless background color*/
	table.resultsListFilter {
		background-color: #fff;
	}

/*Pre-Assessment Setup*/
	/*Top bar*/
	table.preassessmentClientBar {
		background-color: #e5e5e5;
		border: 1px solid #e5e5e5;
	}
	/*Tables colored purple, change to grey*/
	table.preassessmentDesc {
		background-color: #e5e5e5;
	}
	#preassessmentEncounterBar {
		background-color: #e5e5e5;
	}
	table.preassessmentAdditionalInfo {
		background-color: #e5e5e5;
	}
	table.preassessmentAdditionalInfo {
		background-color: #e5e5e5;
	}
	table.preassessmentToolQuestions {
		background-color: #e5e5e5;
	}
	#preassessmentVisitTypeBar {
		background-color: #e5e5e5;
	}
	/*Pointless header backgrounds*/
	.headerText {
		background-color: fff;
	}
	/*Text is blue, change to black*/
	table.preassessmentHeader td {
		color: rgba(0,0,0,0.87);
	}

/*Add New Note*/
	/*Text displaying in weird font on button*/
	.buttonSpellCheck {
		font-family: inherit;
	}
	/*Blue tables, changing to grey*/
	table.ipccheader {
		border: 1px solid #e5e5e5;
	}
	td.addupdatenoteipcclisttd {
		border: 1px solid #e5e5e5;
	}

/*Update Issue/Need*/
	/*Green tables, changing to grey*/
	.goalInterventionListing th {
		background-color: #e5e5e5;
	}
	.strengthsChallengeListing th {
		background-color: #e5e5e5;
	}
	/*Green line to separate buttons, changing to grey*/
	.strengthChallengeButtonContainer {
		border-top: 1px solid #e5e5e5;
	}

/*Previous Results Listing*/
	/*Alternating rows blue, changing to grey*/
	.resultsListOddRow {
		background-color: #e5e5e5;
	}

/*Client Search*/
	/*Search results table blue, change to grey*/
	.clientSearchTable_td {
		background-color: #e5e5e5;
	}
	/*Blue text change to standard*/
	.clientSearchTable_header {
		color: rgba(0,0,0,0.87);
	}

/*Progress Notes*/
	/*Blue tables, change to grey*/
	tr.ipccheaderheader {
		background-color: #e5e5e5;
		border: 1px solid #e5e5e5;
	}

/*Patient Info*/
	/*Blue boxes to grey*/
	.ipccDemoTitle {
		background-color: #e5e5e5;
	}

/*Care Plan Summary*/
	/*Crazy colors fix*/
	.clientVisionListing th {
		background-color: #e5e5e5;
	}
	.ipccIssueListHeader {
		background-color: #DEDEDE;
	}
	.ipccFilterBy {
		background-color: #e5e5e5;
	}

/*Data Manager*/
	/*Reports colored boxes*/
	table.userExport_spacer {
		background-color: #fff;
	}
	.userExport_td_selected {
		background-color: #fff;
	}
	/*Assessment Export red text*/
	.assessmentExportTitle {
		color: rgba(0,0,0,0.87);
	}

/*Footer*/
  /* Remove the orange "select action" bar...Note there is a misspelling here (botton with an "n" instead of botto[m]), this is the way it is in code... */
  .bottonActionBar {
    background-color: #fff;
    margin: 10px;
    padding: 5px;
  }
  hr.footerhr {
    /* background:  #1565c0; /* MD Blue 800 */
  }
  table.tablefooter { display: none; }

  /* Alerts page */

  /* Tabs (MD restyle) */

  /*
  .ui-widget-header {
    border: none;
    background: white;
  }
  .ui-widget-content {
    border: none;
    background: white;
  }
  .ui-tabs .ui-tabs-nav li {
    margin: 0;
    border: none !important;
    border-bottom: 4px solid white !important;
    padding: 5px;
  }
  .ui-tabs .ui-tabs-nav  li.ui-state-hover {
    border-bottom: 4px solid #eef !important;
  }
  .ui-tabs .ui-tabs-nav li.ui-tabs-selected {
    border-bottom: 4px solid #1565c0 !important;
    padding: 5px !important;
    margin: 0;
    color: #1565c0 !important;
  }
  .ui-tabs {
    text-transform: uppercase;
    position: relative;
    padding: 5px;
  }
  .ui-state-default {
    background: none;
  }
  .ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited, .ui-state-default a:active  {
    color: #ccc;
    font-size: 14px;
    font-weight: normal;
  }
  .ui-state-hover {
    background: #eef !important;
    border-radius: 0px;
    border-bottom: 4px solid #eef !important;
  }
  .ui-state-hover a {
    color: #1565c0 !important;
  }
  */
