  <md-grid-list class="dashboard" md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6"
        md-row-height-gt-md="1:1" md-row-height="1:1"
        md-gutter="12px" md-gutter-gt-sm="8px" >
    <md-grid-tile md-rowspan="2" md-colspan="2">
		<md-card>
			<md-card-title>
			  <md-card-title-text>
				<span class="md-headline">Task Distribution</span>
				<span class="md-subhead">This Week</span>
			  </md-card-title-text>
			  <md-card-title-media>
				<div class="md-media-lg card-media"></div>
			  </md-card-title-media>
			</md-card-title>
			<md-card-content>
				<p>this is a test</p>
				<canvas id="line" class="chart chart-line" chart-data="task.chart.data"
					chart-labels="task.chart.labels" chart-legend="true" chart-series="task.chart.series"
					chart-click="task.chart.click" >
				</canvas> 
			</md-card-content>
			<md-card-actions layout="row" layout-align="end center">
			  <md-button>Action 1</md-button>
			  <md-button>Action 2</md-button>
			</md-card-actions>
      </md-card>
    </md-grid-tile>
    <md-grid-tile class="green">
		blee
      <md-grid-tile-footer>
        <h3>#2: (1r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile class="yellow">
      <md-grid-tile-footer>
        <h3>#3: (1r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile class="blue"
        md-rowspan="2">
      <md-grid-tile-footer>
        <h3>#4: (2r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile class="red"
        md-rowspan="2" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1">
      <md-grid-tile-footer>
        <h3>#5: (2r x 2c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile class="green"
        md-rowspan="2" >
      <md-grid-tile-footer>
        <h3>#6: (2r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>
  </md-grid-list>