md-tab(label="Home")
  md-content(class="md-padding", gsi-scroll)
    div(flex style="height: 540px;"
        ng-if="task.loadedTabs[task.appTabs.indexOf('home')]||task.selectedTab===task.appTabs.indexOf('home')", 
        ng-init="task.loadedTabs[task.appTabs.indexOf('home')]=true")
        include body.html