<md-content layout="row" layout-align="space-between center" class="multi-col-task-list" style="width:100%;">
    <div    class="md-whiteframe-z2 task-list-container"
            style="margin:0 10px;"
            ng-repeat="status in ::task.status"
            ng-show="task.filter[status.taskProgressStatusId].show"
            ng-class="task.filter[status.taskProgressStatusId].css"
            flex
			ng-drop="true"
			ng-drop-success="task.statusChange($data, status.taskProgressStatusId)">
    <div class="header"
            layout="row"
            layout-align="start center">
        <span class="md-headline">{{::status.progressStatusDesc}}</span>
    </div>
        <md-virtual-repeat-container class="items-container"
                                     layout="column"
                                     layout-align="start none" 
                                     id="status-container-{{::status.taskProgressStatusId}}">
            <div md-virtual-repeat="
                task in task.tasks
                | filter:{taskProgressStatusId:{taskProgressStatusId:status.taskProgressStatusId}}
                | taskFilter: task.search.status
                | orderBy: '-lastUpdateDateTime'"
				ng-drag="true"
				ng-drag-data="task">
                <gsi-task-item item="task" />
            </div>
        </md-virtual-repeat-container>


    </div>
</md-content>
<gsi-task-item  ng-drag-clone="taskStatusContent" item="clonedData" />
