<div align="center">
	<label id="lblTaskFilter" style="font-weight: bold;" ng-if="task.taskBadgeData.isFiltered === true || (task.taskBadgeData.isFiltered === false && task.taskBadgeData.email !== undefined && task.loginedUser.email !== task.taskBadgeData.email)">{{task.taskBadgeData.descriptionText}}</label>
	<label id="lblConjunction" style="font-weight: bold;" ng-if="task.taskBadgeData.isFiltered === true"> - </label>
    <a id="lkRemoveTaskFilter" href="javascript:void(0);" ng-click="task.clearTaskBadgeFilter($event)" ng-if="task.taskBadgeData.isFiltered === true">
        Remove Filter
    </a>
</div>
<!--<div ng-if="task.taskBadgeData.email !== undefined && task.loginedUser.email !== task.taskBadgeData.email" align="center">
    <label id="lblTaskSubordinate" style="font-weight: bold;">{{task.taskBadgeData.firstName}} {{task.taskBadgeData.lastName}}'s Task Page</label>
</div>-->
<md-input-container class="md-block" style="margin: 0px">
  <label>Search</label>
  <md-icon md-svg-icon="magnify"></md-icon>
  <input ng-model="task.search.status">
</md-input-container>