md-tab(label="Status")
  md-content(id="taskStatusContent", class="md-padding")
    div(flex,
        ng-if="task.loadedTabs[task.appTabs.indexOf('multiStatus')]||task.selectedTab===task.appTabs.indexOf('multiStatus')",
        ng-init="task.loadedTabs[task.appTabs.indexOf('multiStatus')]=true")
      include header.html
      div(flex, layout="row")
        include body.html
