<script id="customWeekCell.html" type="text/ng-template">
    <!-- <div class="week-view task-list-container">
        <md-virtual-repeat-container class="items-container"
                                     layout="column"
                                     layout-align="start none" >
            <div md-virtual-repeat="task in day.events | filter: vm.calendarConfig.searchStr  | orderBy: '-lastUpdateDateTime'">
                <gsi-task-item item="task" filter="vm.calendarConfig.filter"></gsi-task-item>
            </div>

        </md-virtual-repeat-container>
    </div> -->

    <div class="week-view task-list-container">
        <div class="items-container" style="height: auto"
                                     layout="column"
                                     layout-align="start none" >
            <div ng-repeat="task in day.events | taskFilter: vm.calendarConfig.searchStr  | orderBy: '-lastUpdateDateTime'">
                <gsi-task-item item="task" filter="vm.calendarConfig.filter"></gsi-task-item>
            </div>

        </div>
    </div>
</script>
<script id="customDayItem.html" type="text/ng-template">
   <div layout="row" layout-align="start center">
       <div class="day-view task-list-container" flex flex-gt-md="50" flex-md="80">
           <md-virtual-repeat-container class="items-container"
                                        layout="column"
                                        layout-align="start none" >
               <div style="padding:5px;" ng-if="vm.dayEvents.length===0">
                   No tasks.
               </div>
               <div md-virtual-repeat="task in vm.dayEvents | statusFilter: vm.calendarConfig.filter | taskFilter: vm.calendarConfig.searchStr |  orderBy: '-lastUpdateDateTime'">
                   <gsi-task-item item="task" ></gsi-task-item>
               </div>

           </md-virtual-repeat-container>
       </div>
   </div>

</script>
<script id="customCalendarMonthCell.html" type="text/ng-template">
  <div mwl-droppable="" on-drop="vm.handleEventDrop(dropData.event, day.date, dropData.draggedFromDate)" class="cal-month-day cal-day-inmonth cal-day-past" ng-class="{
    'cal-day-outmonth': !day.inMonth,
    'cal-day-inmonth': day.inMonth,
    'cal-day-weekend': day.isWeekend,
    'cal-day-past': day.isPast,
    'cal-day-today': day.isToday,
    'cal-day-future': day.isFuture
  }">
  <div style="position: absolute; bottom: 10px; right: 5px">

  <!--<small  ng-click="vm.onBadgeClick({dayEvents: (day.events | statusFilter:vm.calendarConfig.filter | filter: vm.calendarConfig.searchStr), event: $event})"
   class="cal-events-num badge badge-important pull-left" ng-show="day.badgeTotal > 0"
   ng-bind="(day.events | statusFilter:vm.calendarConfig.filter | filter: vm.calendarConfig.searchStr).length"></small>-->

   <small ng-repeat="status in vm.calendarConfig.status"
          ng-click="vm.onBadgeClick({dayEvents: ((day.events | filter:{taskProgressStatusId:{taskProgressStatusId:status.taskProgressStatusId}}) | taskFilter: vm.calendarConfig.searchStr), event: $event})"
          ng-show="vm.calendarConfig.filter[status.taskProgressStatusId].show"
          ng-class="vm.calendarConfig.filter[status.taskProgressStatusId].css" class="badge badge-important pull-left"
          ng-if="((day.events | filter:{taskProgressStatusId:{taskProgressStatusId:status.taskProgressStatusId}}) | taskFilter: vm.calendarConfig.searchStr).length > 0"
          ng-bind="((day.events | filter:{taskProgressStatusId:{taskProgressStatusId:status.taskProgressStatusId}}) | taskFilter: vm.calendarConfig.searchStr).length"></small>
  </div>
  <span class="pull-right" data-cal-date="" ng-click="vm.calendarCtrl.dateClicked(day.date)" ng-bind="day.label" ng-if="!(day.isDateHidden === true)"></span>
</div>

</script>

<div ng-controller="CalendarTemplate as calendarTemplate" style="padding-right: 10px; overflow: hidden">

    <mwl-calendar
        view="task.time.view"
        view-date="task.time.date"
        events="task.tasks"
        view-title="task.time.title"
        on-event-click="task.timeClick( calendarEvent )"
        on-badge-click="task.badgeClick( dayEvents, event )"
        cell-is-open="true"
        slide-box-disabled="true">
    </mwl-calendar>
</div>
