
<div>
	<div>
		<md-button class="md-icon-button md-primary" aria-label="Previous" mwl-date-modifier date="task.time.date" decrement="task.time.view">
			<md-tooltip>Previous</md-tooltip>
			<md-icon md-svg-icon="arrow-left"></md-icon>
		</md-button>
		<md-button class="md-icon-button md-primary" aria-label="Today" mwl-date-modifier date="task.time.date"set-to-today>
			<md-tooltip>Today</md-tooltip>
			<md-icon md-svg-icon="calendar-today"></md-icon>
		</md-button>
		
		<span style="font-size: 20px; width: 150px; position: relative; top: 4px">{{task.time.title}}</span>
		
		<md-button class="md-icon-button md-primary" aria-label="Next" mwl-date-modifier date="task.time.date" increment="task.time.view">
			<md-tooltip>Next</md-tooltip>
			<md-icon md-svg-icon="arrow-right"></md-icon>
		</md-button>

		<md-button class="md-icon-button md-primary" aria-label="Organize by day"   ng-click="task.time.view = 'day'">
			<md-tooltip>Daily view</md-tooltip>
			<md-icon md-svg-icon="view-day"></md-icon>
		</md-button>
		<md-button class="md-icon-button md-primary" aria-label="Organize by week"  ng-click="task.time.view = 'week'">
			<md-tooltip>Weekly view</md-tooltip>
			<md-icon md-svg-icon="view-week"></md-icon>
		</md-button>
		<md-button class="md-icon-button md-primary" aria-label="Organize by month" ng-click="task.time.view = 'month'">
			<md-tooltip>Monthly view</md-tooltip>
			<md-icon md-svg-icon="view-module"></md-icon>
		</md-button>
		<md-input-container style="margin: 0px; position: relative; top: 6px">
		  <label>Search</label>
		  <md-icon md-svg-icon="magnify"></md-icon>
		  <!--<input ng-model="task.search.time">-->
		  <input ng-model="task.search.time" ng-model-options="{ debounce: 500 }" ng-change="task.searchCalendarTask()"/>
		</md-input-container>
	</div>
</div>