md-tab(label="Calendar")
  md-content(class="md-padding", style="overflow-x: hidden;")
    div(align='center')
      label(id='lblTaskFilter', style='font-weight: bold;', ng-if='task.taskBadgeData.isFiltered === true || (task.taskBadgeData.isFiltered === false && task.taskBadgeData.email !== undefined && task.loginedUser.email !== task.taskBadgeData.email)') {{task.taskBadgeFilter.data.descriptionText}}
      label(id='lblConjunction', style='font-weight: bold;', ng-if='task.taskBadgeData.isFiltered === true') - 
      a(id='lkRemoveTaskFilter', href='javascript:void(0);', ng-click='task.clearTaskBadgeFilter($event)', ng-if='task.taskBadgeData.isFiltered === true')
        | Remove Filter
    //div(ng-if='task.showSubordinateTask === true', align='center')
    //      label(id='lblTaskSubordinate', style='font-weight: bold;') {{task.currentUser.firstName}} {{task.currentUser.lastName}}'s Task Page
    div(flex,
        ng-if="task.loadedTabs[task.appTabs.indexOf('time')]||task.selectedTab===task.appTabs.indexOf('time')", 
        ng-init="task.loadedTabs[task.appTabs.indexOf('time')]=true")
      include header.html
      include body.html