<div>
    <div>Redux Connect page</div>
    <div layout="row">
      <div flex="50">
        <canvas id="line" class="chart chart-line" chart-data="content.data" chart-labels="content.labels" chart-legend="true" chart-series="content.series" chart-click="content.onClick">
            </canvas>
      </div>
      <div flex="50">
        <canvas id="line" class="chart chart-line" chart-data="content.data" chart-labels="content.labels" chart-legend="true" chart-series="content.series" chart-click="content.onClick">
            </canvas>
      </div>
    </div>

    <div layout="row">
      <div flex="50">
        <canvas id="line" class="chart chart-line" chart-data="content.data" chart-labels="content.labels" chart-legend="true" chart-series="content.series" chart-click="content.onClick">
            </canvas>
      </div>
      <div flex="50">
        <canvas id="line" class="chart chart-line" chart-data="content.data" chart-labels="content.labels" chart-legend="true" chart-series="content.series" chart-click="content.onClick">
            </canvas>
      </div>
    </div>
</div>