md-dialog.agreement-dialog.md-body-1.samhsa(aria-label='SAMHSA Redisclosure Warning' flex="50")
    md-toolbar
        div.md-toolbar-tools
            h2 SAMHSA Redisclosure Warning
    div(layout="column" layout-padding)
        md-content.dialog-content(flex)
            div.heading IMPORTANT - - READ CAREFULLY:
            p The information you are receving contains data that is, or may have been, derived from a data provider that is subject to the Substance Abuse and Mental Health Services Administration (SAMHSA)confidentiality regulations. To the extent the data you are receiving contains such protected SAMHSA data, such information has been disclosed to you from records protected by Federal confidentiality rules (42 CFR part 2). The Federal rules prohibit you from making any further disclosure of this information unless further disclosure is expressly permitted by the written consent of the person to whom it pertains or as otherwise permitted by 42 CFR part 2. A general authorization for the release of medical or other information is NOT sufficient for this purpose. The Federal rules restrict any use of the information to criminally investigate or prosecute any alcohol or drug abuse patient.
        div(flex="nogrow")
            md-checkbox(ng-model="agree" style="margin-bottom:0;") I have read and understand the redisclosure warning.
    md-dialog-actions(layout="row" layout-align="center center")
            md-button(ng-click="submit()" ng-disabled="!agree") I Agree
            md-button(ng-click="decline()") I Decline