<md-dialog aria-label="Task Details"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
          <h2>Task Details <span ng-if="scope.isSystem(data)">(System Task)</span><span ng-if="!scope.isSystem(data)">(User Task)</span></h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="choose('cancel')" aria-label="Cancel">
            <md-icon md-svg-icon="close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
      
    <md-dialog-content>
    <md-content layout-padding>        
            <md-button ng-if="scope.isPatient(data)" ng-click="loadCarePlan(item.patientId.patientId)" aria-label="Care Plan">
                <md-icon md-svg-icon="account"></md-icon>
                View in Care Plan
            </md-button>

            <md-input-container class="md-block" flex-gt-sm>
              <label>Title</label>
              <input ng-disabled="scope.isSystem(data)" ng-model="item.userTaskTitle">
            </md-input-container>

            <md-input-container class="md-block">
              <label>Details</label>
              <textarea ng-model="data.userTaskDescr" md-maxlength="1000" rows="5" md-select-on-focus></textarea>
            </md-input-container>

            <md-datepicker ng-disabled="scope.isSystem(data)" class="md-block" ng-model="data.dueDateTime" md-placeholder="Due date">
            </md-datepicker>
            
            <p>ID: {{data.userTaskId}}</p>
            <p>Created: {{data.creationDateTime | date: 'short'}}</p>
            <p>Last updated: {{data.lastUpdateDateTime | date: 'short'}}</p>
    </md-dialog-content>
      
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="choose('ok')">OK</md-button>
      <md-button ng-click="choose('cancel')">Cancel</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>