<md-dialog aria-label="New Task" ng-cloak="">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>New Task</h2>
                <span flex=""></span>
                <md-button class="md-icon-button" ng-click="answer('cancel')">
                    <md-icon md-svg-icon="close" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <md-content layout-padding="">
                <div>
                    <div layout-gt-lg="row">
                        <md-input-container>
                            <label>Name</label>
                            <input ng-model="userTask.userTaskTitle">
                        </md-input-container>
                    </div>
                    <md-datepicker class="md-block" ng-model="userTask.dueDateTime" md-placeholder="Due date"> </md-datepicker>
                    <md-input-container class="md-block">
                        <label>Type</label>
                        <md-select ng-model="taskTypes">
                            <md-option ng-repeat="type in taskTypes" value="{{type.name}}">{{type.name}}</md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <md-input-container class="md-block">
                    <label>Details</label>
                    <textarea ng-model="userTask.userTaskDescr" md-maxlength="150" rows="5" md-select-on-focus=""></textarea>
                </md-input-container>
            </md-content>
        </md-dialog-content>
    </form>
    <md-dialog-actions layout="row">
        <md-button ng-click="answer('ok')">OK</md-button>
        <md-button ng-click="answer('cancel')">Cancel</md-button>
    </md-dialog-actions>
</md-dialog>