

<div ng-controller="AppTaskController as task" layout="row" class="simpleDemo md-inline-form" layout-align="center" ng-cloak flex>
    <div>Here</div>
  <md-content flex>
    <span layout="row" style="display:inline;position:absolute;right:0px;padding:5px;z-index:10000;">
  
 <section layout="row">
         <md-button class="md-icon-button md-primary" aria-label="New" ng-click="task.newAdvTask($event)">
        <md-tooltip>New</md-tooltip>
        <md-icon md-svg-icon="plus"></md-icon>
      </md-button>
  <md-button class="groupX left" ng-click="task.taskFilterToggle('todo')" ng-class="{'toggled': task.taskFilters.todo}">To-Do</md-button>
  <md-button class="groupX middle" ng-click="task.taskFilterToggle('inProg')" ng-class="{'toggled': task.taskFilters.inProg}">In Progress</md-button>
  <md-button class="groupX middle"ng-click="task.taskFilterToggle('done')" ng-class="{'toggled': task.taskFilters.done}">Done</md-button>
  <md-button class="groupX right"ng-click="task.taskFilterToggle('canceled')" ng-class="{'toggled': task.taskFilters.canceled}">Canceled</md-button>

    </section>
    </span>


    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Status">
        <md-content style="background-color: #f6f6f6;" class="md-padding">
          <div layout-gt-sm="row">
            <div flex-gt-sm="50" layout="row">
              <md-card flex="50" style="background: #fee;"  ng-if="task.taskFilters.todo">
                <md-card-title>
                  <md-card-title-text>
                    <span style="padding-left: 15px; " class="md-headline">To-Do</span>
                  </md-card-title-text>
                </md-card-title>
                <md-card-content>
<!--
                  <div ng-repeat="(listName, list) in task.models.lists" class="col-md-6">
                    <div class="panel panel-info">
                      <div class="panel-heading">
                        <h3 class="panel-title">List {{listName}}</h3>
                      </div>
                      <div class="panel-body">
                        <ul dnd-list="list">
    
                          <li ng-repeat="item in list" dnd-draggable="item" dnd-moved="list.splice($index, 1)" dnd-effect-allowed="move" dnd-selected="models.selected = item" ng-class="{'selected': models.selected === item}">
                            {{item.label}}
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
-->

                  <md-list-item ng-show="task.status == 0" dnd-list="task.tasks" ng-repeat="task in task.tasks" ng-click="" dnd-draggable="task" dnd-drop="task.taskStatus($index, $event, $item)" dnd-effect-allowed="copy" dnd-selected="models.selected = task" ng-class="{'selected': models.selected === task}">
                    <p>{{ task.name }}</p>
                    <md-icon md-svg-icon="dots-vertical" ng-click="" aria-label="Open Chat" class="md-secondary md-hue-3"></md-icon>
                  </md-list-item>
                </md-card-content>
              </md-card>
              <md-card flex="50" layout="column" layout-align="top" flex style="background: #ffe;"  ng-if="task.taskFilters.inProg">
                <md-card-title>
                  <md-card-title-text>
                    <span style="padding-left: 15px" class="md-headline">In Progress</span>
                  </md-card-title-text>
                </md-card-title>
                <md-card-content>
                  <md-list-item ng-show="task.status == 1" dnd-list="task.tasks" ng-repeat="task in task.tasks" ng-click="" dnd-drop="task.taskStatus($index, 1)" dnd-draggable="task" dnd-effect-allowed="copy" dnd-selected="models.selected = task" ng-class="{'selected': models.selected === task}">
                    <p>{{ task.name }}</p>
                    <md-icon md-svg-icon="dots-vertical" ng-click="" aria-label="Open Chat" class="md-secondary md-hue-3"></md-icon>
                  </md-list-item>
                </md-card-content>
              </md-card>
            </div>
            
            
            
            
            <div flex-gt-sm="50" layout="row">
              <md-card flex="50" style="background: #efe;" ng-show="task.taskFilters.done">
                <md-card-title>
                  <md-card-title-text>
                    <span style="padding-left: 15px" class="md-headline">Done</span>
                  </md-card-title-text>
                </md-card-title>
                <md-card-content>
                  <md-list-item ng-show="task.status == 2" dnd-list="task.tasks" ng-repeat="task in task.tasks" ng-click="" dnd-drop="task.status($index, 2)" dnd-draggable="task" dnd-effect-allowed="move" dnd-selected="models.selected = task" ng-class="{'selected': models.selected === task}">
                    <p>{{ task.name }}</p>
                    <md-icon md-svg-icon="dots-vertical" ng-click="" aria-label="Open Chat" class="md-secondary md-hue-3"></md-icon>
                  </md-list-item>
                </md-card-content>
              </md-card>
              <md-card flex="50" style="background: #eee;"  ng-show="task.taskFilters.canceled">
                <md-card-title>
                  <md-card-title-text>
                    <span style="padding-left: 15px" class="md-headline">Canceled</span>
                  </md-card-title-text>
                </md-card-title>
                <md-card-content>
                  <md-list-item ng-show="task.status == 3" dnd-list="task.tasks" ng-repeat="task in task.tasks" ng-click="" dnd-drop="task.status($index, 3)" dnd-draggable="task" dnd-effect-allowed="move" dnd-selected="models.selected = task" ng-class="{'selected': models.selected === task}">
                    <p ng-show="task.status == 3">{{ task.name }}</p>
                    <md-icon md-svg-icon="dots-vertical" ng-click="" aria-label="Open Chat" class="md-secondary md-hue-3"></md-icon>
                  </md-list-item>
                </md-card-content>
              </md-card>
            </div>
          </div>
        </md-content>
      </md-tab>
      <md-tab label="Time">
        <md-content style="background-color: #f6f6f6;" class="md-padding">
          <h1 class="md-display-2">Tab Two</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur
            felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus. Vivamus convallis sodales ante varius gravida. Curabitur a purus vel augue ultrices
            ultricies id a nisl. Nullam malesuada consequat diam, a facilisis tortor volutpat et. Sed urna dolor, aliquet vitae posuere vulputate, euismod ac lorem. Sed felis risus, pulvinar at interdum quis, vehicula sed odio. Phasellus in enim venenatis,
            iaculis tortor eu, bibendum ante. Donec ac tellus dictum neque volutpat blandit. Praesent efficitur faucibus risus, ac auctor purus porttitor vitae. Phasellus ornare dui nec orci posuere, nec luctus mauris semper.</p>
          <p>Morbi viverra, ante vel aliquet tincidunt, leo dolor pharetra quam, at semper massa orci nec magna. Donec posuere nec sapien sed laoreet. Etiam cursus nunc in condimentum facilisis. Etiam in tempor tortor. Vivamus faucibus egestas enim, at convallis
            diam pulvinar vel. Cras ac orci eget nisi maximus cursus. Nunc urna libero, viverra sit amet nisl at, hendrerit tempor turpis. Maecenas facilisis convallis mi vel tempor. Nullam vitae nunc leo. Cras sed nisl consectetur, rhoncus sapien sit
            amet, tempus sapien.</p>
          <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu
            orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
        </md-content>
      </md-tab>   
      <md-tab label="List">
      <md-content style="height: 600px;" md-theme="altTheme">
    <section>
      <md-subheader class="md-warn">Past Due</md-subheader>
      <md-list layout-padding>
        <md-list-item class="md-3-line" ng-repeat="message in task.messages">
            <img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">
            <div class="md-list-item-text">
              <h3>{{message.what}}</h3>
              <h4>{{message.who}}</h4>
              <p>
                {{message.notes}}
              </p>
            </div>
        </md-list-item>
      </md-list>
    </section>
    <section>
      <md-subheader>Due this week</md-subheader>
      <md-list layout="column">
  <md-list-item ng-repeat="task in task.tasks" ng-click="goToPerson(task, $event)">
    <p>{{ task.name }}</p>
    <md-icon md-svg-icon="dots-vertical" ng-click="doSecondaryAction($event)" aria-label="Open Chat" class="md-secondary md-hue-3" ng-class="{'md-primary': person.newMessage}"></md-icon>
  </md-list-item>
      </md-list>
    </section>
    <section>
      <md-subheader>Due this month</md-subheader>
      <md-list layout="column" layout-padding>
        <md-list-item class="md-3-line" ng-repeat="message in task.messages">
          <img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">
          <div class="md-list-item-text">
            <h3>{{message.what}}</h3>
            <h4>{{message.who}}</h4>
            <p>
              {{message.notes}}
            </p>
          </div>
        </md-list-item>
      </md-list>
    </section>
    <section>
  
      <md-subheader class="md-primary">No due date</md-subheader>
      <md-list layout="column" layout-padding>
        <md-list-item class="md-3-line" ng-repeat="message in task.messages">
          <img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">
          <div class="md-list-item-text">
            <h3>{{message.what}}</h3>
            <h4>{{message.who}}</h4>
            <p>
              {{message.notes}}
            </p>
          </div>
        </md-list-item>
      </md-list>
    </section>
  </md-content>
      </md-tab>
    </md-tabs>

  </md-content>
</div>