<center>
    <h1>This is a basic parent window example</h1>
    <button onclick="window.parent.postMessage({name: 'TREAT', payload: {event: 'test', close: true, id: 123, data: 456, somethingElse: 'test'}}, '*')">Send a TREAT message</button>
</center>
