md-toolbar(ng-style="{'background-color': data.color}")
  .md-toolbar-tools
    h2(flex) {{data.title}}
    md-button.md-icon-button(flex="nogrow" ng-click="choose('cancel')", aria-label='Cancel')
      md-icon(md-svg-icon='close')