 <script type="text/ng-template" id="editUserProfile.tpl.html"> 
    <div id="import-popup">
        <md-toolbar class="panel-title" style="width: 800px">
            <div class="md-toolbar-tools">
                <h2 style="text-transform: capitalize;">Enrollment & Care Team Mangement</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="panelCtrl.cancel()" arial-label="cancel">
                    <md-icon md-svg-icon="close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-content style="max-height: 500px;" gsi-scroll>
            <form name="editUserForm">
                <div class="panel-content" layout-padding layout="column">
                    <div layout="row">
                        <md-input-container flex="15">
                            <label>Prefix</label>
                            <md-select md-on-open="panelCtrl.onSelectOpen()" ng-model="panelCtrl.user.title">
                                <md-option ng-value="prefix" ng-repeat="prefix in panelCtrl.app.prefixes" ng-bind="prefix"></md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container flex="35">
                            <label>First Name</label>
                            <input ng-model="panelCtrl.user.firstName" required>
                        </md-input-container>
                        <md-input-container flex="35">
                            <label>Last Name</label>
                            <input ng-model="panelCtrl.user.lastName" required>
                        </md-input-container>
                        <md-input-container flex="15">
                            <label>Credential</label>
                            <md-select md-on-open="panelCtrl.onSelectOpen()" ng-model="panelCtrl.user.credential">
                                <md-option ng-value="credential" ng-repeat="credential in panelCtrl.app.credentials" ng-bind="credential"></md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container flex>
                            <label>NPI</label>
                            <input ng-model="panelCtrl.user.NPI" required>
                        </md-input-container>
                        <md-input-container flex>
                            <label>Primary Pracitioner Facility</label>
                            <input ng-model="panelCtrl.user.organizationName" required>
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container flex>
                            <md-icon class="md-warn md-hue-2" md-svg-icon="gender-transgender"></md-icon>                            
                            <label>Gender</label>
                            <md-select md-on-open="panelCtrl.onSelectOpen()" ng-model="panelCtrl.user.gender">
                                <md-option ng-value="key" ng-repeat="(key, value) in panelCtrl.app.genders" ng-bind="value"></md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container flex>
                            <label>DOB</label>
                            <md-datepicker id="userProfileDob" ng-model="panelCtrl.user.dob"></md-datepicker>
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container flex>
                            <md-icon class="md-warn md-hue-2" md-svg-icon="cellphone-android"></md-icon>
                            <label>Phone Number</label>
                            <input phone ng-model="panelCtrl.user.mobileNumber" ng-pattern="/^[0-9]{3}-[0-9]{3}-[0-9]{4}$/">
                        </md-input-container>
                        <md-input-container flex>
                            <label>Extension</label>
                            <input ng-model="panelCtrl.user.phoneExtn">
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container flex>
                            <md-icon class="md-warn md-hue-2" md-svg-icon="email"></md-icon>  
                            <label>Direct Address</label>
                            <input ng-model="panelCtrl.user.directAddress">                        
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container flex>
                            <md-icon class="md-warn md-hue-2" md-svg-icon="map-marker"></md-icon>   
                            <label>Address</label>
                            <input ng-model="panelCtrl.user.streetAddress1" required>                        
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container flex>
                            <label>Address Line 2</label>
                            <input ng-model="panelCtrl.user.streetAddress2">                        
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container flex="50">
                            <label>City</label>
                            <input ng-model="panelCtrl.user.city" required>                        
                        </md-input-container>
                        <md-input-container flex="25">
                            <label>State</label>
                            <md-select md-on-open="panelCtrl.onSelectOpen()" ng-model="panelCtrl.user.state" required>
                                <md-option ng-value="key" ng-repeat="(key, value) in panelCtrl.app.states" ng-bind="value"></md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container flex="25">
                            <label>Zip Code</label>
                            <input ng-model="panelCtrl.user.zipCode" required>                        
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container flex>
                            <label>Email</label>
                            <input ng-model="panelCtrl.user.email" type="email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/">
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container flex>
                            <label>Specialty</label>
                            <input ng-model="panelCtrl.user.specialty">
                        </md-input-container>
                        <md-input-container flex>
                            <label>Care Team Role</label>
                            <md-select ng-disabled="panelCtrl.IS_EDITMODE" md-on-open="panelCtrl.onSelectOpen()" ng-model="panelCtrl.user.roleId" required>
                                <md-option ng-value="key" ng-repeat="(key, value) in panelCtrl.app.careteamRoles" ng-bind="value"></md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                </div>
            </form>
        </md-content>
        <div class="panel-action" layout="row">
            <md-button id="btnConfirmNo" class="md-warn" ng-click="panelCtrl.cancel()">Back</md-button>
            <span flex></span>            
            <md-button id="btnConfirmYes" ng-disabled="editUserForm.$invalid" class="md-primary" ng-click="panelCtrl.ok()">{{panelCtrl.IS_EDITMODE? 'Save' : 'Add'}}</md-button>            
        </div>
    </div>
 </script> 