div(ng-controller='appHomeController as home', layout='column' layout-fill layout-align='center' ng-cloak flex class='simpleDemo')
    //- include body.html
    include tabs.html
    include userProfile.html
    include editUserProfile.html