<md-content layout-fill>
    <span id="home-toolbar" layout="row">
        <md-button class="md-icon-button md-primary md-button" ng-click="home.changeUserView()" md-ink-ripple>
            <md-icon md-svg-icon="refresh"></md-icon>
            <md-tooltip>Refresh</md-tooltip>
        </md-button>
        </span>
    <md-tabs layout-fill md-selected="selectedIndex" md-border-bottom nvd3-resize-patch>
        <md-tab layout-fill md-on-select="tab.isLoaded=true" style="background-color: #f5f5f5" ng-repeat="tab in home.dashboards | filterTabs" ng-disabled="tab.disabled" label="{{tab.title}}">
            <md-grid-list style="margin-top: 10px;" ng-if="tab.isLoaded" md-gutter="{{tab.layout['md-gutter']}}" md-row-height="{{tab.layout['md-row-height']}}"
                md-cols-xs="{{tab.layout['md-cols-xs']}}"
                md-cols-gt-sm="{{tab.layout['md-cols-gt-sm']}}"
                md-cols-gt-md="{{tab.layout['md-cols-gt-md']}}"
                md-cols="{{tab.layout['md-cols']}}">
                <md-grid-tile ng-repeat="widget in tab.widgets | filterWidget"
                    md-rowspan-gt-xs="{{widget.layout['md-rowspan-gt-xs']}}"
                    md-rowspan-gt-sm="{{widget.layout['md-rowspan-gt-sm']}}"
                    md-rowspan-gt-md="{{widget.layout['md-rowspan-gt-md']}}"
                    md-rowspan="{{widget.layout['md-rowspan']}}"
                    md-colspan-gt-xs="{{widget.layout['md-colspan-gt-xs']}}"
                    md-colspan-gt-sm="{{widget.layout['md-colspan-gt-sm']}}"
                    md-colspan-gt-md="{{widget.layout['md-colspan-gt-md']}}"
                    md-colspan="{{widget.layout['md-colspan']}}"
                    ng-class="{'noborder': widget.type==='offset'}">
                    <parse-widget ng-style="widget.styles" config="widget"></parse-widget>
                </md-grid-tile>
            </md-grid-list>
        </md-tab>
    </md-tabs>
</md-content>
