<script type="text/ng-template" id="userProfile.tpl.html">
    <div id="import-popup">
        <md-toolbar class="panel-title">
            <div class="md-toolbar-tools">
                <h2 style="text-transform: capitalize;">Enrollment & Care Team Mangement</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="panelCtrl.cancel()" arial-label="cancel">
                    <md-icon md-svg-icon="close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <div class="panel-content padding-32" style="padding-bottom: 16px" layout="column">
            <div layout="row">
                <span class="profile-avatar" style="background: #eeb864; border-color: #eeb864" ng-bind="panelCtrl.user.lastName[0]"></span>
                <div flex layout="column">
                    <span class="profile-title">
                        <span ng-if="panelCtrl.user.title" ng-bind="panelCtrl.user.title + ' '"></span><span ng-bind="panelCtrl.user.firstName + ' ' + panelCtrl.user.lastName"></span><span ng-if="panelCtrl.user.credential" ng-bind="', ' + panelCtrl.user.credential"></span>
                    </span>
                    <span class="profile-subtitle">NPI: {{panelCtrl.user.NPI}}</span>                    
                    <span class="profile-subtitle marked">
                        <md-icon class="md-warn md-hue-2" md-svg-icon="domain"></md-icon>
                        {{panelCtrl.user.organizationName}}
                    </span>
                </div>
            </div>
            <md-divider style="margin-top: 16px"></md-divider>
            <ul class="profile-list">
                <li class="profile-item" layout="row">
                    <md-icon class="md-warn md-hue-2" md-svg-icon="cake-variant"></md-icon>                    
                    <span flex class="infor" ng-bind="'DOB: ' + (panelCtrl.user.dob | date:'MM/dd/yyyy')"></span>
                </li>
                <li class="profile-item" layout="row">
                    <md-icon class="md-warn md-hue-2" md-svg-icon="human-male-female"></md-icon>
                    <span flex class="infor" ng-bind="'GENDER: ' + panelCtrl.gender[panelCtrl.user.gender]"></span>
                </li>
                <li class="profile-item" layout="row">
                    <md-icon class="md-warn md-hue-2" md-svg-icon="cellphone-android"></md-icon>                    
                    <span flex class="infor">{{panelCtrl.user.mobileNumber | phone}}<span ng-if="panelCtrl.user.mobileNumber && panelCtrl.user.phoneExtn">{{' ext '+ panelCtrl.user.phoneExtn}}</span></span>
                </li>
                <li class="profile-item" layout="row">
                    <md-icon class="md-warn md-hue-2" md-svg-icon="email"></md-icon>                                        
                    <span flex class="infor">{{panelCtrl.user.directAddress}}</span>
                </li>
                <li class="profile-item not-margin" layout="row">
                    <md-icon class="md-warn md-hue-2" md-svg-icon="map-marker"></md-icon>                                        
                    <span flex class="infor">{{panelCtrl.user.streetAddress1}}<span ng-if="panelCtrl.user.streetAddress2">{{ ', ' + panelCtrl.user.streetAddress2}}</span>{{', ' + panelCtrl.user.city + ', ' + panelCtrl.user.state + ' ' + panelCtrl.user.zipCode}}</span>
                </li>
            </ul>
            <md-divider></md-divider>
        </div>
        <div class="panel-action" layout="row">
            <md-button id="btnConfirmNo" class="md-warn" ng-click="panelCtrl.cancel()">Back</md-button>
            <span flex></span>            
            <md-button id="btnConfirmYes" ng-if="panelCtrl.user.userType==='EXTERNAL'" class="md-primary" ng-click="panelCtrl.ok()">Edit</md-button>            
        </div>
    </div>
</script>