<md-dialog-content ng-init="scope.alertPatientList=[];scope.patientSearchTxt = '';scope.isPatientListError = false;">
    <md-content class="error-wrapper">
        <error ng-if="scope.isPatientListError === true"
               msg="'Error Occurred: We encountered a problem. Please try again later.'">
        </error>
        <div ng-if="scope.alertPatientList.length===0 && scope.patientCount===-1 && !scope.isPatientListError" class="progress-container" style="top: 100px" layout="row" layout-align="center center">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
        <div id="popup-header" layout="row">
            <span class="title" ng-if="data.popupType==='NO_ENCOUNTER' && scope.patientCount<=500 && scope.patientCount>0">
                Displaying {{scope.alertPatientList.length}} results which contain '{{scope.patientSearchText}}'
            </span>
            <div flex></div>
            <div>
                <span>Search</span>
                <input ng-model="scope.patientSearchTxt" ng-change="scope.hideTooltip()" id="patient-search">
            </div>
        </div>
        <div layout="row" layout-wrap>
            <div hide-xs layout="row" class="table-header" ng-style="tableWidth">
                <div layout="row" class="flex-100 padding">
                    <div style="width:30px"></div>
                    <div flex layout="row">
                        <div hide show-sm show-xs flex class="secondary-text">
                            <span class="column-title name" id="lblName" ng-click="scope.changeSortColumn('firstname', $event)" ng-class="scope.sortOrder">Name</span>
                        </div>
                        <div hide-sm hide-xs flex class="secondary-text">
                            <span class="column-title" id="lblLastName" ng-click="scope.changeSortColumn('lastname', $event)" ng-class="scope.sortOrder">Last Name</span>
                        </div>
                        <div hide-sm hide-xs flex class="secondary-text">
                            <span class="column-title" id="lblFirstName" ng-click="scope.changeSortColumn('firstname', $event)" ng-class="scope.sortOrder">First Name</span>
                        </div>
                        <div class="secondary-text flex-10">
                            <span class="column-title" id="lblPatientId" ng-click="scope.changeSortColumn('patientId', $event)" ng-class="scope.sortOrder">ID</span>
                        </div>
                        <div class="secondary-text flex-10">
                            <span class="column-title" id="lblGender" ng-click="scope.changeSortColumn('gender', $event)" ng-class="scope.sortOrder">Gender</span>
                        </div>
                        <div flex class="secondary-text">
                            <span class="column-title" id="lblDOB" ng-click="scope.changeSortColumn('dob', $event)" ng-class="scope.sortOrder">DOB</span>
                        </div>
                        <div hide show-sm show-xs flex class="secondary-text">
                            <span class="column-title" id="lblPayer" ng-click="scope.changeSortColumn('primaryPayerClass', $event)" ng-class="scope.sortOrder" ng-class="scope.sortOrder">Primary Payer</span>
                        </div>
                        <div hide-sm hide-xs flex class="secondary-text">
                            <span class="column-title" id="lblPayerClass" ng-click="scope.changeSortColumn('primaryPayerClass', $event)" ng-class="scope.sortOrder">Primary Payer Class</span>
                        </div>
                        <div hide-sm hide-xs flex class="secondary-text">
                            <span class="column-title" id="lblMedicaidId" ng-click="scope.changeSortColumn('primaryPayerMedicaidMedicareId', $event)" ng-class="scope.sortOrder">Primary Payer ID</span>
                        </div>
                        <div flex class="secondary-text">
                            <span class="column-title" id="lblOrgName" ng-click="scope.changeSortColumn('orgName', $event)" ng-class="scope.sortOrder">CM Organization</span>
                        </div>
                    </div>
                    <div style="width: 24px"></div>
                </div>
            </div>
            <md-virtual-repeat-container id="tbPatientList" class="patient-list" size-watch="tableWidth">
                <div layout="row" layout-wrap class="flex-100 padding patient-row" ng-class="$index % 2===0 ? 'odd' : 'even'" ng-show="scope.alertPatientList[0]!==false" md-virtual-repeat="patient in scope.alertPatientList | filterPatients: scope.patientSearchTxt | orderBy: scope.sortColumn:scope.reverse">
                    <div class="column-info inlist" layout="row" layout-align="center">
                        <md-icon md-svg-icon="account-star-variant" ng-if="patient.alreadyInList" style="color:rgb(33,150,243)"></md-icon>
                        <md-tooltip ng-if="patient.alreadyInList">{{scope.already_added}}</md-tooltip>
                    </div>
                    <div ng-click="!data.noToolTip && scope.showToolTipInfo(data, patient)" ng-mouseenter="!data.noToolTip && scope.setTooltip($event, 'tooltip-' + $index)" ng-mousemove="!data.noToolTip && scope.setTooltip($event, 'tooltip-' + $index)" ng-class="!data.noToolTip? 'flex info-wrapper clickable' : 'flex info-wrapper'" layout="row" layout-wrap>

                        <div hide show-sm show-xs flex class="secondary-text flex-xs-100 column-info name">
                            {{ patient.lastname }}, {{ patient.firstname }}
                        </div>
                        <div hide-sm hide-xs flex class="secondary-text column-info">
                            {{ patient.lastname }}
                        </div>
                        <div hide-sm hide-xs flex class="secondary-text column-info">
                            {{ patient.firstname }}
                        </div>
                        <div class="secondary-text flex-xs-30 flex-10 column-info id">
                            {{ patient.patientId }}
                        </div>
                        <div class="secondary-text flex-xs-30 flex-10 column-info gender">
                            {{ patient.gender }}
                        </div>
                        <div flex class="secondary-text flex-xs-40 column-info dob">
                            {{ patient.dob | date:"MM/dd/yyyy" }}
                        </div>
                        <div hide show-sm show-xs flex class="secondary-text flex-xs-60 column-info primaryPayer">
                            {{ patient.primaryPayerClass ? patient.primaryPayerClass : '?'}}, {{ patient.primaryPayerMedicaidMedicareId ? patient.primaryPayerMedicaidMedicareId
                            : '?' }}
                        </div>
                        <div hide-sm hide-xs flex class="secondary-text flex-xs-100 column-info">
                            {{ patient.primaryPayerClass }}
                        </div>
                        <div hide-sm hide-xs flex class="secondary-text column-info">
                            {{ patient.primaryPayerMedicaidMedicareId }}
                        </div>
                        <div flex class="secondary-text flex-xs-40 column-info org">
                            {{ patient.orgName }}
                        </div>
                        <md-tooltip ng-if="data.popupType === 'ALERT' && !data.noToolTip" class="custom-tooltip" id="{{'tooltip-' + $index}}">
                            <table>
                                <tr>
                                    <th>Severity</th>
                                    <th>Alert Type</th>
                                </tr>
                                <tr ng-repeat="alert in scope.alertPopupChartData.alertList[patient.patientId] | orderWithPriority:['severity']:[scope.alertPopupChartData.label]" ng-if="$index < scope.numberOfTooltipRows">
                                    <td>{{alert.severity}}</td>
                                    <td>{{alert.alertName}}</td>
                                </tr>
                            </table>
                            <div ng-if="scope.getObjectLength(scope.alertPopupChartData.alertList[patient.patientId]) > scope.numberOfTooltipRows">
                                <hr/>
                                <p class='over-row-notice'>{{ scope.getObjectLength(scope.alertPopupChartData.alertList[patient.patientId]) }} rows exceeds {{scope.numberOfTooltipRows}} rows display limit.</p>
                            </div>
                        </md-tooltip>
                        <md-tooltip ng-if="data.popupType === 'ENCOUNTER' && !data.noToolTip" class="custom-tooltip" id="{{'tooltip-' + $index}}">
                            <table>
                                <tr>
                                    <th>Frequency</th>
                                    <th>Care Plan Encounter</th>
                                </tr>
                                <tr ng-repeat="tooltipData in scope.encountersPopupData.serviceList[patient.patientId] | orderWithPriority:['label2']:[scope.encountersPopupData.label]" ng-if="$index < scope.numberOfTooltipRows">
                                    <td>{{tooltipData.label1}}</td>
                                    <td>{{tooltipData.label2}}</td>
                                </tr>
                            </table>
                            <div ng-if="scope.getObjectLength(scope.encountersPopupData.serviceList[patient.patientId]) > scope.numberOfTooltipRows">
                                <hr/>
                                <p class='over-row-notice'>{{ scope.getObjectLength(scope.encountersPopupData.serviceList[patient.patientId]) }} rows exceeds {{scope.numberOfTooltipRows}} rows display limit.</p>
                            </div>
                        </md-tooltip>
                        <md-tooltip ng-if="data.popupType === 'CCP' && !data.noToolTip" class="custom-tooltip" id="{{'tooltip-' + $index}}">
                            <table>
                                <tr>
                                    <th style="text-transform: capitalize;" ng-bind="data.tooltipTitles[0].toLowerCase()"></th>
                                    <th style="text-transform: capitalize;" ng-bind="data.tooltipTitles[1].toLowerCase()"></th>
                                    <th style="text-transform: capitalize;" ng-if="data.tooltipTitles[2]" ng-bind="data.tooltipTitles[2].toLowerCase()"></th>
                                </tr>
                                <tr ng-repeat="tooltipData in data.tooltip[patient.patientId] | orderWithPriority:data.selectedFields:data.selectedLabels" ng-if="$index < scope.numberOfTooltipRows">
                                    <td>{{tooltipData.label1}}</td>
                                    <td>{{tooltipData.label2}}</td>
                                    <td ng-if="tooltipData.label3">{{tooltipData.label3}}</td>
                                </tr>
                            </table>
                            <div ng-if="scope.getObjectLength(data.tooltip[patient.patientId]) > scope.numberOfTooltipRows">
                                <hr/>
                                <p class='over-row-notice'>{{ scope.getObjectLength(data.tooltip[patient.patientId]) }} rows exceeds {{scope.numberOfTooltipRows}} rows display limit.</p>
                            </div>
                        </md-tooltip>
                    </div>
                    <md-menu class="column-info patient-menu" layout="row" layout-align="center">
                        <md-icon md-svg-icon="dots-vertical" id="btn-menu-{{$index}}" ng-click="$mdOpenMenu($event)" id="btnPatientMenu"></md-icon>
                        <md-menu-content id="menu-container-{{$index}}" class="patient-menu-list-item" width="2">
                            <md-menu-item>
                                <md-button ng-click="scope.openCarebook(patient.patientId)" id="btnCareBook">
                                    <md-icon md-svg-icon="icon_appCareBook"></md-icon>
                                    <span>CareBook</span>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="scope.openEdit(patient.patientId)" id="btnDemographics">
                                    <md-icon md-svg-icon="icon_appEnrollment"></md-icon>
                                    <span>Demographics</span>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="scope.openCareplan(patient.patientId)" id="btnCarePlan">
                                    <md-icon md-svg-icon="icon_appCareplan"></md-icon>
                                    <span>Care Plan</span>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="scope.openWizard(patient.patientId, scope.constants.ENROLLMENT.WIZARD.PROGRAM.ID)" id="btnProgram">
                                    <md-icon md-svg-icon="icon-programs"></md-icon>
                                    <span>Programs</span>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="scope.openWizard(patient.patientId, scope.constants.ENROLLMENT.WIZARD.CARE_TEAM.ID)" id="btnCareteam">
                                    <md-icon md-svg-icon="icon_appCareteams"></md-icon>
                                    <span>Care Team</span>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item ng-if="!patient.alreadyInList">
                                <md-button ng-click="scope.addToPatientList($index, patient)" id="btnAddPatient">
                                    <md-icon md-svg-icon="plus"></md-icon>
                                    <span>Add to Panel</span>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item ng-if="patient.alreadyInList">
                                <md-button ng-click="scope.removeFromPatientList($index, patient)" id="btnRemovePatient">
                                    <md-icon md-svg-icon="close"></md-icon>
                                    <span>Remove from Panel</span>
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
            </md-virtual-repeat-container>
        </div>
    </md-content>
</md-dialog-content>
