md-toolbar
  .md-toolbar-tools(style="width: initial")
    h2
      | {{scope.popupTitle}}
    span(flex='')
    md-button.md-icon-button(ng-click="choose('Close')", aria-label='Cancel')
      md-icon(md-svg-icon='close')