<md-autocomplete id="txtAssignTo" flex="" md-input-name="autocompleteField2" md-input-minlength="1" md-search-text="scope.orgCareteamUserSearch.searchText" md-items="item in scope.orgCareteamUserSearch.query(scope.orgCareteamUserSearch.searchText)" md-item-text="item.lastName + ', ' + item.firstName" md-delay="250" md-floating-label="Assign To" class="nopadding-bottom nopadding-top nomargin-top" style="height: 30px;" md-selected-item="scope.orgCareteamUserSearch.selectedItem">
  <md-item-template>
    <span md-highlight-text="scope.orgCareteamUserSearch.searchText">
      {{item.lastName + ', ' + item.firstName + ' (' + item.organization + ')'}}
    </span>
  </md-item-template>
</md-autocomplete>
<md-input-container>
  <p id="lblAssignNote" ng-if="(scope.orgCareteamUserSearch.selectedItem === undefined || scope.orgCareteamUserSearch.selectedItem.email === undefined)" class="nopadding-bottom dateLabel">
    When field is blank, task defaults to original/previous assignee: ‘ {{scope.taskBadgeData.email && !scope.taskBadgeData.email.contains(';') ? scope.taskBadgeData.lastName + ', ' + scope.taskBadgeData.firstName: scope.loginedUser.lastName + ', ' + scope.loginedUser.firstName}} ‘
  </p>
</md-input-container>
