md-dialog-content
  md-content(layout-padding='', style="overflow-x: hidden").nopadding-top.nopadding-bottom
    form(name="taskNewForm").nomargin-bottom
      md-input-container.md-block(flex-gt-sm='').nomargin-bottom
        label Title
        input(ng-model='data.userTaskTitle', name='titleField', required, maxlength='200')
      include assignment.html
      p.nomargin-bottom.nomargin-top.nopadding-top.nopadding-bottom.datePadding
        span.dateLabel Due Date
      md-datepicker.md-block(md-min-date='scope.minDate', md-max-date='scope.maxDate', ng-model='data.dueDateTime', name="dateField", md-placeholder='Due date', required).nomargin-top
      include patientSearch.html
      include patientCard
      md-input-container.md-block.nopadding-bottom
        label Description
        textarea(ng-model='data.userTaskDescr', name="detailField", md-maxlength='1000', rows='1', max-rows='5', md-select-on-focus='', required)

      md-input-container.md-block(flex-gt-sm='').nopadding-top
        label Status
        md-select(ng-model='data.taskProgressStatusId.taskProgressStatusId')
          md-option(ng-repeat='item in scope.status', value='{{item.taskProgressStatusId}}')
            | {{item.progressStatusDesc}}
