md-dialog-actions(layout='row')
    div(ng-hide="true") {{titleMsg='(*) Please enter Title'}}
    div(ng-hide="true") {{detailMsg='(*) Please enter Detail'}}
    div(ng-hide="true") {{titleDetailMsg='(*) Please enter Title, Detail'}}
    div(ng-hide="true") {{detailMaxLengthMsg='(*) Detail should contain maximum 1000 characters'}}
    div(ng-hide="true") {{dateMsg='(*) Invalid due date'}}

    span.validation-messages(ng-if="taskNewForm.dateField.$invalid") {{dateMsg}}

    span.validation-messages(ng-if="taskNewForm.titleField.$error.required && !taskNewForm.detailField.$error.required && taskNewForm.dateField.$valid") {{titleMsg}}

    span.validation-messages(ng-if="taskNewForm.detailField.$error.required && !taskNewForm.titleField.$error.required && taskNewForm.dateField.$valid") {{detailMsg}}

    span.validation-messages(ng-if="taskNewForm.detailField.$error['md-maxlength'] && !taskNewForm.titleField.$error.required && taskNewForm.dateField.$valid") {{detailMaxLengthMsg}}

    span.validation-messages(ng-if="taskNewForm.titleField.$error.required && taskNewForm.detailField.$error.required && taskNewForm.dateField.$valid") {{titleDetailMsg}}

    span(flex='')
    md-button#btnOk(ng-click="choose('ok')", ng-disabled="taskNewForm.titleField.$invalid || taskNewForm.detailField.$invalid || taskNewForm.dateField.$invalid") OK
    md-button#btnCancel(ng-click="choose('cancel')") Cancel
