.validation-messages {
  font-size: 14px;
  color: #dd2c00;  
}

.nomargin-bottom {
	margin-bottom: 0 !important;
}

.nomargin-top {
	margin-top: 0 !important;
}

.nopadding-top {
	padding-top: 0 !important;
}

.nopadding-bottom {
	padding-bottom: 0 !important;
}
.dateLabel {
	color: rgba(0,0,0,0.54);
	font-size: 11px;
}

.datePadding {
	padding-left: 3px !important;
}
