<p class="nomargin-top">
    Gender - {{scope.patientSearch.selectedItem.gender}}</p>
<p>Date of Birth - {{scope.patientSearch.selectedItem.dob | date : 'M/d/yyyy'}}</p>
<p ng-if="scope.patientSearch.selectedItem.ssn && scope.patientSearch.selectedItem.ssn != '000000000'">
    SSN - {{scope.patientSearch.selectedItem.ssn | ssn }}
</p>
<p ng-if="scope.minorWarning !== undefined" style="color: red;">
    {{scope.minorWarning}}
</p>