md-card(ng-if='scope.patientSearch.selectedItem').nomargin-top.nopadding-top.nopadding-bottom
  md-card-title.nopadding-bottom(style="padding-top: 8px;")
    include patientCardHeader.html
  md-card-content.nopadding-bottom
    include patientCardBody.html
  md-card-actions(layout='row', layout-align='end center', style='padding-bottom: 5px;').nomargin-top.nomargin-bottom
    include patientCardFooter
