<md-autocomplete id="txtPatientSearch" flex="" md-delay="250" md-input-name="autocompleteField" md-input-minlength="1" md-selected-item="scope.patientSearch.selectedItem" md-search-text="scope.patientSearch.searchText" md-items="item in scope.patientSearch.query(scope.patientSearch.searchText)" md-item-text="item.lastname + ', ' + item.firstname" md-floating-label="Patient Search" class="nopadding-bottom nopadding-top" style="height: 65px;" md-selected-item-change="scope.selectedPatientChange(item)">
    <md-item-template>
        <span md-highlight-text="scope.patientSearch.searchText">
            {{item.lastname + ', ' + item.firstname + ' '}}
        </span>
        <span>{{item.gender}}</span>
        <span>{{item.dob | date : 'M/d/yyyy' }}</span>
        <span>(Patient ID - {{item.patientId}})</span>
    </md-item-template>
</md-autocomplete>