<md-sidenav class="md-sidenav-left main-menu main-menu-wrapper inverse"  flex="nogrow" ng-class="{'collapsed':app.isMobile || menuCtrl.mainMenuExpand===false}" md-component-id="MainMenu" md-is-locked-open="!app.mainMenu.isOpen" resize-gwt-on-transition-end="resize-gwt-on-transition-end">
	<md-content layout-fill="layout-fill" layout="column" layout-wrap="layout-wrap" flex="flex">
	<!-- Menu system-->
		<ul gsi-scroll="{suppressScrollX:true,theme:&quot;mainMenu&quot;}" layout-fill="layout-fill" flex="flex">
			<li class="menu-item" ng-class="{'active':app.mainMenu.selectedTabIndex===0}">
				<div class="menu-item-inner" id="appHome_menu" layout="row" ng-class="{'active':app.mainMenu.selectedTabIndex===0}" ng-click="app.event('local:openApp:appHome',{appName: 'appHome'})">
					<div class="menu-tip-wrapper">
						<div class="menu-tip">Home</div>
					</div>
					<md-icon class="icon md-primary" md-svg-icon="home"></md-icon>
					<div class="name" layout="row" layout-align="start center" flex="flex">
						<div>Home</div>
					</div>
				</div>
			</li>
			<li class="menu-item" ng-repeat="item in app.userApps | orderBy : 'displayOrder'" ng-class="{'active':app.mainMenu.selectedTabIndex===item.index}">
				<div class="menu-item-inner" layout="row" id="{{item.name}}_menu" ng-class="[item.css, {'active':app.mainMenu.selectedTabIndex===item.index}]" ng-click="app.event(item.event, item)">
					<div class="menu-tip-wrapper">
						<div class="menu-tip">{{item.screenName}}</div>
					</div>
					<div class="icon">
						<md-icon style="width:48px; height: 48px" md-svg-icon="icon_{{item.name}}"></md-icon>
						<div class="badge" id="{{item.name}}_badge" ng-if="item.count &amp;&amp; app[item.count]&gt;0 &amp;&amp; !app[item.count].isError">{{app[item.count]}}</div>
						<div class="badge badge-error" id="{{item.name}}_badge_error" ng-if="item.count &amp;&amp; app[item.count].isError===true">{{app[item.count].prevValue}}
							<md-tooltip>Count update failed. We’ll try again a few minutes later.</md-tooltip>
						</div>
					</div>
					<div class="name" layout="row" layout-align="start center" flex="flex">
						<div>{{item.screenName}}</div>
					</div>
				</div>
			</li>
		</ul>
	</md-content>
</md-sidenav>
