/*
CSS File
*/

@import "reset.css";

*	{
	margin: 0; padding: 0;
}

body	{
	font: 14px Gill Sans, Georgia, serif;
	
}

a {
	text-decoration:none;
}

#page-wrap	{
	margin: 0 auto;
	position: relative;
}

#header	{
	position: fixed;
	background-image: url('../images/header-images/header-slice.jpg');
	background-repeat: repeat-x;
	width: 100%;
	height: 72px;
	z-index: 1;
}

img#logo	{
	padding-top: 20px;
	padding-left: 20px;
	margin-left: 12%;
	float: left;
	width: 263px;
}

ul#account-details {
	float: right;
	list-style: none;
	margin-right: 170px;
	margin-top: 5px;
}

ul#account-details li	{
	float: left;
	padding-left: 10px;
}

ul#account-details li span.user	{
	font-weight:bold;
	font-size: 12px;
}

ul#account-details li .account, .help, .logout	{
	font-size: 12px;
}

ul#account-details li span a	{
	color: black;
}

ul#account-details li span a:hover	{
	text-decoration: underline;
}

ul#main-nav	{
	float: right;
	clear: right;
	margin-right: 170px;
	margin-top: 5px;
	list-style: none;
}

ul#main-nav li.nav-li	{
	width: 39px;
	height: 37px;
	float: left;
	margin-left: 10px;
	
}

#patient-area	{
	display: inline;
	float:left;
}

#pin	{
	position: relative; 
	float: left;
	top: 23px;
	left: 120px;
	z-index:2;
}

#changepatient	{
	position: fixed;
	left: 420px;
	float: left;
	top: 34px;
}

.home-icon a img	{
	margin-top: 8px;
	margin-left: 10px;
}

li.alert-icon	{
	background-image: url('../images/header-images/icons/alerts-bulb.png');
	background-repeat: no-repeat;
	background-position: 50% 10%;
	border-style: solid;
	border-width: 2px;
	border-color: transparent;
}

li.alert-icon:hover	{
	background-position: 50% 0%;
	background-color: white;
	border-style: solid;
	border-width: 2px;
	border-color: #B4BECE;
	border-bottom-style: none;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	padding-bottom: 7px;
	
}

li.messages-icon	{
	background-image: url('../images/header-images/icons/messages-bulb.png');
	background-repeat: no-repeat;
	background-position: 50% 80%;
	border-style: solid;
	border-width: 2px;
	border-color: transparent;
}

li.messages-icon:hover	{
	background-position: 50% 50%;
	background-color: white;
	border-style: solid;
	border-width: 2px;
	border-color: #B4BECE;
	border-bottom-style: none;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	padding-bottom: 7px;
}

li.apps-icon	{
	background-image: url('../images/header-images/icons/apps-bulb.png');
	background-repeat: no-repeat;
	background-position: 50% 70%;
	border-style: solid;
	border-width: 2px;
	border-color: transparent;
}

li.apps-icon:hover	{
	background-position: 50% 40%;
	background-color: white;
	border-style: solid;
	border-width: 2px;
	border-color: #B4BECE;
	border-bottom-style: none;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	padding-bottom: 7px;
}

li ul	{
	display: none;
	margin-top: 43px;
	float: right;
	background: white;
	border-style: solid;
	border-width: 2px;
	border-color: #B4BECE;
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
	-moz-border-radius-bottomleft: 15px;
	-moz-border-radius-bottomright: 15px;
	-moz-border-radius-topleft: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-webkit-border-bottom-right-radius: 15px;
	-webkit-border-top-left-radius: 15px;
	position:relative;
	left: 2px;
}

li:hover ul	{
	display: block;

}

li ul li	{
	width: 226px;
	padding-left: 5px;
}

ul.apps-dd li div	{
	float: left;
	width: 33.33%;
}

ul.alerts-dd div.alert-item, ul.messages-dd div.message-item {
	height: 80px;
	width: 220px;
}

ul.alerts-dd li img, ul.messages-dd li img	{
	float: left;
	padding-right: 10px;
}

ul.alerts-dd li div.alert-item .alert-title, ul.messages-dd li div.message-item .message-title	{
	font-size: 12px;
	color: #1C2242;
	padding-bottom: 4px;
}

ul.alerts-dd li div.alert-item .alert-content, ul.alerts-dd li div.alert-item .alert-date, ul.messages-dd li div.message-item .message-content, ul.messages-dd li div.message-item .message-date	{
	color: #42597E;
	font-size: 12px;
	padding-bottom: 3px;
}

.apps-dd li div a img	{
	padding:6px;
}

.apps-dd li div a img:hover	{
	background: #DDF0F4;	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

a span	{
	display: block;
}

a span.span5	{
	padding:5px;
}

a span:hover {
	background: #DDF0F4;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

li.dd-bottom	{
	background: #EAEAED;
	width: 100%;
	height: 35px;
	overflow:hidden;
	margin-left: -5px;
	padding-right: 5px;
	-moz-border-radius-bottomleft: 15px;
	-moz-border-radius-bottomright: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-webkit-border-bottom-right-radius: 15px;
	margin-top: 5px;
}

li.dd-bottom:hover	{
	background: #DDF0F4;	
}

li.dd-bottom p {
	text-align: center;
	padding-top: 8px;
}

li.dd-bottom p a {
	font-size: 12px;
	color: #6A7D99;
	text-decoration: underline;	
}

.right-column-overlap {
	height: 2px; margin-top: -12px; background: white; width: 15%; float: right; position: relative; left:5px;
}

.clear {
	clear: both;
}

#content	{
	margin: 0 auto;
}

#content-images	{
	margin: 0 auto;
}


ul.dashboard-apps li div	{
	float: left;
	width: 20%;
}


#chat	{
	position: fixed;
	bottom: 0;
	right: 7.7%;
}

.care-teams	{
	padding-left: 125px;
}

.care-plan	{
	padding-left: 50px;
}

.engagement	{
	padding-left: 122px;
}

.referrals	{
	padding-left: 60px;
}

.messages	{
	padding-left: 10px;
}

.alerts	{
	padding-left: 10px;
}




