md-tab(label="Test")
  md-content(class="md-padding", gsi-scroll)
    div(flex, style="height: 540px;", ng-if="task.loadedTabs[task.appTabs.indexOf('test')]||task.selectedTab===task.appTabs.indexOf('test')", 
        ng-init="task.loadedTabs[task.appTabs.indexOf('test')]=true")
        include body.html