<!-- The app content -->
<div flex layout-padding id="gwtWindow" style="overflow: hidden;">
	<div id="content">
		<!-- Application main content -->
		<div id="dashboardApplicationContent"></div>
	</div>
</div>