<div id="drop-area" class="drop-area" style="background-color: #eee;">
	<div style="background-color: #eee;">
		<div class="drop-area__item" style="background-color: #03A9F4; color: #FAFAFA">ToDo</div>
		<div class="drop-area__item" style="background-color: #FFC107; color: #FAFAFA">In Progress</div>
		<div class="drop-area__item" style="background-color: #4CAF50; color: #FAFAFA">Done</div>
		<div class="drop-area__item" style="background-color: #9E9E9E; color: #FAFAFA">Canceled</div>
	</div>
</div>
<div class="drop-overlay"></div>
