<!-- Footer -->
<footer class="footer app-footer" >
    <div ng-if="app.loggedIn" class="logged-in" layout="row" layout-align="center center">
        <div class="draggable logo-wrapper">
            <img ng-src="images/redux/gsi.png" width="128px"/>
        </div>
        <div gsi-dynamic template="app.settings.components.app.copyright"></div>
    </div>
</footer>