<header class="app-header">
	<!-- The new header -->
	<md-toolbar ng-if="app.loggedIn" id="toolbar" class="md-toolbar-tools">
		<!-- The main menu activator (only shown on mobile) -->
		<md-button ng-if="app.isMobile" class="md-icon-button" id="btnLeftMenu" aria-label="Main Menu" ng-click="app.event('local:mainMenu:toggle')"><md-icon md-svg-icon="menu"></md-icon></md-button>
		<md-button class="md-icon-button expand-btn" style="margin-left:0px" id="MainMenuExpandBtn" ng-if="!app.isMobile" aria-label="Main Menu" ng-click="app.menu.mainMenuExpand = !app.menu.mainMenuExpand">
			<md-icon md-svg-icon="{{app.menu.mainMenuExpand?&quot;backburger&quot;:&quot;menu&quot;}}"></md-icon>
		</md-button>
		<div>
			<img style="padding-top: 5px;" ng-src="{{app.settings.cdn + app.settings.components.titleBar.logo}}" />
		</div>

		<!-- Search-->
		<div layout="row" class="global-search-wrapper">
			<md-button id="btnSearchPatient" class="md-icon-button global-search-button" ng-click="app.event('local:appCareBookSearch:show');app.event('local:globalSearch:toggle')" ng-class="{'active':app.mainMenu.selectedTabIndex===1, 'open':app.mainMenu.menus.appCareBookSearch===true}">
				<md-icon md-svg-icon="icon_appCareBook"></md-icon>
				<!--<md-tooltip class="has-search" ng-if="app.mainMenu.menus.appCareBookSearch===true">There is existing Patient Search</md-tooltip>-->
				<md-tooltip>CareBook Search</md-tooltip>

			</md-button>
			<div ng-hide="my.globalSearchHidden" style="min-width: 300px;" layout="column" flex>
				<span class="global-search-heading">
					CareBook Patient Search
				</span>
				<span class = "global-search-form">
					<input placeholder="First name" flex class="txt-global-search" id="txtSearchPatientFirst" ng-model="app.carebookSearchFirstName" press-enter="app.event('local:globalSearch:search')">
					<input placeholder="Last name*" flex class="txt-global-search" id="txtSearchPatientLast" ng-model="app.carebookSearchLastName" press-enter="app.event('local:globalSearch:search')">
					<md-icon md-svg-icon="magnify" ng-show="app.carebookSearchLastName || app.carebookSearchFirstName" ng-click="app.event('local:globalSearch:search');"></md-icon>
					<md-icon md-svg-icon="close" ng-show="app.carebookSearchLastName || app.carebookSearchFirstName" ng-click="app.event('local:globalSearch:clear');"></md-icon>
					<div style="display: inline-block" 
						ng-if="app.settings.apps.carebook.showUniversalSearch
						&& (!app.settings.apps.carebook.showSearchByRoles || app.settings.apps.carebook.showSearchByRoles.length===0 || app.settings.apps.carebook.showSearchByRoles.indexOf(app.login.userLevel)>-1)
						&& (!app.settings.apps.carebook.showSearchByOrgs || app.settings.apps.carebook.showSearchByOrgs.length===0 || app.settings.apps.carebook.showSearchByOrgs.indexOf(app.login.organizationName)>-1 )">
						<md-icon md-svg-icon="search-web" ng-click="app.openCarebookSearch({crossCommunity: true})"></md-icon>
						<md-tooltip>Universal Search</md-tooltip>
					</div>
				</span>
			</div>

		</div>
		<!-- The context menu (lays out icons based on which app is loaded) -->
		<div layout="row" layout-align="start center" flex>

		</div>

		<div layout="row" layout-align="start center" class="user-menu">
			<!-- Dropdown user menu right side -->

			<md-menu-bar>
				<md-menu md-position-mode="target-right target">
					<button id="btnUserMenu" class="user-button md-button no-focus-background" ng-click="$mdOpenMenu($event)" aria-label="menu">
						<div layout="row" layout-align="space-between center" >
							<md-icon md-svg-icon="account-circle" style="margin: auto 3px auto 0;width: 32px;height:32px;font-size:1.2em"></md-icon>
							<span class="username" id="lblName" style="line-height:20px;text-align:left;"><span>{{app.login.firstName}} {{app.login.lastName}}</span></span>
							<md-icon md-svg-icon="chevron-down" md-menu-origin ></md-icon>
						</div>
					</button>
					<!--Dropdown menu when click user menu-->
					<md-menu-content width="3" class="user-menu-content">
						<md-menu-item>
							<md-button class="user-summary">
								<span>
								{{app.login.accessLevel}}<br/>
								{{app.login.userLevel}}, {{app.login.organizationName}}
								</span>
								<md-icon md-svg-icon="chevron-up" md-menu-align-target style="margin:auto 0 auto 16px;"></md-icon>
							</md-button>
						</md-menu-item>


						<md-menu-divider></md-menu-divider>
						<div ng-show="app.settings.apps.login.switching.optOut == false">
							<md-menu-item class="md-indent" ng-show="app.identity.tenants.length>0" id="btnCommOptsMenu">

								<!--This is nested menu-->
								<md-menu class="community-menu md-nested-menu">
									<md-button ng-click="$mdOpenMenu($event)" class="community-menu-btn">
										<md-icon md-svg-icon="heart"></md-icon> Communities
									</md-button>
									<md-menu-content class="community-menu-content" width="3">
										<md-menu-item ng-repeat="t in app.identity.tenants" ng-class="{'current':app.identity.tenant.id===t.id}" class="md-indent">
											<md-icon md-svg-icon="{{app.identity.tenant.id===t.id?'radiobox-marked':'radiobox-blank'}}"></md-icon>
											<md-button ng-click="app.confirmCommunitySwitch(t)" ng-disabled="app.identity.tenant.id===t.id">
												{{t.name}}
											</md-button>
										</md-menu-item>
									</md-menu-content>
								</md-menu>

							</md-menu-item>
						</div>
						<md-menu-divider ng-show="app.identity.tenants.length>0 && app.settings.apps.login.switching.optOut==false"></md-menu-divider>

						<!-- SSO linked icons -->
						<div layout="row" layout-align="space-around center" style="margin-bottom: 8px;">
							<a ng-href="{{connected.linkTo}}/{{app.identity.token}}"
							   target="_blank"
							   ng-repeat="connected in app.settings.apps.login.connected" >
								<img style="width: 48px; height: 48px;"
									 ng-src="{{app.settings.components.app.cdn}}assets/app/apps/login/connect-{{connected.name}}{{app.identity.connected[connected.name] ? '' : '-off'}}.png"
									 id="btnConnectTo{{connected.name}}"
									 aria-label="Connect to {{connected.name}}" />
							</a>
						</div>

						
						<md-menu-item class="md-indent" ng-repeat="item in app.userMenu" ng-hide="item.hideFn()">
							<md-icon md-svg-icon="{{item.icon}}"></md-icon>
							<md-button id="{{item.elementId}}" ng-hide="item.hideFn()" ng-click="app.event(item.event)">
								{{item.text}}
							</md-button>
						</md-menu-item>

					</md-menu-content>
				</md-menu>

			</md-menu-bar>
			<md-button class="global-button md-icon-button" id="btnLogout" ng-click="app.event('local:logout:show')">
			<md-icon md-svg-icon="logout"></md-icon>
			<md-tooltip>Logout</md-tooltip>
			</md-button>

			<!--<md-button class="global-button md-icon-button" id="btnPatientList" ng-click="app.event('local:myPatientList:toggle')">-->
				<!--<md-icon md-svg-icon="account-multiple"></md-icon>-->
				<!--<md-tooltip>My Patient List</md-tooltip>-->
			<!--</md-button>-->

		</div>

		<!-- The context menu activator and display structure -->
		<!--<md-menu md-position-mode="target-right target">
			<md-button class="md-icon-button" aria-label="Options Menu" ng-click="$mdOpenMenu($event)"><md-tooltip md-direction="left">Options</md-tooltip><md-icon md-menu-origin md-svg-icon="dots-vertical"></md-icon></md-button>
			<md-menu-content width="4">-->
				<!-- The context menu item display structure -->
				<!--<md-menu-item ng-repeat="item in app.contextMenu">
					<md-button ng-click="app.event(item.event)">
						<div layout="row" flex="">
							<p flex>{{item.text}}</p>
							<md-icon md-menu-align-target="" md-svg-icon="{{item.icon}}" style="margin: auto 3px auto 0;"></md-icon>
						</div>
					</md-button>
				</md-menu-item>
			</md-menu-content>
		</md-menu>-->
	</md-toolbar>

	<!-- This must be defined or GWT will fail... but it's hidden if redux is shown... -->
	<div ng-hide="true" style="position: absolute; top: 5px; right: 5px;" id="userHeaderSection"></div>
	
</header>