doctype html
html(ng-app="#{client.vars.name}" id="vue-app")
    head
        include java-top.html
        title #{client.vars.title}
        meta(name="robots", content="noindex")
        style#appStyle
        base(href="/dashboard/")
        script#hostmap !{hostmap}
    body#popContainer(ng-controller='AppController as app', layout='row' style='margin: 0px; padding: 0px; overflow: hidden;')
        include splash-screen
        //- what is #Dashboard used for?
        div#Dashboard(style='display: none;')
        include login.html
        div#appContainer(flex, layout="row")
            div#mainApp(ng-cloak, flex, layout="column")
                include header.html
                div#mainAppContent(flex, layout="row")
                    div#mainMenu(ng-controller="MainMenuController as menuCtrl")
                    include tab
                    div#appWindow(class="appWindow", dynamic='app.html', ng-cloak, ng-if='!(app.loggedIn)')
                    include GWT.html
                    md-sidenav(id="MyPatientList" class="md-sidenav-right my-patient-list" md-component-id="MyPatientList" md-is-locked-open="app.patientListNav.isOpen", resize-gwt-on-transition-end)
                include footer.html
        //- #gwtLoginPanelWrapper
        gsi-hidden-frame
        include session-timer
        link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', defer)
        link#css(href='app.css?#{client.vars.version}', rel='stylesheet', defer)
        link#css(href='css/DashBoardApp.css', rel='stylesheet', defer)
        //- link#css(href='css/quasar.mat.min.css', rel='stylesheet', defer)
        script(src='app.js?#{client.vars.version}', charset='utf-8', defer)