<div id="LoginScreen" layout="row" layout-align="start" class="" ng-hide="app.isGWTCheckingToken||app.loggedIn">

    <div id="login-intro" flex hide-sm hide-xs gsi-scroll>

<!-- Future login video
		<video autoplay ng-attr-poster="app.settings.apps.login.background" id="bgvid" loop>
			<source src="./images/redux/login.mp4" type="video/mp4">
		</video>
-->
        <div class="title">
            {{app.settings.apps.login.text.tagLine}}
        </div>
    </div>

    <div id="login-form-wrapper" class="flex-scrollable md-whiteframe-8dp" gsi-scroll>
        <div id="login-form">
            <div class="logo md-accent-bg">
                <img ng-src="{{app.settings.components.cdn + app.settings.apps.login.logo}}" style="width:100%;min-width:210px;max-width:416px;">
            </div>
            <div ng-if="!app.server.error.message" class="title">{{app.settings.apps.login.text.pleaseLogin}}</div>
            <div ng-if="app.server.error.message" class="title">{{app.server.error.message}}</div>
            <form name="loginForm" novalidate ng-submit="app.event('local:login:attempt', {user: app.login.user, pass: app.login.pass})">
                <md-input-container class="md-block" md-no-float>
                    <input type="email" name="UserID" ng-model="app.login.user" placeholder="Email" ng-pattern="/^.+@.+\..+$/" required>
                    <div ng-messages="loginForm.UserID.$error" role="alert">
                        <div ng-message="pattern"><span>{{app.settings.apps.login.text.invalidUsername}}</span></div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" md-no-float>
                    <input type="password" name="Password" ng-model="app.login.pass" placeholder="Password" required>
                </md-input-container>
                <div class="remember-forgot-password" layout="row" layout-sm="column" layout-align="space-between center">
                    <a class="forgot-password md-accent-color" ng-click="app.event('local:login:forgotPassword', app.login.user)">{{app.settings.apps.login.text.forgotPassword}}</a>
                </div>
                <md-button id="btnLogin" type="submit" class="md-raised md-accent submit-button" aria-label="LOG IN" ng-disabled="loginForm.$invalid || loginForm.$pristine || app.isLoggingIn">{{app.isLoggingIn ? app.settings.apps.login.text.loginProgressButton : app.settings.apps.login.text.loginButton}}</md-button>
                
				<div ng-if="app.settings.apps.login.connected.length > 0">
					<div class="register" layout="row" layout-sm="column" layout-align="center center">
						<span class="text">{{app.settings.apps.login.text.connectWith}}</span>
					</div>
					<md-button ng-repeat="connected in app.settings.apps.login.connected" ng-href="{{connected.linkFrom+'/'+ app.settings.tenant}}" id="btnConnected{{connected.name}}" class="md-raised md-accent submit-button" aria-label="Login using {{connected.name}}">Login using {{connected.name}}</md-button>
				</div>
				
            </form>
            <div class="register" layout="row" layout-sm="column" layout-align="center center">
                <span class="text">{{app.settings.apps.login.text.dontHaveAccount}}</span>
                <a class="link" ng-href="{{app.settings.apps.login.text.contactLink}}">{{app.settings.apps.login.text.contactUs}}</a>
            </div>
            <div layout-align="center center" class="small-description" ng-bind-html="app.settings.apps.login.text.disclosuresHTML"></div>
            <div layout-align="center center" class="small-description" layout="row">
                <p>{{app.build}} Redux: c{{app.settings.components.app.version}} s{{app.node.version}} {{app.node.status}}</p>
				
            </div>
        </div>
    </div>
</div>
