<div class="app-subheader" layout="row" layout-align="start center" ng-class="app.mainMenu.selectedTabIndex===0?app.currentMenuTheme:''">
	<div flex="nogrow" ng-if="app.mainMenu.selectedTabIndex!==0" >
		<md-button ng-click="app.event('local:resetApp:reset')">
			Reset
			<md-tooltip>Reset App</md-tooltip>
		</md-button>
	</div>
	<div flex="nogrow" style="margin-bottom: -7px" ng-hide="app.mainMenu.selectedTabIndex!==0">
		<change-view-dropdown btn-id="dropdown1" current-view="app.homeCtrl.currentMember" apply-fn="app.homeCtrl.changeUserView(data)"></change-view-dropdown>
  	</div>
	<div id="lblUserOrganization" class="org-name" flex style="text-align: right;">
		<span style="display:inline-block; min-width:200px;">{{app.identity.tenant.name || 'Community'}}</span>
	</div>
	<div flex="nogrow" ng-if="app.myPatientListInit===true&&!app.patientListNav.isOpen" >
		<md-button class="md-primary md-icon-button" ng-click="app.event('local:myPatientList:open')">
			<md-icon md-svg-icon="account-star-variant" ng-class="app.mainMenu.selectedTabIndex===0?'icon-white':''"></md-icon>
			<md-tooltip md-direction="left">Patient Panel</md-tooltip>
		</md-button>
	</div>
</div>
