md-content#pnContent(style="flex: auto;", layout='column', ng-if='app.loggedIn')
    include subheader.html
    div#tabsMain(layout='column' flex='', md-autoselect='')
        div#tabAppHome(label='Home' class="tab-pane" ng-class="{'active-pane':app.mainMenu.selectedTabIndex===0}")
            div(id='appHome' layout-fill)
        div(id='tabCareBookSearch' class="tab-pane" ng-class="{'active-pane':app.mainMenu.selectedTabIndex===1}")
            div(id='appCareBookSearch')
        div(id='tab{{tab.name}}', class="tab-pane" ng-repeat='tab in app.userApps' ng-class="{'active-pane':app.mainMenu.selectedTabIndex===($index+2)}")
            div(id='{{tab.name}}', style='height:100%')
    //Removing md-tab for IE performance...
    //md-tabs#tabsMain(layout='column', class="md-no-transition" md-selected='app.mainMenu.selectedTabIndex', flex='', md-autoselect='')
    //    md-tab#tabAppHome(label='Home')
    //        md-tab-body(id='pnAppHome')
    //            div(id='appHome')
    //    md-tab(id='tabCareBookSearch')
    //        md-tab-label
    //            span "CareBook Patient Search"
    //        md-tab-body
    //            div(id='appCareBookSearch')
    //    md-tab(id='tab{{tab.name}}', ng-repeat='tab in app.userApps')
    //        md-tab-label
    //            span(id='lbl{{tab.name}}') {{tab.screenName}}
    //            //- md-icon(id='btnClose{{tab.name}}', style='height:18px', size='10', md-svg-icon='close', ng-click='app.closeTab(tab,$event)')
    //        md-tab-body(id='pn{{tab.name}}')
    //            div(id='{{tab.name}}')
