<md-content id="pnTabs" flex layout="row" ng-show="app.loggedIn">
	<md-tabs md-dynamic-height id="tabsMain" layout="column" md-selected="app.selectedTab" flex md-autoselect>
		<md-tab id="tabHome">
			<md-tab-label >
				<span id="lblHome">Home</span>
			</md-tab-label>	
        	<md-tab-body id="pnHome">
				<div id="dashboardApplicationContent"></div>
			</md-tab-body>
		</md-tab>
		<md-tab id="tab{{tab.name}}" ng-repeat="tab in app.activeApps">
			<md-tab-label>
        		<span id="lbl{{tab.name}}">{{tab.screenName}}</span>         
                <md-icon id="btnClose{{tab.name}}"style="height:18px" size="10" md-svg-icon="close" ng-click="app.closeTab(tab,$event)"></md-icon>
        	</md-tab-label>	
        	<md-tab-body id="pn{{tab.name}}">
				<div id="{{tab.name}}"></div>
			</md-tab-body>
		</md-tab>

	</md-tabs>
</md-content>