md-dialog-content(layout="row" id="myPatientEnrollment" flex, ng-init="patientEnrollment.getMetadata()")
    md-sidenav.md-sidenav-left(md-component-id="patientEnrollmentNav" md-is-locked-open="$mdMedia('gt-xs')")
        md-content(layout-fill)
            md-subheader(class="patient-header left-nav-header")
                span {{::patientEnrollment.enrollmentText.leftNavHeader}}
            md-list(class="list-tab")
                md-subheader {{::patientEnrollment.enrollmentText.noDataTabHeader}}
                md-list-item(ng-if="patientEnrollment.isLoadedProgram && patientEnrollment.isLoadedCareData && patientEnrollment.isLoadedRhio"
                 ng-class="{'selected': patientEnrollment.wizardStep === tab.order -1 }", ng-click="patientEnrollment.goToUnsavedTab(tab.id)", ng-show="patientEnrollment.stepConfigMap[tab.id].isNoData && patientEnrollment.stepConfigMap[tab.id].isNoData()", ng-repeat="tab in patientEnrollment.app.settings.apps.patient.enrollment.groups | filter: {show:true}")
                    p(ng-bind="tab.text")
            md-list(class="list-tab", style="margin-top: 4px")
            
                md-subheader {{::patientEnrollment.enrollmentText.unsavedTabHeader}}
                md-list-item(ng-class="{'selected': patientEnrollment.wizardStep === tab.order -1 }", ng-click="patientEnrollment.goToUnsavedTab(tab.id)", ng-show="patientEnrollment.stepConfigMap[tab.id].isDirty()", ng-repeat="tab in patientEnrollment.app.settings.apps.patient.enrollment.groups | filter: {show:true}")
                    p(ng-bind="tab.text")
    gsi-form-wizard(layout="column" flex step='{{patientEnrollment.wizardStep}}' set-step="patientEnrollment.setStep(data)")
        div
           md-subheader(class="patient-header")
                div(layout="row" layout-align="space-between center")
                    div(ng-if="!patientEnrollment.patientDemog") Loading...
                    div(ng-if="patientEnrollment.patientDemog") {{patientEnrollment.patientDemog.lastName}}, {{patientEnrollment.patientDemog.firstName}} &nbsp;&#183;&nbsp; {{patientEnrollment.patientDemog.genderValue}} &nbsp;&#183;&nbsp; DOB: {{patientEnrollment.patientDemog.dob | date: 'MM/dd/yyyy'}} &nbsp;&#183;&nbsp; Patient ID: {{patientEnrollment.patientDemog.patientId}}
                   
                    //md-tooltip(md-direction="Left") {{patientEnrollment.addToolTip}}
                    md-button#patientRibbonIcon(ng-click='patientEnrollment.addToPatientPanel()' class="md-icon-button" ng-disabled="!patientEnrollment.haveConsent || patientEnrollment.alreadyInList" title="{{patientEnrollment.addToolTip}}")                   
                        md-icon(md-svg-icon="patient-panel-add")

        md-tabs(md-selected='gsiWizard.selectedIndex', flex)
            md-tab(ng-repeat="step in ::patientEnrollment.app.settings.apps.patient.enrollment.groups | filter: {show:true} | orderBy:'order' "
            md-on-select="patientEnrollment.onTabSelect(step);patientEnrollment.getProgress()"
            md-on-deselect = "patientEnrollment.onTabUnselect(step)")
                md-tab-label
                    span.gsi-form-wizard-step-text(id="patientEnrollmentTabLabel_{{step.id}}"
                    ng-class="{'dirty':patientEnrollment.stepConfigMap[step.id].isDirty()}") {{step.text}}
                md-tab-body
                    div(layout-fill
                    layout="column"
                    ng-include="patientEnrollment.stepConfigMap[step.id].templateUrl" id="patientEnrollmentTabBody_{{step.id}}")
