
<!--Creation of new care team. Includes the removal and updation of existing care team --!>


script(type="text/ng-template" id="patientEnrollment.careTeam.tpl.html")
    md-content.enrollment-wizard-tab-content.careteam-content(flex ng-cloak)
        form#careTeam(name='patientEnrollment.wizardStep4',
            gsi-form-wizard-form='',
            novalidate=''
            layout="column"
            layout-fill
            ng-show="!patientEnrollment.showPrior && !patientEnrollment.showSearch && !(patientEnrollment.showUserProfile || patientEnrollment.showEditUser) && !patientEnrollment.showExtWarning"
        )
            div(layout="row")
                div.enrollment-wizard-intro(layout='column', flex='')
                    div {{patientEnrollment.careConfig.text1}}
                    div {{patientEnrollment.careConfig.text2}}
                div(flex="nogrow")
                    md-button(id="addMember" class="md-icon-button" ng-click="patientEnrollment.showSearch=true;patientEnrollment.searchString='';patientEnrollment.searchedResult=[];patientEnrollment.tempVar=[];patientEnrollment.filteredRole={}")
                        md-icon(md-svg-icon="{{patientEnrollment.careIcons.plusIcon}}" md-menu-origin)
                        md-tooltip(md-direction="left") {{patientEnrollment.careConfig.addMember}}
                    md-button(id="directMenu" class="md-icon-button mpl-item-menu-btn"  ng-click="patientEnrollment.openCareTeamMenu($event)")
                        md-icon(md-menu-origin md-svg-icon="{{patientEnrollment.careIcons.vertiCalDots}}")

            div(layout="row" layout-align="space-between center")
                div
                    md-checkbox.direct-messaging(ng-if="patientEnrollment.showDirectIcon" ng-model="patientEnrollment.directMessagingRequired" id="directMessaging" ng-change="patientEnrollment.directMessaging()") {{patientEnrollment.careConfig.secureMessaging}}
                div.provider-legend(layout="column" layout-align="center end")
                    span
                        span {{patientEnrollment.careConfig.externalProvider}}
                        md-icon.provider-icon(md-svg-icon="person-external" md-colors="{color: patientEnrollment.careIconColors['userExternal']}")


            div.careteam-search-container(layout="row" layout-align="space-between center")
                md-input-container(class="md-block" flex="25")
                    label {{patientEnrollment.careConfig.currentteamAssigned}}
                    input(ng-disabled="!patientEnrollment.myCareData.listOfMember.length" ng-model="patientEnrollment.myCareData.careTeamName", name="careTeam", value="patientEnrollment.myCareData.careTeamName", ng-change="patientEnrollment.careBtnDisabled=false")
                md-autocomplete(id="chooseTeam",
                    md-no-cache='',
                    flex="25"
                    md-selected-item='patientEnrollment.careTeamSearchSelected',
                    md-search-text='patientEnrollment.teamSearch',
                    md-selected-item-change='patientEnrollment.onCareTeamSelect()',
                    md-items='item in patientEnrollment.careTeamSearchQuery(patientEnrollment.teamSearch)',
                    md-item-text='item.careTeamName',
                    md-floating-label="{{::patientEnrollment.careConfig.chooseTeam}}"
                )
                    md-item-template
                        span(md-highlight-text='patientEnrollment.teamSearch', md-highlight-flags='ig') {{item.careTeamName}}
                    md-not-found
                        | {{patientEnrollment.orgConfig.noSearch}} "{{patientEnrollment.teamSearch}}"


            
            div(ng-if="patientEnrollment.myCareData.listOfMember.length>0" layout-wrap flex layout="row")
                div(flex-gt-lg="25" flex-gt-xs="50" flex-gt-md="33" flex="100" ng-repeat="card in patientEnrollment.myCareData.listOfMember" id="careCard" ng-if="card.userStatus==='ACTIVE'")
                    md-card#myCareCard.careteam-member-item()
                        md-card-title(layout="row")
                           md-card-title-text(flex)
                                div.role(layout="row" layout-align="start center")
                                    spanm.break-word {{::card.roleName}}
                                    md-icon.provider-icon(flex="nogrow" ng-if="card.userType==='EXTERNAL'" md-svg-icon="person-external" md-colors="{color: patientEnrollment.careIconColors['userExternal']}")

                                span.break-word.name.span {{::card.firstName}} {{::card.lastName}}, {{::card.credential}}
                           md-button(flex="nogrow" id="cardMenu_{{$index}}" class="md-icon-button mpl-item-menu-btn"  ng-click="patientEnrollment.cardMenuOpen($event, card, $index)" )
                               md-icon(md-menu-origin md-svg-icon="{{patientEnrollment.careIcons.vertiCalDots}}")

                        md-card-content
                            div(layout="row" layout-align="start center")
                                md-icon(flex="none" md-svg-icon="{{patientEnrollment.careIcons.domain}}")
                                md-truncate.ml-8(flex) {{card.organizationName ? card.organizationName : patientEnrollment.careConfig.noDataLabel}}
                                    md-tooltip(ng-if="card.organizationName") {{::card.organizationName}}

                            div(layout="row" layout-align="start center")
                                md-icon(flex="none" md-svg-icon="{{patientEnrollment.careIcons.phoneIcon}}")
                                md-truncate.ml-8(flex) {{(card.mobileNumber|phone)? (card.mobileNumber|phone) : patientEnrollment.careConfig.noDataLabel}}
                                    md-tooltip(ng-if="card.mobileNumber|phone") {{::card.mobileNumber|phone}}

                            div(layout="row" layout-align="start center")
                                md-icon(flex="none" md-svg-icon="{{patientEnrollment.careIcons.email}}")
                                md-truncate.ml-8(flex) {{ card.directAddress ? card.directAddress : patientEnrollment.careConfig.noDataLabel}}
                                    md-tooltip(ng-if="card.directAddress") {{::card.directAddress}}

                            div(layout="row" layout-align="start center")
                                md-icon(flex="none" md-svg-icon="{{patientEnrollment.careIcons.marker}}" aria-label="{{card.lastName}}")
                                md-truncate.ml-8(flex) {{ (card|address) ? (card|address) : patientEnrollment.careConfig.noDataLabel}}
                                    md-tooltip(ng-if="card|address") {{::card|address}}

            div.padding(
                flex
                layout="column"
                layout-align="center center"
                ng-if="patientEnrollment.myCareData.listOfMember && patientEnrollment.myCareData.listOfMember.length===0"
            )
                div {{patientEnrollment.careConfig.errorText1}}
                div {{patientEnrollment.careConfig.errorText2}}
            div(flex
                layout="column"
                layout-align="center center"
                ng-if="!patientEnrollment.myCareData.listOfMember"
                )
                md-progress-circular

        //generates prior care team page
        div.careteam-show-prior(ng-if="patientEnrollment.showPrior" layout-fill layout="column")

            div(ng-if="patientEnrollment.myPriorList.listOfMember.length<1" layout-fill layout="column" layout-align="center center")
                div.careteam-warning-message(layout="column" layout-align="center center")
                    div {{patientEnrollment.careConfig.noPrevious}}
                    div {{patientEnrollment.careConfig.createNow}}
                div(md-colors="{background: 'default-background'}")
                    md-button.md-primary(ng-click='patientEnrollment.showSearch=true; patientEnrollment.showPrior=false') {{patientEnrollment.careConfig.yesLabel}}
                    md-button.md-accent(ng-click='patientEnrollment.showPrior=false') {{patientEnrollment.careConfig.noLabel}}
            

            div(ng-if="patientEnrollment.myPriorList.listOfMember.length>0")
                div(layout='row' layout-align="start center")
                    div(flex flex-gt-md="80" flex-offset-gt-md="10" flex-gt-lg="70" flex-offset-gt-lg="15"  layout='column')

                        div.enrollment-wizard-intro {{patientEnrollment.careConfig.priorCareText}}

                        div(layout='column', id="importCare")
                            div.prior-toolbar(layout='row', layout-align="space-between end")
                                div.import-button(layout="row" layout-align="start center")
                                    md-button(ng-click="patientEnrollment.importCareMembers()" layout="row" layout-align="space-around center" ng-disabled="patientEnrollment.countSelectedProvider() === 0")
                                        md-icon(md-svg-icon="{{patientEnrollment.careIcons.import}}")
                                        span {{patientEnrollment.careConfig.importLabel}}
                                    span.text-italic ({{patientEnrollment.careConfig.priorImportTextPrefix}}{{patientEnrollment.countSelectedProvider()}}{{patientEnrollment.careConfig.priorImportTextSuffix}})
                                div.provider-legend(layout="column" layout-align="center end")
                                    span
                                        span Inactive User
                                        md-icon.provider-icon(md-svg-icon="person-inactive" md-colors="{color: patientEnrollment.careIconColors['userInactive']}")
                                    span
                                        span {{patientEnrollment.careConfig.unconsentedProvider}}
                                        md-icon.provider-icon(md-svg-icon="person-not-consented" md-colors="{color: patientEnrollment.careIconColors['notConsented']}")
                                    span
                                        span {{patientEnrollment.careConfig.externalProvider}}
                                        md-icon.provider-icon(md-svg-icon="person-external" md-colors="{color: patientEnrollment.careIconColors['userExternal']}")
                            
                            md-list.md-whiteframe-1dp(ng-cloak class="whiteBackground")
                                md-list-item.md-2-line(ng-repeat-start="data in patientEnrollment.myPriorList.listOfMember")
                                    md-checkbox(class="" ng-model="data.selected" ng-change="patientEnrollment.optionToggled(data)" ng-disabled="data.userStatus!=='ACTIVE'")
                                    div.md-list-item-text
                                        h3
                                            span.mr-8 {{data.firstName}} {{data.lastName}}, {{data.credential}}
                                            span.mr-8.text-italic(md-colors="{color:'default-grey-600'}")  ({{data.roleName}})
                                            span
                                              md-icon.provider-icon(ng-if="data.consentStatus=='DENY'" md-svg-icon="person-not-consented" md-colors="{color: patientEnrollment.careIconColors['notConsented']}")
                                              md-icon.provider-icon(ng-if="!(data.userStatus==='ACTIVE')" md-svg-icon="person-inactive" md-colors="{color: patientEnrollment.careIconColors['userInactive']}")
                                              md-icon.provider-icon(ng-if="data.userType==='EXTERNAL'" md-svg-icon="person-external" md-colors="{color: patientEnrollment.careIconColors['userExternal']}")
                                        div
                                            div
                                                span.mr-8
                                                    md-icon(md-svg-icon="{{patientEnrollment.careIcons.domain}}")
                                                    span.ml-4 {{data.organizationName ? data.organizationName : patientEnrollment.careConfig.noDataLabel}}
                                                span.mr-8
                                                    md-icon(md-svg-icon="{{patientEnrollment.careIcons.marker}}")
                                                    span.mr-8.break-word {{ (data|address) ? (data|address) : patientEnrollment.careConfig.noDataLabel}}
                                            div
                                                span.mr-8
                                                    md-icon(md-svg-icon="{{patientEnrollment.careIcons.phoneIcon}}")
                                                    span.ml-4 {{ (data.mobileNumber|phone)? (data.mobileNumber|phone) : patientEnrollment.careConfig.noDataLabel}}
                                                span.mr-8
                                                    md-icon(md-svg-icon="{{patientEnrollment.careIcons.email}}")
                                                    span.ml-4 {{data.directAddress ? data.directAddress : patientEnrollment.careConfig.noDataLabel}}
                                md-divider(ng-repeat-end ng-hide="$last")

        div(ng-if="!patientEnrollment.showSearch && patientEnrollment.showExtWarning" layout-fill layout="column" layout-align="center center")
            div.careteam-warning-message(layout="column" layout-align="center center")
                div {{patientEnrollment.careConfig.inActiveMsg}}
                div {{patientEnrollment.careConfig.continueLable}}
            div(md-colors="{background: 'default-background'}")
                md-button.md-primary(ng-click='patientEnrollment.addExternalData()') {{patientEnrollment.careConfig.yesLabel}}
                md-button.md-accent(ng-click='patientEnrollment.backFn()') {{patientEnrollment.careConfig.noLabel}}
       
        //- Search
        div.careteam-show-search(ng-if="patientEnrollment.showSearch" id="searchScreen" layout="column")

            div(layout='row' layout-align="start center")
                div(flex flex-gt-md="80" flex-offset-gt-md="10" flex-gt-lg="70" flex-offset-gt-lg="15"  layout='column')

                    div(layout='column', layout-gt-xs='row', flex='' id="searchBoxCareTeam")
                        div.md-toolbar-tools
                            div.search-wrapper.md-whiteframe-1dp
                                div.search(flex="" layout="row" layout-align="start center")
                                    input(flex ng-model="patientEnrollment.searchString" ,type="text" ,id="searchCrossCommTxt" placeholder="{{patientEnrollment.careConfig.searchText}}" ng-change="patientEnrollment.getSearchedData(patientEnrollment.searchString)")
       
                    div.show-search-toolbar(layout="row" layout-align="space-between center")
                        div(layout="column")
                            //Below code generates the search page
                            div.show-search-filter(layout="row" layout-align="start center")
                                md-input-container(flex md-no-float="true")
                                    md-icon(md-svg-icon="{{patientEnrollment.config.icons.careTeamMemberSearchFilter}}")
                                    md-select(
                                    placeholder="{{patientEnrollment.careConfig.filterConfig}}"
                                    ng-model="patientEnrollment.filteredRole"
                                    ng-change="patientEnrollment.getCount=0;patientEnrollment.getSearchedData(patientEnrollment.searchString)"
                                    ng-model-options="{trackBy: '$value.id'}"
                                    id="filterResult"
                                    )
                                        md-option(ng-repeat="role in patientEnrollment.allRoles" ng-value="role") {{role.name}}
                                div.ml-8.text-italic(ng-if="patientEnrollment.filteredRole.name") ({{patientEnrollment.config.text.careTeamMemberSearchCurrentlySearching}} {{patientEnrollment.filteredRole.name}})

                            div
                                md-checkbox(class="" ng-model="patientEnrollment.showConsentedFlag" ng-change="patientEnrollment.getSearchedData(patientEnrollment.searchString)") {{patientEnrollment.config.text.careTeamMemberSearchShowConsented}}

                        div.provider-legend(layout="column" layout-align="center end")
                            span
                                span {{patientEnrollment.careConfig.externalProvider}}
                                md-icon.provider-icon(md-svg-icon="{{patientEnrollment.careIcons.offAccount}}" md-colors="{color: patientEnrollment.careIconColors['userExternal']}")
                            span
                                span {{patientEnrollment.careConfig.currentMmember}}
                                md-icon.provider-icon(md-svg-icon="{{patientEnrollment.careIcons.personAdded}}" md-colors="{color: patientEnrollment.careIconColors['currentMember']}")
                            span
                                span {{patientEnrollment.careConfig.unconsentedProvider}}
                                md-icon.provider-icon(md-svg-icon="{{patientEnrollment.careIcons.notConsented}}" md-colors="{color: patientEnrollment.careIconColors['notConsented']}")


                    div(ng-if="patientEnrollment.searchedResult.length>0" class="whiteBackground" id="searchedList" data-ng-scroll-down="patientEnrollment.onScroll()")
                        md-list.md-whiteframe-1dp(ng-cloak id="searchEllipses")
                            md-list-item.md-2-line(
                            ng-repeat="data in patientEnrollment.searchedResult | filter:patientEnrollment.filteredRole.name | limitTo: 100 "
                            ng-click="patientEnrollment.addtoList(data)"
                            ng-disabled="data.userStatus!=='ACTIVE'"
                            )
                                ng-avatar(initials="{{data.lastName[0].toUpperCase()}}" width="90" auto-color="true" class="avatar" font-weight="700" font-scale="50" round-shape="true")
                                div.md-list-item-text.md-body-1
                                    h3(class="md-media-lg card-media ml-8")
                                        span.mr-8 {{data.firstName}} {{data.lastName}}, {{data.credential}}
                                        span.mr-8.text-italic(md-colors="{color:'default-grey-600'}")  ({{data.roleName}})
                                        span
                                            md-icon.provider-icon(ng-if="data.consentStatus=='DENY'" md-svg-icon="person-not-consented" md-colors="{color: patientEnrollment.careIconColors['notConsented']}")
                                            md-icon.provider-icon(ng-if="data.currentCareTeamMember" md-svg-icon="{{patientEnrollment.careIcons.personAdded}}" md-colors="{color: patientEnrollment.careIconColors['currentMember']}")
                                            md-icon.provider-icon(ng-if="data.userType==='EXTERNAL'" md-svg-icon="person-external" md-colors="{color: patientEnrollment.careIconColors['userExternal']}")
                                    div
                                        div
                                            span.mr-8
                                                md-icon(md-svg-icon="{{patientEnrollment.careIcons.domain}}")
                                                span.ml-4 {{data.organizationName ? data.organizationName : patientEnrollment.careConfig.noDataLabel}}
                                            span.mr-8
                                                md-icon(md-svg-icon="{{patientEnrollment.careIcons.marker}}")
                                                span.mr-8.break-word {{ (data|address) ? (data|address) : patientEnrollment.careConfig.noDataLabel}}
                                        div
                                            span.mr-8
                                                md-icon(md-svg-icon="{{patientEnrollment.careIcons.phoneIcon}}")
                                                span.ml-4 {{ (data.mobileNumber|phone)? (data.mobileNumber|phone) : patientEnrollment.careConfig.noDataLabel}}
                                            span.mr-8
                                                md-icon(md-svg-icon="{{patientEnrollment.careIcons.email}}")
                                                span.ml-4 {{data.directAddress ? data.directAddress : patientEnrollment.careConfig.noDataLabel}}
                                md-button.context-menu-button(id="careMenuBtn_{{$index}}" class="md-icon-button mpl-item-menu-btn"  ng-click="patientEnrollment.clickMenuOpen($event, data, $index)" )
                                    md-icon(md-menu-origin md-svg-icon="dots-vertical")
                                md-divider(ng-repeat-end ng-hide="$last")
        include ./userProfile.html
        include ./editUserProfile.html


    div.enrollment-wizard-footer(ng-if="!patientEnrollment.showPrior && !patientEnrollment.showSearch  && !(patientEnrollment.showUserProfile || patientEnrollment.showEditUser)"  flex='nogrow', layout='row', layout-align='end center' md-colors="{background: 'default-background'}")
            md-button.md-accent(ng-click='patientEnrollment.close(patientEnrollment.wizardStep4)')
                | {{patientEnrollment.careConfig.cancelLabel}}
                
            gsi-save-md-button(button-class="md-raised",
             gsi-save-click='patientEnrollment.saveCareTeam()',
             ng-disabled="(!patientEnrollment.myCareData.careTeamName && patientEnrollment.allConfigData.isNameRequired.toLowerCase()==='true') || patientEnrollment.careBtnDisabled",
             status="patientEnrollment.stepScopes.care.status",
             id="btnSaveCareTeam")


    div.enrollment-wizard-footer(md-colors="{background: 'default-background'}" ng-if="patientEnrollment.showPrior || patientEnrollment.showSearch")
         md-button.md-accent(ng-if="patientEnrollment.showSearch || patientEnrollment.showPrior" ng-click='patientEnrollment.showSearch=false;patientEnrollment.showPrior=false;patientEnrollment.showExtWarning=false')
                | {{patientEnrollment.careConfig.backLabel}}

         md-button.md-accent(id="btnCreateNewProvider" ng-if="patientEnrollment.showSearch" ng-click='patientEnrollment.displayEditUser()' style="color:blue;float:right")
                | {{patientEnrollment.careConfig.createNew}}
                md-tooltip(md-direction="left") {{patientEnrollment.careConfig.crateNewExternal}}

    div.enrollment-wizard-footer(md-colors="{background: 'default-background'}" ng-if="patientEnrollment.showUserProfile || patientEnrollment.showEditUser && !patientEnrollment.showSearch")
        md-button.md-accent(ng-if="patientEnrollment.showUserProfile || patientEnrollment.showEditUser" ng-click='patientEnrollment.backToPreviousScreen()')
                | {{patientEnrollment.careConfig.backLabel}}
        md-button.md-primary(ng-if="patientEnrollment.showUserProfile && patientEnrollment.userProfile.userType==='EXTERNAL'" id="btnEditUserProfile" ng-click='patientEnrollment.displayEditUser(patientEnrollment.userProfile)' class="rightAlign")
                | {{patientEnrollment.careConfig.editLabel}}
        md-button.md-primary(ng-disabled="editUserForm.$invalid || patientEnrollment.isUpdating" id="btnSaveUserProfile" ng-if="patientEnrollment.showEditUser" ng-click='patientEnrollment.saveUserProfile()' class="rightAlign")
                | {{patientEnrollment.IS_EDITMODE? 'Save' : 'Add'}}


script(type="text/ng-template" id="careMenu.tpl.html" )
        div(id="" class="patient-menu-list-item mpl-item-menu-content md-whiteframe-z2" )
           md-menu-item
               md-button(ng-click="vm.goToProfile()", id="{{'btnViewmore_'+ vm.index}}")
                   md-icon(md-svg-icon="{{vm.patientEnrollment.careIcons.eye}}")
                   span {{vm.patientEnrollment.careConfig.viewMore}}
script(type="text/ng-template" id="cardMenu.tpl.html" )
        div(id="" class="patient-menu-list-item mpl-item-menu-content md-whiteframe-z2" )
           md-menu-item
               md-button(ng-click="ctrl.cardToProfile()")
                   md-icon(md-svg-icon="{{ctrl.patientEnrollment.careIcons.eye}}")
                   span {{ctrl.patientEnrollment.careConfig.viewMore}}
           md-menu-item
               md-button(ng-click="ctrl.modifyRole()" id="modifyCare")
                   md-icon(md-svg-icon="{{ctrl.patientEnrollment.careIcons.keyChange}}")
                   span {{ctrl.patientEnrollment.careConfig.change}}   
           md-menu-item
               md-button(ng-click="ctrl.patientEnrollment.removeCard(patientEnrollment.wizardStep4)" id="removeCare")
                   md-icon(md-svg-icon="{{ctrl.patientEnrollment.careIcons.remove}}")
                   span {{ctrl.patientEnrollment.careConfig.remove}}
               
script(type="text/ng-template" id="directMsg.tpl.html" )
        div(id="" class="patient-menu-list-item mpl-item-menu-content md-whiteframe-z2" )
            md-menu-item.width-160
                md-button(id="priorListClock" ng-click="msg.getPriorList()")
                    md-icon(md-svg-icon="{{msg.patientEnrollment.careIcons.clock}}")
                    span(ng-bind="::msg.patientEnrollment.careConfig.priorCareTeam")
            md-menu-item.width-160
                md-button(ng-click="msg.patientEnrollment.removePatientFromCareTeam()" id="removePatient")
                    md-icon(md-svg-icon="{{msg.patientEnrollment.careIcons.remove}}")
                    span(ng-bind="::msg.patientEnrollment.careConfig.removeCareTeam")
