<md-content gsi-scroll ng-show="patientEnrollment.showEditUser">
    <form name="editUserForm">
        <div class="panel-content" layout-padding layout="column">
            <div layout="row">
                <md-input-container flex="15">
                    <label ng-bind="::patientEnrollment.careConfig.prefix"></label>
                    <md-select name="prefix" md-on-open="patientEnrollment.onSelectOpen()" ng-model="patientEnrollment.userEditing.title">
                        <md-option ng-value="prefix" ng-repeat="prefix in patientEnrollment.prefixes" ng-bind="prefix"></md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex="35">
                    <label ng-bind="::patientEnrollment.careConfig.firstName"></label>
                    <input name="firstname" ng-model="patientEnrollment.userEditing.firstName" required>
                </md-input-container>
                <md-input-container flex="35">
                    <label ng-bind="::patientEnrollment.careConfig.lastName"></label>
                    <input name="lastname" ng-model="patientEnrollment.userEditing.lastName" required>
                </md-input-container>
                <md-input-container flex="15">
                    <label ng-bind="::patientEnrollment.careConfig.credential"></label>
                    <md-select name="credential" md-on-open="patientEnrollment.onSelectOpen()" ng-model="patientEnrollment.userEditing.credential">
                        <md-option ng-value="credential" ng-repeat="credential in patientEnrollment.credentials" ng-bind="credential"></md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container flex>
                    <label ng-bind="::patientEnrollment.careConfig.NPI"></label>
                    <input name="npi" ng-pattern="/^\d{10}$/" ng-model="patientEnrollment.userEditing.NPI">
                </md-input-container>
                <md-input-container flex>
                    <label ng-bind="::patientEnrollment.careConfig.primPracitionerFacility"></label>
                    <input name="orgname" ng-model="patientEnrollment.userEditing.organizationName" required>
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container flex>
                    <md-icon class="md-warn md-hue-2" md-svg-icon="{{patientEnrollment.careIcons.gender}}"></md-icon>
                    <label ng-bind="::patientEnrollment.careConfig.gender"></label>
                    <md-select name="gender" md-on-open="patientEnrollment.onSelectOpen()" ng-model="patientEnrollment.userEditing.gender">
                        <md-option ng-value="key" ng-repeat="(key, value) in patientEnrollment.genders" ng-bind="value"></md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex>
                    <label ng-bind="::patientEnrollment.careConfig.dob"></label>
                    <md-datepicker name="dob" md-min-date="patientEnrollment.minDate" id="userProfileDob" ng-model="patientEnrollment.userEditing.dob"></md-datepicker>
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container flex>
                    <md-icon class="md-warn md-hue-2" md-svg-icon="{{patientEnrollment.careIcons.phone}}"></md-icon>
                    <label ng-bind="::patientEnrollment.careConfig.phone"></label>
                    <input name="phone" phone ng-model="patientEnrollment.userEditing.mobileNumber" ng-pattern="/^[0-9]{3}-[0-9]{3}-[0-9]{4}$/">
                </md-input-container>
                <md-input-container flex>
                    <label ng-bind="::patientEnrollment.careConfig.phoneExt"></label>
                    <input name="extension" ng-pattern="/^\d{1,4}$/" ng-model="patientEnrollment.userEditing.phoneExtn">
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container flex>
                    <md-icon class="md-warn md-hue-2" md-svg-icon="{{patientEnrollment.careIcons.directAddress}}"></md-icon>
                    <label ng-bind="::patientEnrollment.careConfig.directAddress"></label>
                    <input name="directAdress" ng-model="patientEnrollment.userEditing.directAddress">
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container flex>
                    <md-icon class="md-warn md-hue-2" md-svg-icon="{{patientEnrollment.careIcons.address}}"></md-icon>
                    <label ng-bind="::patientEnrollment.careConfig.address1"></label>
                    <input name="address" ng-model="patientEnrollment.userEditing.streetAddress1" required>
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container flex>
                    <label ng-bind="::patientEnrollment.careConfig.address2"></label>
                    <input name="address2" ng-model="patientEnrollment.userEditing.streetAddress2">
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container flex="50">
                    <label ng-bind="::patientEnrollment.careConfig.city"></label>
                    <input name="city" ng-model="patientEnrollment.userEditing.city" required>
                </md-input-container>
                <md-input-container flex="25">
                    <label ng-bind="::patientEnrollment.careConfig.state"></label>
                    <md-select name="state" md-on-open="patientEnrollment.onSelectOpen()" ng-model="patientEnrollment.userEditing.state" required>
                        <md-option ng-value="key" ng-repeat="(key, value) in patientEnrollment.states | orderObject" ng-bind="value"></md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex="25">
                    <label ng-bind="::patientEnrollment.careConfig.zipCode"></label>
                    <input name="zip" ng-pattern="/^\d{5}$/" ng-model="patientEnrollment.userEditing.zipCode" required>
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container flex>
                    <label ng-bind="::patientEnrollment.careConfig.email"></label>
                    <input name="email" ng-model="patientEnrollment.userEditing.email" type="email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/">
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container flex>
                    <label ng-bind="::patientEnrollment.careConfig.specialty"></label>
                    <input name="specialty" ng-model="patientEnrollment.userEditing.specialty">
                </md-input-container>
                <md-input-container flex>
                    <label ng-bind="::patientEnrollment.careConfig.careTeamRole"></label>
                    <md-select name="role" ng-disabled="patientEnrollment.IS_EDITMODE" md-on-open="patientEnrollment.onSelectOpen()" ng-model="patientEnrollment.userEditing.roleId" required>
                        <md-option ng-value="role.$key" ng-repeat="role in patientEnrollment.careteamRoles | orderBy: '$value'" ng-bind="role.$value"></md-option>
                    </md-select>
                </md-input-container>
            </div>
        </div>
    </form>
</md-content>