//md-dialog-actions(layout='row')
//    span(flex='')
//    md-button(ng-click="patientEnrollment.saveAndQuit()")
//        | Save & Quit
//    md-button(ng-click="gsiWizard.nextStep()", ng-hide="gsiWizard.isLastStep()" ng-disabled="gsiWizard.currentStepInvalid()" style='margin-right:20px;')
//        | Next
