md-toolbar
  .md-toolbar-tools
    h2(flex) Enrollment & Care Team Management
    md-button.md-icon-button(flex="nogrow" ng-click="patientEnrollment.close(patientEnrollment.wizardStep4)", aria-label='Next')
      md-icon(md-svg-icon='close')
