md-dialog#patientEnrollmentContent(aria-label='Enrollment & Care Team Management' class="md-body-1 wizard-dialog enrollment-wizard" ng-controller="PatientEnrollmentController as patientEnrollment")
    include header
    include body
    include footer
    // template files
    include org_tpl
    include rhio_tpl
    include program_tpl
    include careTeam_tpl
    include style.html