<!--A patient can be assigned to some organization. Each patient will have a primary 
organization and can  have multiple secondary organization. It can be updated and modified-->
script(type="text/ng-template" id="patientEnrollment.org.tpl.html" ng-cloak)
    md-content.enrollment-wizard-tab-content(flex ng-cloak)
        form.md-inline-form(name='patientEnrollment.wizardStep1', gsi-form-wizard-form='', novalidate='' id="organization")
            div.enrollment-wizard-intro(layout='column', layout-gt-xs='row', flex='' id="primaryConfigurable")
                div {{patientEnrollment.orgConfig.chooseDropDown}}
                  div {{patientEnrollment.orgConfig.searchCMA}}
            div(layout='column', layout-gt-xs='row', flex='' id="primaryDropDown")
                md-input-container(flex='100', flex-gt-xs='50', layout-md="30")
                    label {{patientEnrollment.orgConfig.primaryCma}}*
                    md-select(ng-model="patientEnrollment.organizationData.primaryOrganizationSelected" ng-change="patientEnrollment.primaryCmaChange()" ng-model-options="{trackBy: '$value.id'}")
                        md-option(ng-repeat="primary in patientEnrollment.primaryData" ng-value="primary") {{::primary.name}}
            div(layout='column', layout-gt-xs='row', flex='' id="otherCMA")
                md-input-container(ng-init="patientEnrollment.testOtherOrg()" class="secondaryCma")
                  label
                    h1 {{patientEnrollment.orgConfig.otherCma}}
                  md-chips(id="secondryTypeahead"
                    md-on-remove="patientEnrollment.removeSecondary($chip)"
                    ng-model="patientEnrollment.organizationData.secondaryOrganizationSelected"
                    md-removable="true"
                    placeholder=""
                    md-transform-chip = "patientEnrollment.onOrganizationAdd($chip)"
                    )
                    md-autocomplete(placeholder="{{patientEnrollment.orgConfig.otherOrganization}}"
                        md-selected-item="patientEnrollment.selectedItem",
                        md-search-text-change="patientEnrollment.searchTextChange($event)",
                        md-selected-item-change ="patientEnrollment.selectedItemChange(item)",
                        md-search-text="patientEnrollment.searchText",
                        md-items="item in patientEnrollment.querySearch(patientEnrollment.searchText)",
                        md-item-text="item.name"
                        ng-disabled="!patientEnrollment.organizationData.primaryOrganizationSelected.name"
                    )
                        md-item-template
                            span(md-highlight-text="patientEnrollment.searchText" md-highlight-flags="ig") {{item.name}}
                        md-not-found(style="color:red;width:100%") {{patientEnrollment.orgConfig.noSearch}} "{{patientEnrollment.searchText}}"
                    md-chip-template(style="font-size:14px" custom-chip ng-class="{'accent': $chip.typeColor === 'secondary', 'accent-300': $chip.typeColor === 'auto'}")
                          span {{$chip.name}}
    div.enrollment-wizard-footer(flex='nogrow', layout='row', layout-align='end center' md-colors="{background: 'default-background'}")
            md-button.md-accent(ng-click='patientEnrollment.close()')
                | {{patientEnrollment.orgConfig.btnCancel}}
            gsi-save-md-button(button-class="md-raised",
             gsi-save-click='patientEnrollment.saveOrgData("organization")',
             ng-disabled="patientEnrollment.orgDisable",
             status="patientEnrollment.stepScopes.org.status",
             id="btnSaveOrg")

<!--it is the MPA page which shows the access providers with read only or read and write access -->
script(type="text/ng-template" id="patientEnrollment.provide.tpl.html")
    md-content.enrollment-wizard-tab-content(flex ng-cloak)
        form.md-inline-form(name='patientEnrollment.wizardStep5', gsi-form-wizard-form='', novalidate='' id="providerAccess")
            div.enrollment-wizard-intro(layout='column', class="bottom-3")
                div {{patientEnrollment.provideConfig.text1}}
                div {{patientEnrollment.provideConfig.text2}}
            div(layout='column', xid="provideAccess")
                h2.form-heading {{patientEnrollment.provideConfig.mpaLabel}}
                md-chips(id="dynamicTypeAhead"
                ng-model="patientEnrollment.providerSelected"
                md-transform-chip = "patientEnrollment.onProviderAdd($chip)"
                md-on-remove="patientEnrollment.onMpaRemove($chip,$event)")
                    md-button(
                    class="md-chip-remove"
                    md-chip-remove
                    ng-show="!$chip.readOnlyOrgForMPA"
                    ng-click="patientEnrollment.remove($chip,$index,$event)"
                    )
                        md-icon(md-svg-icon="{{patientEnrollment.orgIcon.closeIcon}}")
                    md-autocomplete(
                    placeholder="{{patientEnrollment.orgConfig.otherOrganization}}"
                    md-no-label
                    md-selected-item="patientEnrollment.selected",
                    md-search-text-change="patientEnrollment.providerTextChange()",
                    md-search-text="patientEnrollment.search",
                    md-items="item in patientEnrollment.providerLocalSearch(patientEnrollment.search)",
                    md-item-text="item.name"
                    ng-keydown="patientEnrollment.keyCode=$event.keyCode"
                    )
                        span (md-highlight-text="patientEnrollment.search"){{item.name}} :: {{item.city}}
                        md-item-template
                            span(md-highlight-text="patientEnrollment.search" md-highlight-flags="ig") {{item.name}}
                        md-not-found {{patientEnrollment.orgConfig.noSearch}} "{{patientEnrollment.search}}"
                    md-chip-template(
                    custom-chip
                    ng-class="{'accent': $chip.typeColor === 'secondary' || $chip.typeColor === 'primary', 'accent-300': $chip.typeColor === 'auto'}")
                        div(class="md-title" style="font-size:13px") {{$chip.name}}
                        div(style="margin-top:-13px;font-size: 11px;") {{$chip.city}},{{$chip.state}}
    div.enrollment-wizard-footer(flex='nogrow', layout='row', layout-align='end center' md-colors="{background: 'default-background'}")
        md-button.md-accent(ng-click='patientEnrollment.close()')
            | {{patientEnrollment.orgConfig.btnCancel}}
        gsi-save-md-button(button-class="md-raised",
            gsi-save-click='patientEnrollment.saveOrgData("provider")',
            ng-disabled="patientEnrollment.provideSaveDisable",
            status="patientEnrollment.stepScopes.org.status",
            id="btnSaveProvider")