script(type="text/ng-template" id="patientEnrollment.program.tpl.html")
    div(layout="column"
        flex
        ng-if="patientEnrollment.getPatientProgramsError!==true &&  \
            patientEnrollment.patientPrograms &&  \
            patientEnrollment.programList && \
            patientEnrollment.patientDemog" ng-hide="patientEnrollment.stepScopes.program.showHistory")
        md-content.enrollment-wizard-tab-content(flex)
            gsi-program-table(
                form = 'patientEnrollment.programForm',
                patient-programs="patientEnrollment.patientPrograms",
                program-list="patientEnrollment.programList",
                patient-demog="patientEnrollment.patientDemog",
                status-effective-date-editable = "patientEnrollment.stepScopes.program.statusEffectiveDateEditable",
                column-config="patientEnrollment.stepScopes.program.columnMap",
                status="patientEnrollment.stepScopes.program.status"
                ng-disabled="patientEnrollment.stepScopes.program.status === patientEnrollment.gsiSaveInProgress"
            )
                .program-form
                    div.enrollment-wizard-intro(flex="100"
                        flex-gt-xs="80"
                        ng-bind-html="::gsiProgramTable.utils.getText('intro')")
                    .gsi-program-table-toolbar(layout="row" layout-align="space-between center")
                        div(flex)
                        div(flex="nogrow")
                            md-button.md-icon-button(ng-click="patientEnrollment.stepScopes.program.toggleHistoryView(true)")
                                md-icon(md-svg-icon="{{::gsiProgramTable.utils.getIcon('viewHistory')}}")
                                md-tooltip {{::gsiProgramTable.utils.getText('historyButtonTooltip')}}
                            gsi-program-add-button
                    gsi-program-table-content

        div.enrollment-wizard-footer(flex='nogrow', layout='row', layout-align='end center' md-colors="{background: 'default-background'}")
            div
                span(md-colors="{color:'default-accent'}" ng-if="patientEnrollment.stepScopes.program.errorMessage" ng-bind="patientEnrollment.stepScopes.program.errorMessage")
            md-button.md-accent(ng-click='patientEnrollment.close()' ng-bind="patientEnrollment.app.settings.apps.patient.enrollment.program.text.cancelButton")
            gsi-save-md-button(button-class="md-raised",
                               gsi-save-click='patientEnrollment.stepScopes.program.save()',
                               ng-disabled="patientEnrollment.programForm.$pristine || patientEnrollment.programForm.$invalid",
                               status="patientEnrollment.stepScopes.program.status",
                               id="btnSaveProgram")

    div(layout="column" flex ng-if="patientEnrollment.stepScopes.program.showHistory" ng-init="patientEnrollment.stepScopes.program.initHistory()")
        md-content.error-wrapper(flex layout-fill ng-if="patientEnrollment.getPatientProgramHistoryError")
            error(msg="::patientEnrollment.app.settings.apps.patient.enrollment.program.text.historyErrorMessage" reload="patientEnrollment.stepScopes.program.initHistory()")
        md-content.enrollment-wizard-tab-content(flex ng-if="!patientEnrollment.getPatientProgramHistoryError")
            div(ng-if="!patientEnrollment.stepScopes.program.historyData" layout-fill layout="column" layout-align="center center")
                md-progress-circular(mode="indeterminate")
            div(ng-if="patientEnrollment.stepScopes.program.historyData")
                div(ng-if="patientEnrollment.stepScopes.program.historyHasError")
                    span(md-colors="{color:'default-accent'}" ng-bind="::patientEnrollment.app.settings.apps.patient.enrollment.program.text.historyHasErrorMssg")
                vis-timeline(
                    class="program-timeline"
                    data="patientEnrollment.stepScopes.program.historyData"
                    options="patientEnrollment.stepScopes.program.historyOptions"
                    events="patientEnrollment.stepScopes.program.historyEvents"
                    )
        div.enrollment-wizard-footer(flex='nogrow', layout='row', layout-align='end center' md-colors="{background: 'default-background'}")
            md-button.md-accent(
                ng-click="patientEnrollment.stepScopes.program.toggleHistoryView(false)"
                ng-bind="::patientEnrollment.app.settings.apps.patient.enrollment.program.text.historyCloseButton")

    div.enrollment-wizard-tab-content(ng-if="patientEnrollment.getPatientProgramsError===true")
        div(ng-bind="::patientEnrollment.app.settings.apps.patient.enrollment.program.text.loadErrorMessage")
        md-button.md-raised(ng-click="patientEnrollment.stepScopes.program.reload()" ng-bind="::patientEnrollment.app.settings.apps.patient.enrollment.program.text.reloadButton")