script(type="text/ng-template" id="patientEnrollment.rhio.tpl.html")
    - var labelAttr = {flex:100, layout:'column','layout-align':'center start'};
    - var widthAttr = {flex:100, 'flex-gt-sm':30, 'flex-gt-xs':50};
    div(layout="column" flex ng-if="patientEnrollment.getRhioError!==true && patientEnrollment.patientRhio && patientEnrollment.patientRhio.endpoints.length > 0" )
        md-content.enrollment-wizard-tab-content.rhio-content(flex)

            //-PatientRhio editor
            form.md-inline-form(
            ng-if="patientEnrollment.patientRhio.readOnly===false"
            gsi-form-wizard-form name='patientEnrollment.rhioForm',
            novalidate=''
            class="rhioForm"
            ng-submit="patientEnrollment.stepScopes.rhio.saveRhio()"
            )
                div.enrollment-wizard-intro(flex="100" ng-bind-html="::patientEnrollment.app.settings.apps.patient.enrollment.rhio.text.intro")
                input(type="hidden" name="rhio" style="display:none" ng-model="patientEnrollment.patientRhio" rhio-validator)
                div.switch-row(layout="row" layout-align="space-between center")&attributes(widthAttr)
                    label(flex for="sharing_switch")&attributes(labelAttr)
                        h2.form-heading {{::patientEnrollment.app.settings.apps.patient.enrollment.rhio.text.label}}
                    md-switch.sharing-switch(
                            name="sharing_switch"
                            ng-model="patientEnrollment.patientRhio.sharing"
                            aria-label="{{::patientEnrollment.app.settings.apps.patient.enrollment.rhio.text.label}}"
                            ng-change="patientEnrollment.patientRhio.sharing ? patientEnrollment.stepScopes.rhio.revertRhio() : patientEnrollment.stepScopes.rhio.resetRhio()")
                div(ng-repeat="ep in patientEnrollment.patientRhio.rhioFamilies" layout='column', flex='' ng-disabled="!patientEnrollment.patientRhio.sharing")&attributes(widthAttr)
                    // - Sharing boolean check is a fix for ngChecked+ngDisabled combination
                    div(layout="row")
                        label(ng-disabled="!patientEnrollment.patientRhio.sharing" ng-click="patientEnrollment.patientRhio.sharing ? ( ep.selected ? ep.selected = null : ep.selected=ep.endpoints[0].id ): angular.noop()" for="endpoint_{{ep.id}}" )&attributes(labelAttr) {{::ep.name}}
                        md-checkbox(id="endpoint_{{ep.id}}" ng-checked="patientEnrollment.patientRhio.sharing&&ep.selected" ng-click="ep.selected ? ep.selected = null : ep.selected=ep.endpoints[0].id;patientEnrollment.stepScopes.rhio.setDirty()" ng-disabled="!patientEnrollment.patientRhio.sharing" aria-label="{{ep.name}}")
                    md-radio-group(ng-model="ep.selected" layout="column" ng-disabled="!patientEnrollment.patientRhio.sharing")
                        div(layout="row" ng-repeat="opt in ep.endpoints" ng-click="(patientEnrollment.patientRhio.sharing) ? ep.selected = opt.id : angular.noop()")
                            label(for="endpoint_{{ep.id}}_opt_{{opt.id}}")&attributes(labelAttr) {{::opt.name}}
                            md-radio-button(id = "endpoint_{{ep.id}}_opt_{{opt.id}}" value="{{opt.id}}" aria-label="{{::opt.name}}")
                div(ng-repeat="ep in patientEnrollment.patientRhio.endpoints" layout='column', layout-gt-xs='row', flex='' ng-disabled="!patientEnrollment.patientRhio.sharing")&attributes(widthAttr)
                    div(layout='row' flex)
                        label(for="endpoint_{{ep.id}}" ng-click="patientEnrollment.patientRhio.sharing?ep.enabled=!ep.enabled: angular.noop();" ng-disabled="!patientEnrollment.patientRhio.sharing")&attributes(labelAttr) {{::ep.name}}
                        md-checkbox(id="endpoint_{{ep.id}}" ng-model="ep.enabled" ng-disabled="!patientEnrollment.patientRhio.sharing" aria-label="{{ep.name}}")

            // - Patient rhio is read only
            div(ng-if="patientEnrollment.patientRhio.readOnly===true")
                div.enrollment-wizard-intro(flex="100" flex-gt-xs="80" ng-bind-html="::patientEnrollment.app.settings.apps.patient.enrollment.rhio.text.readOnlyIntro")
                md-list.rhio-readonly-list(ng-repeat="ep in patientEnrollment.patientRhio.endpoints")&attributes(widthAttr)
                    md-list-item {{::ep.name}}


        div.enrollment-wizard-footer(flex='nogrow', layout='row', layout-align='end center' md-colors="{background: 'default-background'}")
            div
                span(md-colors="{color:'default-accent'}" ng-if="patientEnrollment.rhioForm.rhio.$invalid" ng-bind="::patientEnrollment.app.settings.apps.patient.enrollment.rhio.text.atLeastOneRequired")
            md-button.md-accent(ng-click='patientEnrollment.close()' ng-bind="::patientEnrollment.app.settings.apps.patient.enrollment.rhio.text.cancelButton")
            gsi-save-md-button(button-class="md-raised",
            ng-show="patientEnrollment.patientRhio.readOnly===false"
            gsi-save-click='patientEnrollment.stepScopes.rhio.saveRhio()',
            ng-disabled="patientEnrollment.rhioForm.$invalid || patientEnrollment.rhioForm.$pristine",
            status="patientEnrollment.stepScopes.rhio.status",
            id="btnSaveRhio")
    div(layout-padding ng-if="patientEnrollment.patientRhio!==false && (patientEnrollment.patientRhio.rhioFamilies.length==0 && patientEnrollment.patientRhio.endpoints.length==0)" flex="nogrow")
        div {{::patientEnrollment.app.settings.apps.patient.enrollment.rhio.text.empty}}

    div.enrollment-wizard-tab-content(ng-if="patientEnrollment.getRhioError===true" flex="nogrow")
        div(ng-bind="::patientEnrollment.app.settings.apps.patient.enrollment.rhio.text.loadErrorMessage").
        md-button.md-raised(ng-click="patientEnrollment.stepScopes.rhio.reloadRhio()" ng-bind="::patientEnrollment.app.settings.apps.patient.enrollment.rhio.text.reloadButton")