<div style="padding-bottom: 16px" layout="column" ng-if="patientEnrollment.showUserProfile && !patientEnrollment.showSearch">
    <div layout="row" style="position: relative">
        <md-button class="md-icon-button" ng-if="!patientEnrollment.isInCurrentCareTeam(patientEnrollment.userProfile)" style="position: absolute; top: 0; right: 0" ng-click="patientEnrollment.addtoList(patientEnrollment.userProfile, patientEnrollment.backToUserProfile)">
            <md-icon class="s32" md-svg-icon="{{patientEnrollment.careIcons.addProvider}}"></md-icon>
            <md-tooltip md-direction="left">{{patientEnrollment.careConfig.careTeamAdd}}</md-tooltip>

        </md-button>
        <span class="profile-avatar margin-16"  ng-bind="patientEnrollment.userProfile.lastName[0]"></span>
        <div flex layout="column" class="margin-16">
            <span class="profile-title" style="margin-top: 8px">
                <span ng-if="patientEnrollment.userProfile.title" ng-bind="patientEnrollment.userProfile.title + ' '"></span><span ng-bind="patientEnrollment.userProfile.firstName + ' ' + patientEnrollment.userProfile.lastName"></span><span ng-if="patientEnrollment.userProfile.credential" ng-bind="', ' + patientEnrollment.userProfile.credential"></span>
            </span>
            <span class="profile-subtitle">{{patientEnrollment.careConfig.NPI + ': '}}{{patientEnrollment.userProfile.NPI ? patientEnrollment.userProfile.NPI : patientEnrollment.careConfig.noDataLabel}}</span>
            <span class="profile-subtitle marked">
                <md-icon class="md-warn md-hue-2" md-svg-icon="{{patientEnrollment.careIcons.org}}"></md-icon>
                {{patientEnrollment.userProfile.organizationName ? patientEnrollment.userProfile.organizationName : patientEnrollment.careConfig.noDataLabel}}
            </span>
        </div>
    </div>
    <md-divider style="margin-top: 16px"></md-divider>
    <ul class="profile-list margin-16">
        <li class="profile-item" layout="row">
            <md-icon class="md-warn md-hue-2" md-svg-icon="{{patientEnrollment.careIcons.gender}}"></md-icon>
            <span flex class="infor" ng-bind="patientEnrollment.careConfig.gender.toUpperCase() + ': ' + patientEnrollment.genders[patientEnrollment.userProfile.gender]"></span>
        </li>
        <li class="profile-item" layout="row">
            <md-icon class="md-warn md-hue-2" md-svg-icon="{{patientEnrollment.careIcons.phone}}"></md-icon>
            <span flex class="infor" ng-if="patientEnrollment.userProfile.mobileNumber">{{patientEnrollment.userProfile.mobileNumber | phone}}<span ng-if="patientEnrollment.userProfile.mobileNumber && patientEnrollment.userProfile.phoneExtn">{{' ext '+ patientEnrollment.userProfile.phoneExtn}}</span></span>
            <span flex class="infor" ng-if="!patientEnrollment.userProfile.mobileNumber">{{patientEnrollment.careConfig.noDataLabel}}</span></span>
        </li>
        <li class="profile-item" layout="row">
            <md-icon class="md-warn md-hue-2" md-svg-icon="{{patientEnrollment.careIcons.directAddress}}"></md-icon>
            <span flex class="infor">{{patientEnrollment.userProfile.directAddress ? patientEnrollment.userProfile.directAddress : patientEnrollment.careConfig.noDataLabel}}</span>
        </li>
        <li class="profile-item not-margin" layout="row">
            <md-icon class="md-warn md-hue-2" md-svg-icon="{{patientEnrollment.careIcons.address}}"></md-icon>
            <span flex class="infor">{{(patientEnrollment.userProfile|address) ? (patientEnrollment.userProfile|address) : patientEnrollment.careConfig.noDataLabel}}</span>
        </li>
    </ul>
</div>