<!--<md-input-container classs="md-block(flex-gt-sm='')">-->
<md-autocomplete flex id="txtAssignTo" md-input-name="autocompleteField2" md-input-minlength="1" md-search-text="scope.orgCareteamUserSearch.searchText" md-items="item in scope.orgCareteamUserSearch.query(scope.orgCareteamUserSearch.searchText)" md-item-text="item.lastName + ', ' + item.firstName" md-delay="250" md-floating-label="Assign To" class="nopadding-bottom nopadding-top nomargin-top" md-selected-item="scope.orgCareteamUserSearch.selectedItem">
  <md-item-template>
    <span md-highlight-text="scope.orgCareteamUserSearch.searchText">
      {{item.lastName + ', ' + item.firstName + ' (' + item.organization + ')'}}
    </span>
  </md-item-template>
</md-autocomplete>
<div style="margin-top: -36px; margin-bottom: 36px">
  <p id="lblAssignNote" ng-if="(scope.orgCareteamUserSearch.selectedItem === undefined || scope.orgCareteamUserSearch.selectedItem.email === undefined)" class="nopadding-bottom dateLabel">
    When field is blank, task defaults to original/previous assignee: ‘ {{data.userLastName + ', ' + data.userFirstName}} ‘
  </p>
  <p id="lblAssignBy" class="nopadding-bottom dateLabel" ng-if="data.assignedByEmailId !== undefined && data.assignedByEmailId !== data.userEmailId">
    Assigned By: {{data.assignedByLastName}}, {{data.assignedByFirstName}}
  </p>
</div>
