md-dialog-content
  md-content(layout-padding='', style="overflow-x: hidden").nopadding-top.nopadding-bottom
    form(name="taskDetailForm").nomargin-bottom
      div(ng-if='scope.isSystem(data)', layout="row" layout-align="space-between center").nopadding-top.nopadding-bottom
        span.validation-messages(ng-if="scope.isConsent") You do not have consent to access the patient’s record
        p(flex)
        md-button(ng-disabled='scope.isConsent' ng-click='scope.loadCarePlan(data)', aria-label='Take action', class='md-primary').btnAction
          md-icon(md-svg-icon='open-in-new')
          | Take action
      md-input-container.md-block(flex-gt-sm='').nomargin-bottom.nopadding-bottom.nopadding-top
        label Title
        input(ng-disabled='scope.isSystem(data)', ng-model='data.userTaskTitle', name='titleField', required, maxlength='200')
      include assignment.html
      p.nomargin-bottom.nomargin-top.nopadding-top.nopadding-bottom.datePadding
        span.dateLabel Due Date
      md-datepicker.md-block(md-min-date='scope.minDate', md-max-date='scope.maxDate', ng-disabled='scope.isSystem(data)', ng-model='data.dueDateTime', name='dateField', md-placeholder='Due date', required).nomargin-top
      include patientSearch.html
      include patientCard
      md-input-container.md-block.hasmargin-top.nopadding-bottom.nopadding-top.nopadding-top
        label Description
        textarea(ng-model='data.userTaskDescr', name='detailField', md-maxlength='1000', rows='1', max-rows='5', md-select-on-focus='', required)
      md-input-container.md-block(flex-gt-sm='')
        label Status
        md-select(ng-model='data.taskProgressStatusId.taskProgressStatusId')
          md-option(ng-repeat='item in scope.status', value='{{item.taskProgressStatusId}}')
            | {{item.progressStatusDesc}}
      p.nopadding-top.nopadding-bottom Created: {{data.creationDateTime | date : 'M/d/yyyy h:mm a'}}
      p.nopadding-bottom Last updated: {{data.lastUpdateDateTime | date : 'M/d/yyyy h:mm a'}} 
        span(ng-if='scope.isSystem(data) && !data.lastUpdatedByFirstName') By User: System
        span(ng-if='data.lastUpdatedByFirstName') By User: {{data.lastUpdatedByLastName}}, {{data.lastUpdatedByFirstName}}
      .devmode(ng-if="scope.devmode.toggles.taskDetails")
        | Task model
        pre(pretty-json="data")
      include comment
