div(style="padding: 16px 0", ng-init="scope.limit = 3; scope.txtComment=''")
  div(layout="row")
    md-icon.comment-avatar(md-svg-icon="account-circle")
    md-input-container(flex, md-no-float="true", style="margin: 0")
      textarea(placeholder="Write a comment..", ng-model="scope.txtComment", press-enter="scope.addComment(data)")
  div(layout="row", layout-align="end center", style="padding-bottom: 16px")
    md-button.md-raised.md-primary(ng-disabled="!scope.txtComment", ng-click="scope.addComment(data)") Add       
  div.comment(ng-init="comment.txtComment = comment.comment", layout="row", ng-repeat="comment in scope.comments | orderBy: '-creationDateTime' | limitTo: scope.limit as results")
    md-icon.comment-avatar(md-svg-icon="account-circle")
    div.comment-info(flex, layout="column", ng-if="!comment.editMode")
      div(layout="row", layout-align="start center")
        span.username(ng-bind="comment.userLastName + ', ' + comment.userFirstName")
        span.time(ng-bind="comment.creationDateTime | date: 'M/d/yyyy h:mm a'")
        span.edited
          md-icon(class="edited-icon", ng-if="comment.lastUpdateDateTime && comment.lastUpdateDateTime!==comment.creationDateTime", md-svg-icon="pencil")
          md-tooltip(md-direction="top") Updated on {{comment.lastUpdateDateTime | date: 'M/d/yyyy h:mm a'}}
        span(flex)
        md-menu(ng-if="comment.fromCurrentUser")
          md-button.md-icon-button(ng-click="$mdOpenMenu($event)", arial-label="Menu")
            md-icon(md-svg-icon="dots-vertical")
          md-menu-content
            md-menu-item
              md-button(ng-click="comment.editMode = true") Edit
            md-menu-item
              md-button(ng-click="scope.deleteComment(comment)") Delete
      pre.message(ng-bind="comment.comment")
    div(ng-if="comment.editMode", flex, layout-wrap)
      div.edit-box(flex="100")
        pre(ng-bind="comment.txtComment + '\n'")
        textarea(autofocus, ng-model="comment.txtComment", press-enter="scope.updateComment(comment)", ng-trim="false")
      div.action
        a(href="javascript:void(0)", ng-click="scope.updateComment(comment)") Save
        a(href="javascript:void(0)", ng-click="comment.editMode = false") Cancel
  a.showmore(href="javascript:void(0)", ng-click="scope.limit = scope.limit + 3", ng-hide="results.length === scope.comments.length") Show more..
  a.showless(href="javascript:void(0)", style="padding-left:50px",ng-click="scope.limit = scope.limit - 3", ng-show="results.length>3") Show less..