md-dialog-actions(layout='row')
    // md-button(ng-if="scope.devmode.enabled" ng-click="scope.devmode.toggles.taskDetails = !scope.devmode.toggles.taskDetails") devmode
    div(ng-hide="true") {{titleMsg='(*) Please enter Title'}}
    div(ng-hide="true") {{detailMsg='(*) Please enter Detail'}}
    div(ng-hide="true") {{titleDetailMsg='(*) Please enter Title, Detail'}}
    div(ng-hide="true") {{detailMaxLengthMsg='(*) Detail should contain maximum 1000 characters'}}
    div(ng-hide="true") {{dateMsg='(*) Invalid due date'}}  

    span.validation-messages(ng-if="taskDetailForm.dateField.$invalid") {{dateMsg}}

    span.validation-messages(ng-if="taskDetailForm.titleField.$error.required && !taskDetailForm.detailField.$error.required && taskDetailForm.dateField.$valid") {{titleMsg}}

    span.validation-messages(ng-if="taskDetailForm.detailField.$error.required && !taskDetailForm.titleField.$error.required && taskDetailForm.dateField.$valid") {{detailMsg}}

    span.validation-messages(ng-if="taskDetailForm.detailField.$error['md-maxlength'] && !taskDetailForm.titleField.$error.required && taskDetailForm.dateField.$valid") {{detailMaxLengthMsg}}

    span.validation-messages(ng-if="taskDetailForm.titleField.$error.required && taskDetailForm.detailField.$error.required && taskDetailForm.dateField.$valid") {{titleDetailMsg}}

    span(flex='')
    md-button#btnOk(ng-click="choose('ok')", ng-disabled="taskDetailForm.titleField.$invalid || taskDetailForm.detailField.$invalid || taskDetailForm.dateField.$invalid") OK
    md-button#btnCancel(ng-click="choose('cancel')") Cancel
