md-toolbar
  .md-toolbar-tools
    h2
      | Task Details 
      span(ng-if='scope.isSystem(data)', style='padding-right: 5px') (System Task)
    span(flex='')
    md-button.md-icon-button(ng-click="choose('cancel')", aria-label='Cancel')
      md-icon(md-svg-icon='close')