.validation-messages {
    font-size: 14px;
    color: #dd2c00;
}

.nomargin-bottom {
	margin-bottom: 0;
}

.nomargin-top {
	margin-top: 0 !important;
}

.hasmargin-top {
	margin-top: 30px;
}

.nopadding-bottom {
	padding-bottom: 0 !important;
}

.nopadding-top {
	padding-top: 0 !important;
}

.btnAction {
	width: 130px !important;
}

.dateLabel {
	color: rgba(0,0,0,0.54);
	font-size: 11px;
}

.datePadding {
	padding-left: 3px !important;
}