<div layout="row">
    <div flex>
        <p class="nomargin-top">Gender -         {{data.patientInfo.gender}}</p>
        <p>Date of Birth -  {{data.patientInfo.dob | date : 'M/d/yyyy'}}</p>
        <p ng-if="data.patientInfo.ssn && data.patientInfo.ssn != '000000000'">
            SSN -            {{data.patientInfo.ssn | ssn }}
        </p>
        <p ng-if="scope.minorWarning !== undefined" style="color: red;">
            {{scope.minorWarning}}
        </p>
    </div>
</div>