<md-content flex flex-lg="80" class="md-whiteframe-z3 task-list-container">
    <div class="header"
         layout="row"
         layout-align="center center">
        <span class="md-headline">Task List</span>
</div>
 <md-virtual-repeat-container class="items-container">
       <div md-virtual-repeat="item in task.tasks | filter:task.statusFilterFn(item)|taskFilter: task.search.status | orderBy: '-lastUpdateDateTime'" >
            <gsi-task-item
                    item="item"
                    on-click="details(task,ev)"></gsi-task-item>
       </div>
    </md-virtual-repeat-container>
</md-content>
