md-tab(label="Status")
  md-content(class="md-padding")
    div(flex, style="height: 540px;",
        ng-if="task.loadedTabs[task.appTabs.indexOf('status')]||task.selectedTab===task.appTabs.indexOf('status')", 
        ng-init="task.loadedTabs[task.appTabs.indexOf('status')]=true")
      include header.html
      div(flex, layout="row")
        include body.html
