.padding {
    padding: 8px;
}
.column-title {
    font-weight: 600;
    display: block;
    cursor: pointer;
    outline: 0;
}
.column-info {
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 4px 0 0;
}
.patient-row {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    vertical-align: middle;
    background-color: #fff;
}
.patient-list {
    width: 100%;
    // max-height: 60%;
    height: 400px;
    background-color: #fff;
}
.patient-row:hover, .patient-row.even:hover{
    background-color: #dadada;
}
.patient-menu {
    cursor: pointer;
    md-icon {
        outline: 0;
    }
}
.inlist {
    width: 30px;
    padding: 0 6px 0 0;
}
#patient-search {
    width: 200px;
    height: 24px;
}
#popup-header {
    padding: 20px 24px 10px 34px;
    .title {
        line-height: 30px;
        font-size: 15px;
        font-weight: 600;
    }
}
.sorting {
    &.asc::after {
        content: '\2191';
        height: 24px;
        margin-left: 5px;
    }
    &.desc::after {
        content: '\2193';
        height: 24px;
        margin-left: 5px;
    }
}
@media screen and (max-width: 599px) {
    .patient-list:not(.not-responsive) {
        max-height: 60%;
        .patient-row {
            height: 160px;
        }

        .column-info {
            font-size: 18px;
            white-space: nowrap;
        }
        .column-info.name {
            padding: 8px 0;
            font-size: 24px;
            font-weight: 400;
            text-transform: capitalize;
            white-space: nowrap;
        }
        .column-info {
            position: relative;
            vertical-align: middle;
        }
        .id::after {
            content: 'ID';
        }
        .gender::after {
            content: 'Gender';
        }
        .dob::after {
            content: 'DoB';
        }
        .primaryPayer::after {
            content: 'Primary Payer';
        }
        .org::after {
            content: 'CM Organization';
        }
        .status::after {
            content: 'Enrollment Status';
        }
        .id, .gender, .dob, .primaryPayer, .org, .status {
            padding: 8px 0 16px 0;
        }
        .id::after, .gender::after, .dob::after, .primaryPayer::after, .org::after, .status:after {
            position: absolute;
            top: -2px;
            left: 0;
            opacity: 0.8;
            font-size: 10px;
        }
    }
}
.info-wrapper {
    outline: 0;
}

.clickable {
  cursor: pointer;
}

.table-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    padding: 8px 0px;
}
.patient-row {
    height: 50px;
    padding: 0px 8px;
}
.info-wrapper {
    height: 100%;
    vertical-align: middle;
    align-items: center;
}
.patient-menu {
    height: 100%;
    padding: 0;
}
.patient-list {
    .even {
        background-color: #fafafa;
    }
}
#lblNoEncounter {
    position: absolute;
    top: 50px ;
    right: 0px;
    font-size: 12px;
    width: 100%;
    text-align: center;
}
.badge-count {
        outline: 0;
        background: #ff5722;
        font-size: 15px;
        font-weight: bold;
        border-radius: 50%;
        min-width: 25px;
        display: inline-block;
        text-align: center;
        color: white;
        font-family: Arial, Verdana, sans-serif;
        padding: 3px;
        border: 1px solid rgba(0,0,0, 0.12);
        margin: 0 2px;
        box-sizing: border-box;
        cursor: pointer;
    }

.ms-widget.ms-widget-custom {
    .ms-widget-front {
        border: 1px solid rgba(0,0,0,.12);
    }
}

.nvd3 .nv-axislabel {
    font-weight: bold;
}

.nvd3.nv-pie .nv-pie-title {
    font-size: 1vw!important;
}
@media screen and (min-width: 960px) {
    .nvd3.nv-pie .nv-pie-title {
        font-size: 1vw!important;
    }

}
@media screen and (max-width: 959px) {
    .nvd3.nv-pie .nv-pie-title {
        font-size: 2vw!important;
    }

}
.progress-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;
    animation-name: show;
    animation-delay: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    md-progress-circular {
        z-index: 1;
    }
}
.progress-container.no-delay {
    visibility: visible;
    animation: none;
}
@keyframes show {
    0%   {visibility: hidden}
    100% {visibility: visible}
}
#searchPopup{
    width: 350px;
     p {
        padding: 0px 16px;
        margin-bottom: 15px;
        min-height: 54px;
        text-align: left;
     }
     input#txtPatientSearch {
        width: 200px;
        height: 24px;
        border: 1px solid #2196f3;
        padding: 0px 5px;
     }
}

md-grid-list {
   background-color: #f5f5f5;
}

md-grid-list md-grid-tile.noborder {
    border: none;
}

parse-widget {
    width: 100%;
    height: 100%;
}

alert-encounter-widget {
    width: 100%;
}
task-badge-count-widget {
    width: 100%;
}
ccp-widget {
    width: 100%;
}
gsi-alert-chart {
    display: flex;
}
.hide-zero .nvd3 rect[height="0"], .hide-zero .nvd3 rect[width="0"] {
    display: none !important;
}
md-grid-tile {
  -webkit-transition: all 200ms ease-out 50ms;
    -moz-transition: all 200ms ease-out 50ms;
    -o-transition: all 200ms ease-out 50ms;
    transition: all 200ms ease-out 50ms;
}

/* The starting CSS styles for the enter animation */
md-grid-tile.ng-leave {
  transition: none;
}
.backdrop {
    background: rgba(255, 255, 255,.7);
    z-index: 2;
}
.custom-select-footer {
    background: white;
    padding: 0 6px;
    border-top: 1px solid rgba(0, 0, 0, .1);
    .txt-footer {
        line-height: 46px;
        padding-left: 6px;
    }
    .txt-footer-assessment {
        line-height: 46px;
        padding-left: 6px;
        display: inline-flex;
        .red-assessment-text {
            color: red;
        }
    }
}
.over-row-notice {
    text-align: center;
    font-weight: bold;
}
#home-toolbar {
    display: inline;
    position: absolute;
    right: 0px;
    padding: 4px 0px;
    z-index: 1;
}

.tooltip-dialog {
    background: white;
    border-radius: 4px;
    box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
}

$alternate_row_background_color: #fafafa;
$table_width: 750px;
$table_body_min_height: 100px;
$table_body_max_height: 300px;
$column_one_width: 250px;
$column_two_width: 250px;
$column_three_width: 250px;

.fixed_headers {
    width: $table_width;
    table-layout: fixed;
    border-collapse: collapse;
    tr {
        display: block
    }
    th, td {
        padding: 10px 5px;
        text-align: left;
        vertical-align: top;
    }

    td:nth-child(1), th:nth-child(1) { min-width: $column_one_width; max-width: $column_one_width; }
    td:nth-child(2), th:nth-child(2) { min-width: $column_two_width; }
    td:nth-child(3), th:nth-child(3) { width: $column_three_width; }

    thead {
        tr {
            display: block;
            position: relative;
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        }
    }
    tbody {
        display: block;
        overflow: auto;
        width: 100%;
        min-height: $table_body_min_height;
        max-height: $table_body_max_height;
        tr:nth-child(even) {
            background-color: $alternate_row_background_color;
        }
    }
}
.profile-title {
    font-size: 36px;
    line-height: 1.1;
    font-weight: 700;
    margin-bottom: 5px;
    color: #3d4451;
    font-family: "Open Sans";
}
.profile-subtitle {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.1;
    color: #333333;
    margin-bottom: 4px;
    &.marked {
        color: #ff534f;
    }
}
ul.profile-list {
    list-style: none;
    padding: 0;
    
    .profile-item {
        &.not-margin {
            margin-bottom: 0;
        }
        margin-bottom: 13px;
        md-icon {
            vertical-align: text-top;
            margin-right: 4px;
            margin-top: -2px;
        }
        .title {
            display: inline-block;
            width: 120px;
            font-size: 12px;
            font-weight: 700;
            line-height: 20px;
            text-transform: uppercase;
            vertical-align: top;
            color: #9da0a7;
        }
        .infor {
            display: inline-block;
            font-size: 15px;
            font-weight: 400;
            line-height: 20px;
            color: #333333;
            vertical-align: top;            
        }
    }
}
.no-record {
    position: absolute;
    height: 70px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    z-index: 1;
    width: 100%;
}
.profile-avatar {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    padding: 16px;
    background: #fff;
    text-align: center;
    font-size: 62px;
    font-weight: 600;
    color: white;
    line-height: 80px;
    margin-right: 8px;
    background: #eeb864; 
    border-color: #eeb864
}
.margin-8 {
    margin: 8px;
}
.margin-16 {
    margin: 16px;
}