div.width-height-fix(ng-controller='AppReportController as report', ng-cloak)
		md-tabs.width-height-fix(md-dynamic-height='false')
			md-tab(ng-repeat="(category, cards) in report.reports", label="{{category}}")
				md-content.width-height-fix.tab-border
					include reportCard.html
