<div class="page-padding" layout="row" layout-wrap>
    <div ng-repeat="thisReport in cards" flex-sm="100" flex-md="100" flex-lg="50" flex-xl="33">
    <md-card class="landing-card" ng-style="{ 'background-color' : thisReport.color }">
        <md-card-title class="landing-card-content" layout="row" layout-align="space-between start">
            <md-card-title-text flex="100">
                <span class="landing-card-title">{{thisReport.title}}</span>
                <span class="md-caption landing-card-caption">{{thisReport.description}}</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center" class="landing-card-buttons">
            <md-button class="border-button md-raised" ng-click="app.event( 'local:appReports:details', thisReport )">{{thisReport.button||'View Report'}}</md-button>
        </md-card-actions>
    </md-card>
    </div>
</div>