<!-- Here is the task menu over on the right ( "+" icon and filters) -->
<span layout="row" style="display:inline;position:absolute;right:0px;height:48px;padding:5px 10px;z-index:10000;">
    <section layout="row">
        <div flex="nogrow" style="margin-top:4px" ng-if="app.subordinates.length > 0">
            <change-view-dropdown btn-id="tm-view" current-view="task.currentView" apply-fn="task.changeUserView(data)" type-not-shown="2"
                                  hide-drop-down-title="true"></change-view-dropdown>
        </div>

        <md-button class="md-icon-button md-primary" aria-label="New" ng-click="task.new($event)">
            <md-tooltip>New</md-tooltip>
            <md-icon md-svg-icon="plus"></md-icon>
        </md-button>
        <md-button class="md-icon-button md-primary" aria-label="Refresh" ng-click="task.refresh($event)">
            <md-tooltip>Refresh</md-tooltip>
            <md-icon md-svg-icon="refresh"></md-icon>
        </md-button>
        <div class="status-filter" hide show-gt-sm layout="row" layout-align="center center">
            <md-button ng-repeat="status in task.status"
                class="groupX" ng-click="task.filter[status.taskProgressStatusId].show = !task.filter[status.taskProgressStatusId].show"
                ng-class="[task.filter[status.taskProgressStatusId].css, {'inactive':!task.filter[status.taskProgressStatusId].show}]" id="btn{{status.progressStatusDesc}}">
            {{status.progressStatusDesc}}
            </md-button>
        </div>
        <md-button id="btnShowFilterPanel" hide-gt-sm class="md-icon-button md-primary" aria-label="Refresh" ng-click="task.openFilterPanel($event)">
            <md-tooltip>Filter</md-tooltip>
            <md-icon md-svg-icon="filter-variant"></md-icon>
        </md-button>
    </section>
</span>

<script type="text/ng-template" id="taskManager.filter.tpl.html">
    <div class="status-filter">
        <md-button ng-repeat="status in vm.task.status"
        class="groupX" ng-click="vm.task.filter[status.taskProgressStatusId].show = !vm.task.filter[status.taskProgressStatusId].show"
        ng-class="[vm.task.filter[status.taskProgressStatusId].css, {'inactive':!vm.task.filter[status.taskProgressStatusId].show}]" id="btn{{status.progressStatusDesc}}">
        {{status.progressStatusDesc}}
        </md-button>
    </div>
</script>