div(ng-controller='AppTaskController as task',style="min-height:100%", layout='row' layout-align='center' ng-cloak flex class='simpleDemo md-inline-form error-wrapper')
    error(ng-if='task.isLoadTaskError', msg="'Error Occurred: We encountered a problem Task Manager. Please try again later.'", reload='task.refresh()')    
    md-content(flex)
        div(layout-fill, ng-if="task.tasks[0]===false && !task.isLoadTaskError", layout="row", layout-align="center center", class="progress-container")
            md-progress-circular(md-mode="indeterminate")
        include header.html
        md-tabs(md-dynamic-height md-border-bottom md-selected='task.selectedTab')
            //- NOTE: When you remove the tab remember to also remove the tab name from my.appTabs in boot.js
            //-include homeTab/index
            //-include statusTab/index
            include multiStatusTab/index
            include timeTab/index
            //-include listTab/index
            //-include testTab/index
        include footer.html