<md-content style="height: 535px;">
	
    <section ng-repeat="heading in task.listHeading" ng-if="!heading.empty">
        <md-subheader 
        	ng-click="heading.show = !heading.show">
            {{heading.title}}
        </md-subheader>

        <md-list layout-padding>
            <md-list-item   class="md-2-line taskItem" 
                            ng-repeat="item in task.tasks | filter: task.search.list | orderBy: 'dueDateTime'"
                            ng-show="heading.show"
                            ng-if="item.meta.due == heading.name">
                <div ng-style="{'background-color':task.filter[item.taskProgressStatusId.taskProgressStatusId].color}">&nbsp;</div>
                <img style="margin: 20px 10px 0px 0;" ng-src="images/redux/icons/{{item.meta.icon.type}}.png" alt="{{item.meta.hoverTip}}" />
                <div class="md-list-item-text" layout="column" ng-click="task.details(item, $event)">
                  <h5>{{item.userTaskTitle}} : {{item.userTaskDescr}}</h5>
                  <p><span ng-if="item.patientId.firstname && item.patientId.lastname">{{item.patientId.firstname}}&nbsp;{{item.patientId.lastname}} : </span>{{item.dueDateTime | date : mediumDate}}</p>
                </div>
          </md-list-item>
            
            

<!--            <md-list-item
                ng-repeat="item in task.tasks | filter: task.search.list | orderBy: 'dueDateTime'"
                ng-click="task.details(item, $event)"
                ng-show="heading.show"
                ng-if="item.meta.due == heading.name"
                class="noright _md-button-wrap md-with-secondary ng-scope md-clickable"
                role="listitem" tabindex="-1">
                 <span ng-style="{'background-color': item.meta.color}" height="100%" width="20px">&nbsp;</span>  
                <div layout="column" style="cursor:pointer;" ng-click="task.details(item, $event)" >
                    <md-tooltip>{{item.meta.hoverTip}}</md-tooltip>
                    <img style="margin:5px;" ng-src="images/redux/icons/{{item.meta.icon.due}}.png" />
                    <img style="margin:5px;" ng-src="images/redux/icons/{{item.meta.icon.type}}.png" />
                </div>    
                    <div class="_md-list-item-inner">
                        <p>
                            {{item.userTaskTitle}} : {{item.userTaskDescr}}<br/>
                            {{item.patientId.firstname}}&nbsp;{{item.patientId.lastname}} : {{item.dueDateTime | date : mediumDate}}
                        </p>
                    </div>
            </md-list-item>-->
            
        </md-list>
        <md-divider ></md-divider>
    </section>
</md-content>
