<md-card ng-repeat="status in task.status"
         ng-style="{'background-color': task.filter[status.taskProgressStatusId].color}"
         ng-show="task.filter[status.taskProgressStatusId].show"
         ng-drop="true"
         ng-drop-success="task.statusChange($data, status.taskProgressStatusId)" layout="column" layout-align="start none" flex>

    <md-card-title flex="nogrow">
        <md-card-title-text>
            <span style="padding-left: 15px;" class="md-headline">{{status.progressStatusDesc}}</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content style="flex: 1 1 auto;">
        <md-list>
            <md-list-item class="md-3-line" ng-repeat="item in task.tasks | taskFilter: task.search.status | orderBy: '-lastUpdateDateTime'"
                ng-if="item.taskProgressStatusId.taskProgressStatusId == status.taskProgressStatusId"
                ng-drag="true"
                ng-drag-data="item"
                ng-drop="true"
         		ng-drop-success="task.statusChange($data, status.taskProgressStatusId)"
                style=" background: rgba(255,255,255,.7); padding: 0px; margin: 0px 0px 4px 0px; min-height: 75px"
                >
                <div layout="column" style="cursor:pointer;" ng-click="task.details(item, $event)" >
                    <md-tooltip>{{item.meta.hoverTip}}</md-tooltip>
                    <img style="margin:5px;" ng-src="images/redux/icons/{{item.meta.icon.due}}.png" />
                    <img style="margin:5px;" ng-src="images/redux/icons/{{item.meta.icon.type}}.png" />
                </div>
                <div class="md-list-item-text" layout="column" style="padding-right: 3px; cursor:move;">
                    <h3 style="font-size: 110%;">{{ item.userTaskTitle }}</h3>
                    <h4 style="font-size: 100%;">{{ item.userTaskDescr }}</h4>
                    <h4 style="font-size: 100%;">{{ item.patientId.firstname }} {{ item.patientId.lastname }}</h4>
                </div>
                <div layout="column" style="margin: auto; cursor:pointer;" layout-align="space-around center" ng-click="task.details(item, $event)" >
                    <img style="margin:5px;" src="images/redux/icons/dots-vertical.png" />
                </div>
                <div ng-if="item.meta.info.icon() && item.taskProgressStatusId.taskProgressStatusId !== 3" style="position: reletive; display: block; width: 0px; height: 0px;">
                    <div>
                        <img width="16px" height="16px" style="margin-left:-20px;margin-top: 5px;cursor:pointer;" ng-src="images/redux/icons/{{item.meta.info.icon()}}.png" />
                        <md-tooltip>{{item.meta.info.text()}}</md-tooltip>
                    </div>
                </div>
            </md-list-item>
        </md-list>
    </md-card-content>
</md-card>
