/*----------------------------------------------------------------*/
/*  ms-widget
/*----------------------------------------------------------------*/

// Global ms-widget styles
$shadow-key-umbra-opacity:      0.2 !default;
$shadow-key-penumbra-opacity:   0.14 !default;
$shadow-ambient-shadow-opacity: 0.12 !default;
$whiteframe-shadow-1dp: 0px 1px 3px 0px rgba(0, 0, 0, $shadow-key-umbra-opacity), 0px 1px 1px 0px rgba(0, 0, 0, $shadow-key-penumbra-opacity), 0px 2px 1px -1px rgba(0, 0, 0, $shadow-ambient-shadow-opacity) !default;

.ms-widget {
    &.nopadding-top {
        padding-top: 0;
    }
    .ms-widget-front {
        box-shadow: $whiteframe-shadow-1dp;
    }

    .ms-widget-back {
        box-shadow: $whiteframe-shadow-1dp;
    }

    md-option ._md-text {
        -webkit-touch-callout: none;
        -ms-user-select: none;
        user-select: none;
        width: auto;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 16px;
    }

    .md-ripple-container {
        position: absolute;
        overflow: hidden;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        -webkit-transition: all .55s cubic-bezier(.25,.8,.25,1);
        transition: all .55s cubic-bezier(.25,.8,.25,1);
    }

    md-select.simplified ._md-select-value {
        border: none!important;
        box-sizing: border-box;
        padding: 0;
    }

    md-dialog md-dialog-actions .md-button, md-select.simplified {
        margin: 0 8px;
    }

    .font-size-16 {
        font-size: 16px;
    }

    .font-weight-500 {
        font-weight: 500;
    }

    .padding-bottom-32, .pb-32 {
        padding-bottom: 32px;
    }

    .padding-top-8, .pt-8 {
        padding-top: 8px;
    }

    .padding-top-32, .pt-32 {
        padding-top: 32px;
    }

    .h-55, .height-55 {
        height: 55px!important;
        min-height: 55px!important;
        max-height: 55px!important;
    }

    .padding-vertical-16, .pv-16 {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .padding-left-16, .pl-16 {
        padding-left: 16px;
    }

    .padding-right-8, .pr-8 {
        padding-right: 8px;
    }

    .line-height-72 {
        line-height: 72px;
    }

    .font-size-72 {
        font-size: 72px;
    }

    .light-blue-fg {
       color: #03A9F4!important;
    }

    .red-fg {
        color: #F44336!important;
    }

    .orange-fg {
        color: #FF9800!important;
    }

    .blue-grey-fg {
        color: #607D8B!important;
    }

    .h3, h3 {
        font-size: 1.1rem;
    }


    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
        font-weight: 400;
    }

    .white-bg {
        background-color: #FFF!important;
    }

    .p-16, .padding-16 {
        padding: 16px;
    }

    .border-top, .border-vertical, .bt, .bv {
        border-top: 1px solid rgba(0,0,0,.12);
    }

    .grey-50-bg, .md-grey-50-bg {
        background-color: #FAFAFA!important;
    }

    .secondary-text, [md-theme="default"] .icon {
        color: rgba(0,0,0,0.54);
    }

    .text-truncate {
        display: block;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .margin-left-8, .ml-8 {
        margin-left: 8px;
    }

    .h4, h4 {
        font-size: 1.1rem;
    }

    .margin-left-8, .ml-8 {
        margin-left: 8px;
    }

    .border-top, .border-vertical, .bt, .bv {
       border-top: 1px solid rgba(0,0,0,.12);
    }

    .grey-50-bg, .md-grey-50-bg {
        background-color: #FAFAFA!important;
    }

    .padding-horizontal-16, .ph-16 {
        padding-left: 16px;
        padding-right: 16px;
    }

    .padding-vertical-8, .pv-8 {
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .bb, .border-bottom, .border-vertical, .bv {
        border-bottom: 1px solid rgba(0,0,0,.12);
    }

    .p-16, .padding-16 {
        padding: 16px;
    }

    .nv-pie-title {
        fill: rgba(0,0,0,0.87) !important;
    }

    &.sidenav-widget {

        .ms-widget-front,
        .ms-widget-back {
            box-shadow: none;
        }
    }

    // Flip to front button
    .flip-to-front {
        position: absolute;
        top: 0;
        right: 0;
    }

    // ie fix
    .c3 {
        height: 100%;
    }

    // chart fill
    @for $i from 1 through 10 {

        .chart-fill-#{$i * 8} {
            margin: 0 #{(-$i * 8) + 'px'} #{(-$i * 8) + 'px'} #{(-$i * 8) + 'px'};
        }
    }
}

// ms-widget
$widgetPadding: 12px;

.ms-widget {
    position: relative;
    font-size: $font-size-base;
    perspective: 3000px;
    padding: $widgetPadding;

    .ms-widget-front {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        position: relative;
        overflow: hidden;
        visibility: visible;
        width: 100%;
        opacity: 1;
        z-index: 10;
        border-radius: 2px;
        transition: transform 0.5s ease-out 0s, visibility 0s ease-in 0.2s, opacity 0s ease-in 0.2s;
        transform: rotateY(0deg);
        backface-visibility: hidden;
    }

    .ms-widget-back {
        display: block;
        position: absolute;
        overflow: hidden;
        visibility: hidden;
        opacity: 0;
        z-index: 10;
        top: $widgetPadding;
        right: $widgetPadding;
        bottom: $widgetPadding;
        left: $widgetPadding;
        border-radius: 2px;
        transition: transform 0.5s ease-out 0s, visibility 0s ease-in 0.2s, opacity 0s ease-in 0.2s;
        transform: rotateY(180deg);
        backface-visibility: hidden;
    }

    .md-button {
        margin: 0;

        &.md-icon-button {
            margin: 0;
        }
    }

    &.flipped {

        .ms-widget-front {
            visibility: hidden;
            opacity: 0;
            transform: rotateY(180deg);
        }

        .ms-widget-back {
            display: block;
            visibility: visible;
            opacity: 1;
            transform: rotateY(360deg);
        }
    }

    &.sidenav-widget {
        padding: 0;
    }

    &.ar-2-1 {

        .widget {
            padding: 0;
            @include maintain-aspect-ratio(2, 1, 8px, widget);
        }
    }

    &.ar-1-1 {

        .widget {
            padding: 0;
            @include maintain-aspect-ratio(1, 1, 8px, widget);
        }
    }


}
