.indent {
  text-indent: 20px;
}
.width-height-fix {
  width: 100%;
  height: 100%;
}
.tab-border {
  border-top: solid 1px #ddd;
}
.page-padding {
  margin-top: 12px;
  margin-left: 12px;
  margin-right: 12px;
}
.landing-card {
  padding: 20px;
  margin: 12px;
  border-radius: 5px;
  box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.25);
}
.landing-card-content {
  padding:20px;
  padding-bottom:10px;
  margin:0px;
  height: 182px;
}
.landing-card-title {
  font-weight: 100;
	font-size: 20px;
	font-style: Light;
}
.landing-card-caption {
  padding-top: 5px;
  padding-bottom: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.landing-card-buttons {
  margin: 0;
  padding: 20px;
  padding-top: 0px;
}


//dialog
.gsi-report-dialog {
  width: 80%;
  height: 80%;
  .report-description{
    font-size:11px;
    padding: 10px 10px 0;
  }
  md-dialog-content {
    width: 100%;
    height: 100%;
  }

}

.report-details-dialog{
  padding-left: 10px;
  overflow: auto;
  width: 100%;
  height: 100%;
}
