/* ------------------------------- */
/* PROPERTIES THAT CHANGE BY THEME */
/* ------------------------------- */


/* Primary colors */

.theme-icon-primary{
  fill	: md-color($defaultTheme, 500);
  color	: md-color($defaultTheme, 500);
}
.theme-icon-primary-dark{
  fill	: md-color($defaultTheme, 700);
  color	: md-color($defaultTheme, 700);
}
.theme-icon-primary-darker{
  fill	: md-color($defaultTheme, 900);
  color	: md-color($defaultTheme, 900);
}
.theme-icon-primary-light{
  fill	: md-color($defaultTheme, 300);
  color	: md-color($defaultTheme, 300);
}
.theme-icon-primary-lighter{
  fill	: md-color($defaultTheme, 100);
  color	: md-color($defaultTheme, 100);
}

/* --------------------------------------------- */


/* Secondary colors */

.theme-icon-secondary{
  fill	: md-color($defaultThemeSecondary, 500);
  color	: md-color($defaultThemeSecondary, 500);
}
.theme-icon-secondary-dark{
  fill	: md-color($defaultThemeSecondary, 700);
  color	: md-color($defaultThemeSecondary, 700);
}
.theme-icon-secondary-darker{
  fill	: md-color($defaultThemeSecondary, 900);
  color	: md-color($defaultThemeSecondary, 900);
}
.theme-icon-secondary-light{
  fill	: md-color($defaultThemeSecondary, 300);
  color	: md-color($defaultThemeSecondary, 300);
}
.theme-icon-secondary-lighter{
  fill	: md-color($defaultThemeSecondary, 100);
  color	: md-color($defaultThemeSecondary, 100);
}

/* --------------------------------------------- */


/* Stroke definitions - primary */

.theme-icon-primary-rounded-0-5-outline{
  stroke-linejoin: round;
  stroke-width: 0.5px;
  fill: none;
  stroke: md-color($defaultTheme, 500);
}

/* --------------------------------------------- */


/* -------------------- */
/* UNIVERSAL PROPERTIES */
/* -------------------- */


/* Greyscale colors */

.theme-icon-white {
	fill: #fff;
}
.theme-icon-black {
	fill: #010101;
}
.theme-icon-grey {
	fill: md-color(grey, 500);
}
.theme-icon-grey-dark {
	fill: md-color(grey, 700);
}
.theme-icon-grey-dark {
	fill: md-color(grey, 900);
}
.theme-icon-grey-light {
	fill: md-color(grey, 300);
}
.theme-icon-grey-lighter {
	fill: md-color(grey, 100);
}

/* --------------------------------------------- */


/* Shades (darkening overlays) */

.theme-icon-shade-05 {
	opacity: 0.05;
	fill: #010101;
}
.theme-icon-shade-10 {
	opacity: 0.1;
	fill: #010101;
}
.theme-icon-shade-20 {
	opacity: 0.2;
	fill: #010101;
}
.theme-icon-shade-30 {
	opacity: 0.3;
	fill: #010101;
}
.theme-icon-shade-40 {
	opacity: 0.4;
	fill: #010101;
}
.theme-icon-shade-50 {
	opacity: 0.5;
	fill: #010101;
}

/* --------------------------------------------- */


/* Shines (brightening overlays) */

.theme-icon-shine-10 {
	opacity: 0.1;
	fill: #fff;
}

/* --------------------------------------------- */


/* Gradients (references back to .svg file) WIP, trying to figure out how to reference the fill url properly */

.theme-icon-shine-fill {
	fill: url(#theme-icon-shine-fill-gradient);
}
.theme-icon-shadow-fill {
	fill: url(#theme-icon-shadow-fill-gradient);
	opacity: 0.25;
	isolation: isolate;
	enable-background: new;
}
.theme-icon-grey {
	fill: md-color(grey, 500);
}
.theme-icon-grey-dark {
	fill: md-color(grey, 700);
}
.theme-icon-grey-dark {
	fill: md-color(grey, 900);
}
.theme-icon-grey-light {
	fill: md-color(grey, 300);
}
.theme-icon-grey-lighter {
	fill: md-color(grey, 100);
}

.logo-company-color-1{fill:#3763AF;} /* Blue */
.logo-company-color-2{fill:#17479E;}
.logo-company-color-3{fill:#F26522;} /* Red */
.logo-company-color-4{fill:#EF4123;}
.logo-company-color-5{fill:#BD1B21;} /* Orange */
.logo-company-color-6{fill:#800507;}

.theme-bg-primary {
  background-color: #0f57ff;
  color: white;
}

.theme-bg-secondary {
  background-color: #d4665b;
  color	: white;
}

.theme-bg-grey {
  background-color: #e57226;
  color	: white;
}

.icon-white {
  color	: white !important;
}
