html {
    overflow-y: auto;
}
input::-ms-clear {
    display: none;
}
.dash-grey {
	background: #f00;
}
#appWindow { /*
    width: 100%;
    height: 80%;
    position: fixed;
    z-index: 800053;
    top: 56px;
    lett: 0px;
    background: #fff; */
    display: none;
    width: 100%;
}

.text-italic{
    font-style: italic;
}

.break-word{
    word-wrap: break-word;
}


.mr-8{
    margin-right: 8px;
}
.ml-4{
    margin-left:4px;
}
.ml-8{
    margin-left:8px;
}

#mainAppContent{
    position: relative;
}

#gwtLoginPanelWrapper{
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: scroll;
    display: flex;
    >div{
        margin: auto;
    }
    .gwt-login-panel{
        margin: 40px auto;
    }
}


#profile .profile-item {
	padding: 0px 6px 0px 120px;
}





/* applied to the footer when a user has not yet logged-in */
.bottomPin {
	position: fixed;
	bottom: 0px;
	display: block;
}




#profile-department {
    padding: 10px 40px 4px 120px;
    position: absolute;
    bottom: 0px;
    font-size: 12px;
    font-weight: 100;
    color: rgba(0,0,0,0.8);
}

#profile-toolbar {
    padding: 10px;
    text-align: right;
    cursor: pointer;
}

#profile-toolbar > i:hover {
    background: #30B85B;
}

/* Place containing client logo */
#profile-top {
    display: block;
    position: relative;
    height: 125px;
}
#profile-top > img {
	max-height: 125px;
}

/* Place containing user level */
#profile-buffer {
    display: block;
    position: relative;
    height: 46px;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Area for personal information */
#profile {
    margin: 0px;
	padding: 0px;
}

/* User Name */
#profile > h4 {
    margin: 0px 6px 6px 120px;
	padding: 0px;
	font-size: 17px;
	font-weight: 100;
	color: rgba(0,0,0,0.8);
}

#profile > img {
    position: absolute;
    top: 127px;
    left: 10px;
    display: block;
    margin: auto;
    width: 96px;
    height: 96px;
    border: 4px solid white;
    border-radius: 96px;
	cursor: pointer;
}

.face {
    border-radius: 64px;
    border: 1px solid #ddd;
    width: 64px;
    height: 64px;
    margin: 16px;
}

.face-person {
    border-radius: 30px;
    border: 1px solid #ddd;
    width: 48px;
    height: 48px;
    margin: 16px;
}

.face-lg {
    border-radius: 96px;
    border: 1px solid #ddd;
    width: 96px;
    height: 96px;
    margin: 16px;
}

.face-xlg {
    border-radius: 128px;
    border: 1px solid #ddd;
    width: 128px;
    height: 128px;
    margin: 16px;
}

.groupArea {
    border-radius: 64px;
    border: 1px solid #ddd;
    width: 64px;
    height: 64px;
    margin: 16px;
}








/* TASK MANAGER */


/**
 * For the correct positioning of the placeholder element, the dnd-list and
 * it's children must have position: relative
 */
.simpleDemo ul[dnd-list],
.simpleDemo ul[dnd-list] > li {
	position: relative;
}

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
.simpleDemo ul[dnd-list] {
    min-height: 42px;
    padding-left: 0px;
}


/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */
.simpleDemo ul[dnd-list] .dndDraggingSource {
    display: none;
}

/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
.simpleDemo ul[dnd-list] .dndPlaceholder {
    display: block;
    background-color: #ddd;
    min-height: 42px;
}

/**
 * The dnd-lists's child elements currently MUST have
 * position: relative. Otherwise we can not determine
 * whether the mouse pointer is in the upper or lower
 * half of the element we are dragging over. In other
 * browsers we can use event.offsetY for this.
 */
.simpleDemo ul[dnd-list] li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
}

/**
 * Show selected elements in green
 */
.simpleDemo ul[dnd-list] li.selected {
    background-color: #dff0d8;
    color: #3c763d;
}

//Overwrite setting
@media (min-width: 960px){
    md-tooltip {
        font-size: 14px !important;
        ._md-content {
            height: 24px !important;
            line-height: 24px !important;
        }
    }
}
md-menu-item > .md-checkbox {
    border-radius: 0;
    margin: auto 0;
    font-size: 15px;
    text-transform: none;
    font-weight: 400;
    text-align: left;
    text-align: start;
    height: 100%;
    padding-left: 16px;
    padding-right: 16px;
    display: inline-block;
    -webkit-align-items: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
            align-content: flex-start;
    width: 100%; }
    md-menu-item > .md-checkbox md-container {
      margin: auto 16px auto 0; }
    md-menu-item > .md-checkbox p {
      display: inline-block;
      margin: auto; }
    md-menu-item > .md-checkbox span {
      margin-top: auto;
      margin-bottom: auto; }
    md-menu-item > .md-checkbox .md-ripple-container {
      border-radius: inherit; }


/*

moved to task manager...

.md-button.groupX {
    font-size: 12px;
    margin: 0px;
    color: rgb(49, 46, 46);
    background-color: rgba(224, 224, 224, 0.96);
    text-transform: none;
    font-weight: 400;
    min-width:100px;
    letter-spacing: 0;
}
*/
.md-button.left {
    border-radius: 10px 0 0 10px;
}
.md-button.middle {
    border-radius: 0;
    border-left: 0px;
    border-right: 0px;
}
.md-button.right {
    border-radius: 0 10px 10px 0;
}

.taskItem .md-button :not([disabled]):hover {
	background-color: #eee;
}

.toggled {
    background-color: rgba(63, 81, 181, 0.96);
  color: black;
}

/*.list-item {*/
  /*background-color: {{ task.color }};*/
/*}*/

.taskItem:not([disabled]):hover {
    background-color: #FEE;
}

.alarm {
color: #977;    
}

.alarm-check {
color: #777;
    
}

.alarm-multiple {
color: #c77;
    
}
a:link {
        color: #0066cc;
}

md-sidenav {
	z-index: 1;
}

%gsi-badge{
    display: block;
    font-size: 16px;
    border-radius: 50%;
    height: 26px;
    line-height: 26px;
    min-width: 26px;
    text-align: center;
    color: white;

}
.md-icon-button.has-badge{
    position: relative;
    overflow: visible;
}

@mixin badge($size:18){
    display: block;
    border-radius: 50%;
    height: #{$size}px;
    line-height: #{$size}px;
    width: #{$size}px;
    min-height:#{$size}px;
    min-width:#{$size}px;
    font-size: #{$size - 4}px;
    text-align: center;
    position: absolute;
}
.md-icon-button .gsiBadge{
    top: 0;
    right: -3px;
    @include badge;
}

@-webkit-keyframes indeterminate-rotate{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes indeterminate-rotate{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}
md-progress-circular._md-mode-indeterminate svg{-webkit-animation:indeterminate-rotate 2.9s linear infinite;animation:indeterminate-rotate 2.9s linear infinite}

@mixin placeholder {
    &::-webkit-input-placeholder{@content}
    &:-moz-placeholder{@content}
    &::-moz-placeholder{@content}
    &:-ms-input-placeholder{@content}
}



//Extensions
%reset-input{
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border:none;
    padding: 0;
    margin: 0;
    &:focus{
        outline:0;
    }
}
%active-indicator{

    content: '';
    width: 6px;
    height: 6px;
    background-color: #00ff2d;
    display: block;
    position: absolute;
    bottom: 4px;
    left: 4px;
    border-radius: 100%;
    box-shadow: 0 0 1px 1px rgba(137, 255, 0, 0.54);

}

%icon-close-button{
    display: block;
    opacity:0;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
    height: 16px;
    width: 16px;
    position: absolute;
    top: -8px;
    left: -8px;
    background-color: #ddd;
    border-radius: 50%;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.4);
    border: 1px solid #aaa;
}

%flex{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
%flex-align-center{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;

    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

md-toast.notif-toast{
    padding: 16px;
    .md-toast-content{
        padding: 0 9px;
        background-color: white;
        border: 1px solid rgba(0,0,0,0.15);
        color: rgba(0,0,0,0.8);
    }
    md-icon{
        color:md-color($defaultTheme,500);
        fill:md-color($defaultTheme,500);
    }
    .notif-date{
        font-size:10px;
        line-height:12px;
    }
}

footer.app-footer{
    .logged-in{
        font-size:11px;
        padding: 1px;
    }
    .logo-wrapper{
        margin:0 6px;
        min-height:29px;
    }
}

.app-subheader{
    display: block;
    width:100%;
    min-width: 100%;
    max-width: none !important;
    background-color: #eee;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.6);
    border-bottom: 1px solid #ccc;
    min-height: 40px;
    height: 40px;
    .org-name{
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 100%;
        padding: 0 12px;
    }
}
.session-timer{
    position: absolute;
    top: 0;
    right: 0;
    z-index:100000;
    background-color: white;
    padding: 1px;
}