@media (min-width: 0) and (max-width: 959px) and (orientation: portrait) {

  md-toolbar {

    min-height: 64px; }

  .md-toolbar-tools {

    height: 64px;

    max-height: 64px; } }

 

@media (min-width: 0) and (max-width: 959px) and (orientation: landscape) {

  md-toolbar {

    min-height: 64px; }

  .md-toolbar-tools {

    height: 64px;

    max-height: 64px; } } 
