.md-panel {
    .panel-dialog {
        background: #fff;
        border-radius: 4px;
        width: 125%;
        box-shadow: 0 7px 8px -4px rgba(0,0,0,.2),0 13px 19px 2px rgba(0,0,0,.14),0 5px 24px 4px rgba(0,0,0,.12);
        .panel-title {
            height: 50px ;
            min-height: 0px !important;
        }
        .panel-content {
            width: 100%;
            text-align: center;
        }
        .panel-content.panel-padding {
            padding: 24px;
        }
        .md-title {
            margin-top: 0px;
        }
        .panel-action {
            display: -webkit-box;
            display: -webkit-flex;
            display: block;
            -webkit-box-ordinal-group: 3;
            -webkit-order: 2;
            order: 2;
            box-sizing: border-box;
            -webkit-box-align: center;
            -webkit-align-items: center;
            align-items: center;
            -webkit-box-pack: end;
            -webkit-justify-content: flex-end;
            justify-content: flex-end;
            margin-bottom: 0;
            min-height: 52px;
            overflow: hidden;
            text-align: center;
            .md-button {
                margin-bottom: 8px;
                margin-left: 8px;
                margin-right: 0;
                margin-top: 8px;
            }
        }
    }
}

.mpl-confirm-dialog.md-panel{
    min-width: 240px;
    >.panel-dialog{
        width: auto;
        .panel-title{
            height: 40px;
            h2{
                font-size: 1.1rem;
            }
        }
        .panel-content {
            width: auto;
            padding: 0 5px;
            text-align: center;
        }
        .panel-action{
            .md-button{
                min-width: 64px;
            }
        }
    }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
   .md-panel {
       position: absolute!important;
   }
}