.dashboard md-grid-list {
  margin: 8px; }
.dashboard .gray {
  background: #f5f5f5; }
.dashboard .green {
  background: #b9f6ca; }
.dashboard .yellow {
  background: #ffff8d; }
.dashboard .blue {
  background: #84ffff; }
.dashboard .purple {
  background: #b388ff; }
.dashboard .red {
  background: #ff8a80; }
.dash-grey {
	background: #ff0;
}


.dashboard md-grid-tile {
  transition: all 400ms ease-out 50ms; }