.agreement-dialog{
  .dialog-content{
    .heading{
      font-weight:bold;
    }
  }
}

.notify-dialog{
  width:40%;
  min-width:300px;
}

.consented{

  width:65%;
  text-align:center;
  margin-left:77px;
}
.grayedOut {

   color: $grey-300;

}

.secondaryCma{
  min-width:30%;
  margin-top:60px;

}

.wizard-dialog {
  width: 100%;
  height: 100%;

  md-dialog-content {
    width: 100%;
    height: 100%;
  }

  .gsi-form-wizard .gsi-form-wizard-form{
    padding: 18px 24px;
  }

}


.rightAlign{
     float:right;
  }


.stikyFooter{
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;

}




.enrollment-wizard{

  .patient-header {
    &.md-subheader .md-subheader-inner {
      margin-left: 24px;
      margin-right: 24px;
      padding: 0px;
      font-size: 14px;
      font-weight:900;
    }
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }

  ng-include{
    padding: 0;
  }

  md-tab-content{
    border-top: 1px solid rgba(0,0,0,0.1);
    .enrollment-wizard-tab-content{
      padding:24px 24px;

      .enrollment-wizard-intro{
        margin-bottom:1em;
      }

    }
    .enrollment-wizard-footer{
      padding:8px 12px 12px;
    }
  }

  label[ng-click]{
    cursor: pointer;
    &:focus{
      outline:none;
    }
  }
  label[disabled]{
    &[ng-click]{
      cursor: default;
    }

    color: rgba(0,0,0,0.38);
  }



  .gsi-form-wizard-step-text.dirty{
    font-style: italic;
  }

  .careSearch{
    max-height: 200px;
    max-width: 200px;
    height: 112px;
    width: 72px;
    margin-right:55px;
    cursor:pointer;
  }

  .rhio-content{
    .switch-row{
      padding: 4px 0;
      margin-bottom: 12px;
      md-switch{
        margin: 0;
      }
    }
    .rhio-readonly-list{
      md-list-item {
        height: 2em;
        min-height: initial;
        .md-button, .md-list-item-inner, .md-secondary-container {
          height: 2em;
          min-height: initial;
        }
      }
    }
  }

  .rhioForm{
    md-switch .md-container{
      margin-right: 0;
    }
    md-checkbox{
      margin-top: 8px;
      margin-bottom:8px;
      &.md-checked .md-icon:after {
        left: 5px;
        top: 0.5px;
      }
    }

    md-radio-group{
      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: 10px;
      *:focus{outline:none}
      md-radio-button{
        width: 26px;
        height: 36px;
      }
      &[disabled]{
        label[ng-click]{
          cursor: default;
        }
      }
    }
  }

 .careRole{

 float: right;
 margin-top: -88px;
 width:33%;
 }

 .whiteBackground{
 background:white;

 }
.circleIcon{
    display: block;
    height: 30px;
    width: 30px;
    
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 2em;
  }

  $subMenuExpandedWidth: 200px;
  $subMenuCollapsedWidth : 200px;
  $menu_transition: 0.2s cubic-bezier(.04,.81,.6,.98);

  md-sidenav{

    border-right: 1px solid rgba(0,0,0,0.1);
    height: 100%;
    min-height: 100%;
    width: $subMenuCollapsedWidth;
    min-width: $subMenuCollapsedWidth;
    max-width: $subMenuCollapsedWidth;

    md-tabs-content-wrapper{
      overflow-y:scroll;
    }

    transition: width $menu_transition, min-width $menu_transition, max-width $menu_transition;

    &.expand{
      transition: width $menu_transition, min-width $menu_transition, max-width $menu_transition;
      width: $subMenuExpandedWidth;
      min-width: $subMenuExpandedWidth;
      max-width: $subMenuExpandedWidth;
      &._md-locked-open-remove-active {
        transition: width $menu_transition, min-width $menu_transition, max-width $menu_transition;
        width: $subMenuCollapsedWidth;
        min-width: $subMenuCollapsedWidth;
        max-width: $subMenuCollapsedWidth;
      }
      &._md-closed._md-locked-open-add-active {
        transition: width $menu_transition, min-width $menu_transition, max-width $menu_transition;
        width: $subMenuExpandedWidth;
        min-width: $subMenuExpandedWidth;
        max-width: $subMenuExpandedWidth;
      }


    }

    //Fix for animation with edited width
    &._md-locked-open-remove-active {
      transition: width $menu_transition, min-width $menu_transition, max-width $menu_transition;
    }
    &._md-closed._md-locked-open-add-active {
      transition: width $menu_transition, min-width $menu_transition, max-width $menu_transition;
      width: $subMenuCollapsedWidth;
      min-width: $subMenuCollapsedWidth;
      max-width: $subMenuCollapsedWidth;
    }

  }

  .program-form{
    .gsi-program-table-toolbar{
      margin-bottom: 2px;
      button.md-icon-button{
        margin: 0;
      }
      .program-search-input-container{
        //margin:0;
        //padding: 0;

        md-icon{
          color:rgba(0,0,0,0.54);
        }
        margin-bottom: 6px;
        margin-top: 0;
        .md-errors-spacer{
          display: none;
        }
      }
    }
  }
  .program-timeline{
    .vis-timeline{
      background-color: #fff;
    }
    .vis-item{
      border-radius:0;
      &.vis-dot{
        //border-width: 1px;
        //height: 8px;
        //width: 8px;
        ////border-radius:50%;
        //box-sizing: border-box;
      }
    }
    .episode-item{
      margin-top:5px;
      background-color: $blue-200;
      border-color: $blue-300;
      &.one-day{
        z-index:10;
      }
      //border-radius:8px 0 0 0;
      &.inactive{
        background-color: transparent;
        border-color: transparent;
      }

    }
    .episode-point-item{
      z-index:10;
      margin-top: -11px;
      &.vis-dot{
        background-color: $blue-200;
        border-color: $blue-300;
      }
    }

    .episode-point-item, .segment-point-item, .subordinate-point-item{
      z-index:8;
      .vis-item-content{
        padding: 0;
      }
    }
    .subordinate-program-item, .subordinate-point-item.vis-dot{
      background-color: $blue-100;
      border-color: $blue-200;
    }
    .point-item{
      z-index: 999;
    }
    .segment-item{
      margin-top:-5px;
      background-color: $blue-50;
      border-color: $blue-200;
      &.one-day{
        z-index:10;
      }
      &.inactive{
        background-color:$grey-300;
        border-color: transparent;
        &.one-day{
          border-color: $grey-400;
        }
      }
    }



    .segment-point-item{

      margin-top: -3px;
      &.vis-dot{
        background-color: $blue-50;
        border-color: $blue-200;
      }
      &.inactive{
        border-color: $grey-400;
      }
    }

    .episode-bg{
      background-color: $blue-50;
    }

    .vis-tooltip{
      font-size:10px;
      z-index:100;
    }
  }
}

$careTeamDemographicColor: $grey-500;
$careTeamDisabledColor: $grey-300;
.careteam-content{

  .careteam-warning-message{
    margin-bottom: 12px;
    max-width: 600px;
    text-align: center;
  }

  md-icon.provider-icon{
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
  }
  .provider-legend{
    margin-bottom: 8px;
  }

  md-list{
    padding: 0;
    md-list-item.md-2-line{
      &[disabled]{
        .md-list-item-inner{
          opacity: 0.5;
        }
        background-color: $grey-200;
      }
      .md-list-item-text{
        margin: 12px 0;
        &>div{
          color: $careTeamDemographicColor;
          md-icon{
            color: inherit;
            width: 16px;
            height: 16px;
            min-width: 16px;
            min-height: 16px;
            &+span{
              vertical-align: middle;
            }
          }
        }
      }
      .md-list-item-inner{
        .avatar-wrapper{
          margin-right: 12px;
        }
        .context-menu-button{
          margin-right: -16px;
        }
      }
    }
  }

}



#careTeam{

  display: block;
  .md-button.md-icon-button{
    margin: 0;
  }
  .careteam-search-container{
    md-input-container{
      margin-bottom: 12px;
      padding-bottom: 0px;
      min-width: 190px;
      .md-errors-spacer{
        display: none;
      }
    }
    md-autocomplete md-autocomplete-wrap md-progress-linear.md-inline{
      bottom: 8px;
    }
  }

  md-checkbox.direct-messaging{
    margin-top: 8px;
    margin-bottom:7px;
  }
  .careteam-member-item{
    &.grayedOut{
      md-card-content{
        color: $careTeamDisabledColor;
      }
    }

    md-card-content{
      color: $careTeamDemographicColor;
      &>div{
        margin-bottom:6px;
      }
      md-icon{
        color: inherit;
        width: 16px;
        height: 16px;
        min-width: 16px;
        min-height: 16px;
      }
    }

    md-card-title{
      padding-top:16px;
      padding-bottom:12px;
      .role{
        margin-bottom: 4px;
        md-icon{
          margin: 0 0 0 2px;
          height: 15px;
          width: 15px;
          line-height: 15px;
          min-height: 0px;
        }
      }
      .name{
        font-size: 16px;
      }
      .md-button{
        margin-top:-6px;
        margin-right:-6px;
      }
    }
  }

}

.careteam-show-search{
  .md-toolbar-tools {
    padding: 0;
    .search-wrapper{
      width: 100%;
    }
  }
  .show-search-toolbar{
    md-input-container{
      margin-top: 0;
      margin-bottom: 6px;
    }
    md-checkbox{
      margin-left: 2px;
      margin-bottom: 12px;
    }
    .show-search-filter{
      color:$grey-600;
    }
  }
}

.careteam-show-prior{
  .prior-toolbar{
    margin-bottom: 4px;
    color: $grey-600;
    .import-button{
      button.md-button{
        margin: 0 8px 0 0;
      }
    }

  }


}

#secondryTypeahead .md-chips md-chip .md-chip-remove md-icon{
    left: 20px;
}

#importCare{
  &>button.md-button{
    margin-left: 0;
  }
}

#searchBoxCareTeam
  .inputValue{

    background-color: transparent;
    border: none;
    font-size: 66px;
    font-weight: bolder;
    font-family:unset;
    margin-left:55px;
    color:aqua;
}
 .w-100{
width:100%;

 }
  ::-webkit-input-placeholder{
  color:lightgrey;
  }


#careMenu{
  margin-left:-78px;
  margin-top:-23px;

}


#myPatientEnrollment md-dialog.md-default-theme, md-dialog{

  width:30%;
}




.consent-advisory-dialog{
  md-dialog-actions{
    padding-left: 0;
    padding-right: 0;
  }
}


#providerAccess .md-chips .md-chip-input-container md-autocomplete, .md-chips .md-chip-input-container md-autocomplete-wrap{
  
  padding-top:9px;
}

#providerAccess .bottom-3{
  
  margin-bottom:3em;
}


#providerAccess{
  md-chips#dynamicTypeAhead{
    md-chip{
      height: 45px;
    }
  }
}