.error-wrapper {
    position: relative;
    error {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 10001;
        display: flex;
        align-items: center;
        background: #eeeeee;
        .error-container {
            text-align: center;
            width: 100%;
            md-icon {
                height: 100px;
                width: 100px;
            }
            p {
                font-size: small;
                color: rgba(0, 0, 0, 0.3);
            }
            .md-button {
                span {
                    color: rgb(16,108,200);
                    font-weight: 600;
                }
            }
        }
        &.big {
            .error-container {
                padding: 150px 0px;
            }
        }
    }
}