

.gsi-editable-table{

  .gsi-editable-cell-wrapper.icon-cell{
    width: 24px;
    .md-button{
      width: 24px;
      margin: 0;
      padding: 0;
    }
  }

  .gsi-editable-cell-wrapper.consent-cell{
    width: 56px;
  }

  *:focus{
    outline: none;
  }
  .table-header{
    padding: 0;
    min-height: 40px;
    background-color: #fff;
   .gsi-editable-cell-wrapper{
     .md-button{
       color:inherit;
       min-width: 0;
       padding: 0 4px;
       text-align:left;
       text-transform: none;
       overflow: hidden;
       span{
         white-space: normal;
         line-height:initial;
       }
     }
   }

  }


  md-select{
    width: 100%;
    .md-select-value{
      min-height: 20px;
      span:first-child {
        white-space: normal;
      }

    }
    &:focus{

      .md-select-value {
        color: inherit;
      }
    }

  }

  md-datepicker{
    width: 100%;
    .md-datepicker-button {
      height: auto !important;
      margin: 0 !important;
      padding: 0 !important;
      width: auto !important;
      line-height: inherit !important;
      min-height:30px;
    }

    .md-datepicker-triangle-button.md-button.md-icon-button{
      min-height: 0;
      width: 24px;
      padding: 0;
      margin: 0 0 2px;
      height: 24px;
      right: 8px;
      .md-datepicker-expand-triangle{
        border-left-width:4.5px;
        border-right-width:4.5px;
        border-top-width:4.5px;
      }
    }
    .md-datepicker-input-container{
      width: 100%;
    }
    .md-datepicker-input{

      font-size:inherit;
      min-width:90px;
      color:inherit;
      min-height: 20px;
      padding: 0 0 0 2px;
      margin: 4px 0px 0px 0px;
    }

  }
  .md-icon-button + .md-datepicker-input-container{
    margin-left: 2px;
  }
  .gsi-editable-row{
    &.read-only{
    }
    padding: 0;
    .main-row{
      background-color: #fff;
      min-height: 48px;
      border-bottom: 1px solid rgba(0,0,0,0.1);
      .gsi-editable-cell-wrapper{
        padding: 0 4px;
        &.icon-cell{
          width: 24px;
          padding: 0;
          margin:0 4px;

          .sub-program-button{
            margin-left: 6px;
            margin-right: 0;
            padding: 0;
          }
        }
        gsi-editable-cell{
          width: 100%;
        }

        .md-button.consent-invalid{
          overflow: visible;
          position: relative;
          &:before{
            position: absolute;
            content: '*';
            font-size: 13px;
            top:-2px;
            left: 0px;
            color: rgb(221,44,0);
            display: block;
          }
        }

      }
    }
  }
  .gsi-editable-cell-wrapper{
    margin:0 4px;
    &>span{
      width: 100%;
      overflow: hidden;
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis;
    }

  }
  .sub-program-selection-row{

    &.disabled{
      .sub-program-chip{
        opacity:.66;
        cursor:default;
      }
    }

    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 12px 8px 8px 32px;
    .sub-program-chip{
      &:focus {
        outline: 0;
      }
      input{
        display:none;
      }

      cursor: pointer;
      display: inline-block;
      padding: 4px 8px;
      margin-right: 4px;
      margin-bottom: 4px;
      background-color: $grey-500;

      color: #fff;
      border-radius:2px;
    }
  }

  md-select{
    margin: 0;
  }

  // patch for md-datepicker disabled css
  md-datepicker[disabled]{
    $disabledColor: rgba(0,0,0,0.38);
    color: $disabledColor;
    .md-datepicker-input-container{
      background-position: 0 bottom;
      background-size: 4px 1px;
      background-repeat: repeat-x;
      margin-bottom: -1px;
      border-bottom-color: transparent;
      background-image: linear-gradient(90deg,$disabledColor 0,$disabledColor 33%,transparent 0);
    }
    .md-datepicker-triangle-button {
      display: inline-block;
      cursor: default;
      .md-datepicker-expand-triangle{
        border-top-color: $disabledColor;
      }
    }
  }
  //patch end

  .icon-cell.gsi-editable-cell-wrapper {

    position: relative;
    &.consent-invalid {
      &:before{
        position: absolute;
        content: '*';
        font-size: 13px;
        top:0;
        left: 0;
        color: rgb(221,44,0);
        display: block;
      }
    }

    .md-button[disabled]{
      cursor: default;
    }

  }
}


.md-panel, md-dialog{
  //&.program-consent-dialog{
  //  .panel-content {
  //    min-height: 300px; //IE
  //  }
  //}
  &.program-delete-dialog{
    .panel-content {
      min-height: 150px; //IE
    }
  }

  &.program-consent-dialog, &.program-delete-dialog {
    p {
      margin: 0;
    }
    md-select .md-select-value{
      width: 280px;
      span:first-child {
        white-space: normal;
      }
    }
    .panel-dialog {
      max-height: 400px;
      max-width: 320px;
    }
    .panel-content {
      text-align: left;
    }
    md-input-container {
      margin: 0;
    }
    md-autocomplete{
      md-progress-linear{
        bottom: 20px;
      }
    }
  }
  &.program-context-menu-panel{
    md-menu-item{
      &.consent-invalid{
        .md-button{
          position: relative;
          &:before{
            position: absolute;
            content: ' *';
            font-size: 13px;
            top:-6px;
            left: 6px;
            color: rgb(221,44,0);
            display: block;
          }
        }
      }
    }
  }
}