//.sidebar-user {
//  background: #ef0;
//}
//.sidebar-user a {
//  color: #fff;
//}
//.sidebar-user ul > li {
//  padding: 0;
//}
//.sidebar-user ul > li > a {
//  font-size: 20px;
//  padding-right: 6px;
//  color: #797979;
//}
//.sidebar-user ul > li > a:hover {
//  color: #448aff;
//}
//.sidebar-headline {
//  font-size: 16px;
//  color: #646464;
//  margin: 0;
//  padding: 15px 15px 5px 15px;
//}
//.img-user {
//	border-radius: 50%;
//	width: 60px;
//	height: 60px;
//}
//
//
//
//
//
//.menu-item {
//  text-align: left;
//  font-size: 16px;
//  cursor: pointer;
//  line-height: 40px;
//  padding: 3px 8px;
//  margin: 0px;
//  width: 100%;
//}
