#LoginScreen {
  height			: 100%;
  width			: 100%;
  overflow		: hidden;
  background		: url("") no-repeat center center fixed;
  background-size	: cover;

  font-style:normal;
}


#LoginScreen video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  //background: url('') no-repeat;
  background-size: cover;
}

#login-intro {
  padding			: 128px;
}

#login-intro .logo {
  width: 100%;
  font-size: 86px;
  font-weight: 500;
  margin-bottom: 32px;
  color: #FFFFFF;
}

#login-intro .title {
  font-size: 42px;
  font-weight: 300;
  color: #fff;
  text-shadow: 0px 0px 40px rgba(0, 0, 0, 1), 0px 0px 30px rgba(0, 0, 0, 1), 0px 0px 10px rgba(0, 0, 0, 1), 0px 0px 10px rgba(0, 0, 0, 1)
}
#login-intro .description {
  padding-top: 8px;
  font-size: 14px;
  max-width: 600px;
  color: #fff;
}

.small-description {
  padding-top: 8px;
  font-size: 10px;
  max-width: 600px;
  color: #555;
}

#login-intro .small-description {
  color: #fff;
  text-shadow: 0px 0px 40px rgba(0, 0, 0, 1), 0px 0px 30px rgba(0, 0, 0, 1), 0px 0px 10px rgba(0, 0, 0, 1), 0px 0px 10px rgba(0, 0, 0, 1)
}

#login-form-wrapper {
  width			: 500px;
  min-width		: 500px;
  max-width		: 500px;
  height		: 100%;
  background	: #fff;
  position		: relative;
}

#login-form {
  padding			: 24px 48px;
}

#login-form .logo {
  width: 100%;
  font-weight: 500;
  margin: 32px auto;
  color: #FFFFFF;
  border-radius: 2px;
}
#login-form .title {
  font-size: 21px;
}
#login-form .description {
  padding-top: 8px; }
#login-form form {
  width: 100%;
  text-align: left;
  padding-top: 32px; }
#login-form form md-checkbox {
  margin: 0; }
#login-form form .remember-forgot-password {
  font-size: 13px;
  margin-top: 8px; }
#login-form form .remember-forgot-password .remember-me {
  margin-bottom: 16px; }
#login-form form .remember-forgot-password .forgot-password {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 16px; }
#login-form-wrapper #login-form form .submit-button {
  width: 100%;
  margin: 16px auto;
  display: block; }
#login-form-wrapper #login-form .separator {
  font-size: 15px;
  font-weight: 600;
  margin: 24px auto 16px auto;
  position: relative;
  overflow: hidden;
  width: 100px;
  text-align: center;
  color: rgba(0, 0, 0, 0.54); }
#login-form-wrapper #login-form .separator .text {
  display: inline-block;
  vertical-align: baseline;
  position: relative;
  padding: 0 8px;
  z-index: 9999; }
#login-form-wrapper #login-form .separator .text:before,  #login-form-wrapper #login-form .separator .text:after {
  content: '';
  display: block;
  width: 30px;
  position: absolute;
  top: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.12); }
#login-form-wrapper #login-form .separator .text:before {
  right: 100%; }
#login-form-wrapper #login-form .separator .text:after {
  left: 100%; }
#login-form-wrapper #login-form .register {
  margin: 32px auto 24px auto;
  width: 250px;
  font-weight: 500; }
#login-form-wrapper #login-form .register .text {
  margin-right: 8px; }

@media screen and (max-width: 960px) {
  #login-form-wrapper {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }
  #login-form-wrapper #login-form {
    text-align: center;
    padding: 24px;
  }
}

@media screen and (max-width: 600px) {
  #login-form-wrapper {
    padding: 16px; }
  #login-form-wrapper #login-form {
    padding: 24px;
    width: 100%; }
  #login-form-wrapper #login-form form .md-button {
    width: 90%; }
}