//Hides tab list for the main tab
#tabsMain{
  position: relative;
  .tab-pane{
    position:absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity:0;
    overflow: auto;
    transform: translateX(-100%);
    &.active-pane{
      opacity:1;
      transform: translateX(0%);
    }
  }

  &>md-tabs-wrapper{
    &>md-tabs-canvas{
    display: none;
  }
  }
  &>md-tabs-content-wrapper{
    top:0;
    &>md-tab-content{
      &>div{
        //Fix for IE11 :(
        height: 100%;
      }
      transition: -webkit-transform 0s;
      transition: transform 0s;
      &.md-right:not(.md-active) *{
        transition: none;
        transition-delay: 0s;
        visibility: visible; }
      &.md-left:not(.md-active) *{
        transition: none;
        transition-delay: 0s;
        visibility: visible; }
    }
  }
}
#appCareBookSearch{
  height:100%;
  min-height: 100%;
  overflow: hidden;
  &>iframe.gwt-Frame{
    width: 100%;
    min-width: 100%;
    height: 100%;
    min-height: 100%;
    border: none;
}
}