header.app-header{
  md-toolbar{
    height: 50px;
    min-height: 50px;
    z-index: 2;
  }
}
@media (max-width: 959px) and (min-width: 0) and (orientation: landscape){
  md-toolbar{
    height: 50px;
    max-height: 50px;
  }
}
@media (max-width: 959px) and (min-width: 0) and (orientation: portrait){
  md-toolbar{
    height: 50px;
    max-height: 50px;
  }
}

.global-search-wrapper{
  @extend %flex-align-center;
  .global-search-heading{
    font-size: 13px;
    line-height: 13px;
    margin-bottom:2px;
  }
  .global-search-form{
    font-size: 12px;
    input{
      height:22px;
      width: 100px;
    }
    md-icon{
      cursor: pointer;
      height: 21px;
      width: 21px;
      min-height: 21px;
      min-width: 21px;
    }
  }

  .md-button.md-icon-button.global-search-button{
    padding: 0;
    margin: auto 8px;
    position: relative;
    overflow: visible;
    border-radius:5px;
    height: 36px;
    width: 36px;


    md-icon{
      width:32px;
      height:32px;
    }

    &.open{
     &:before{
       content: "";
       height: 11px;
       width: 11px;
       background-color: orange;
       border: 2px solid md-color($defaultTheme,500);
       position: absolute;
       top: 1px;
       right: -1px;
       border-radius: 50%;
     }
      &.active{
        &:before {
          border-color: md-color($defaultTheme, 300);
        }
      }
    }

    &.active,&.active:hover{
      background-color: md-color($defaultTheme,300) !important;
    }

  }
}
.user-menu-content{
  padding:8px 0;
  .user-summary{
    cursor: default;
    font-size:12px !important;
    line-height:12px  !important;
    display:flex;
  }
}
.community-menu{
  md-icon{
    position: absolute;
    padding: 0;
    width: 24px;
    top: 4px;
    left: 24px;
    }
  .community-menu-btn{
    &:after{
      display:none !important;
    }

  }
}
