$mainMenuExpandedWidth: 190px;
$iconSize: 48px;
$iconMargin:10px;
$mainMenuWidth : $iconMargin*2+$iconSize;
$menu_transition: 0.2s cubic-bezier(.04,.81,.6,.98);
#mainMenu{
  z-index: 1;
  .main-menu-wrapper{
    height: 100%;
    min-height: 100%;
  }
}

md-sidenav.main-menu{
  height: 100%;
  min-height: 100%;
  overflow: visible;
  width: $mainMenuWidth;
  min-width: $mainMenuWidth;
  max-width: $mainMenuWidth;

  &.inverse{
    width: $mainMenuExpandedWidth;
    min-width: $mainMenuExpandedWidth;
    max-width: $mainMenuExpandedWidth;
    ul li.menu-item > div.menu-item-inner >.name{opacity: 1 !important;}
    .menu-tip-wrapper,.menu-tip{display: none}
    .logo-wrapper{
      .logo{
        width: $mainMenuExpandedWidth - $iconSize - $iconMargin*2;
        opacity: 1;
      }
    }
      &.collapsed{
        transition: width $menu_transition, min-width $menu_transition, max-width $menu_transition;
        width: $mainMenuWidth;
        min-width: $mainMenuWidth;
        max-width: $mainMenuWidth;
        ul li.menu-item > div.menu-item-inner >.name{opacity: 0 !important;}
        .menu-tip-wrapper,.menu-tip{display: block}
        .logo-wrapper{
          .logo{
            width: 0;
            opacity: 0;
          }
        }
        &._md-locked-open-remove-active {
          transition: width $menu_transition, min-width $menu_transition, max-width $menu_transition;
          width: $mainMenuExpandedWidth;
          min-width: $mainMenuExpandedWidth;
          max-width: $mainMenuExpandedWidth;
        }
        &._md-closed._md-locked-open-add-active {
          transition: width $menu_transition, min-width $menu_transition, max-width $menu_transition;
          width: $mainMenuWidth;
          min-width: $mainMenuWidth;
          max-width: $mainMenuWidth;
        }


      }
  }

  //&.preload{
  //  transition:none;
  //  &.expand {
  //    transition:none;
  //    &._md-locked-open-remove-active {
  //      transition:none;
  //    }
  //    &._md-closed._md-locked-open-add-active {
  //      transition:none;
  //    }
  //  }
  //}
  transition: width $menu_transition, min-width $menu_transition, max-width $menu_transition;

  &.expand{
    transition: width $menu_transition, min-width $menu_transition, max-width $menu_transition;
    width: $mainMenuExpandedWidth;
    min-width: $mainMenuExpandedWidth;
    max-width: $mainMenuExpandedWidth;
    &._md-locked-open-remove-active {
      transition: width $menu_transition, min-width $menu_transition, max-width $menu_transition;
      width: $mainMenuWidth;
      min-width: $mainMenuWidth;
      max-width: $mainMenuWidth;
    }
    &._md-closed._md-locked-open-add-active {
      transition: width $menu_transition, min-width $menu_transition, max-width $menu_transition;
      width: $mainMenuExpandedWidth;
      min-width: $mainMenuExpandedWidth;
      max-width: $mainMenuExpandedWidth;
    }
    ul li.menu-item > div.menu-item-inner >.name{opacity: 1 !important;}
    .menu-tip-wrapper,.menu-tip{display: none}
    .logo-wrapper{
      .logo{
        width: $mainMenuExpandedWidth - $iconSize - $iconMargin*2;
        opacity: 1;
      }

    }

  }
  
  //Fix for animation with edited width
  &._md-locked-open-remove-active {
    transition: width $menu_transition, min-width $menu_transition, max-width $menu_transition;
  }
  &._md-closed._md-locked-open-add-active {
    transition: width $menu_transition, min-width $menu_transition, max-width $menu_transition;
    width: $mainMenuWidth;
    min-width: $mainMenuWidth;
    max-width: $mainMenuWidth;
  }

  //Never show scrollbar even when closing
  md-content{
    overflow:visible;

  }

  @media (max-width: 959px) and (min-width: 0) and (orientation: landscape){
  .logo-wrapper{
    height: 50px;
    max-height: 50px;
  }
  }
  @media (max-width: 959px) and (min-width: 0) and (orientation: portrait){
  .logo-wrapper{
    height: 50px;
    max-height: 50px;
  }
  }

  .logo-wrapper{
    height: 50px;
    max-height: 50px;
    .expand-btn{
      display: block;
      width: 48px;
      height: 48px;
      margin: 0 0 0 10px;
      background-color: transparent;
      >md-icon{
        color: #fff;
      }
    }
    .logo{
      transition: width $menu_transition,  opacity 0.2s linear;
      width: 0;
      opacity: 0;
      height: 100%;
      //background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }


  ul{

    font-size:11px;
    height: 100%;
    min-height: 100%;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border-right: solid 1px #ddd;
    box-sizing:border-box;


    li{
      &.menu-item{
	  &.active{
        background-color: md-color($defaultTheme,50);
        .name{
          color:md-color($defaultTheme,600);
        }
	  }
	  
	  &:hover{
		background-color: md-color($defaultTheme,50);
		color: md-color($defaultTheme,500);


		&>.icon>md-icon.has-window{
		  opacity: 1;
		}
	  }
      $menu_tip_color:rgba(0,0,0,0.8);
        position: relative;
        &>div.menu-item-inner{
          .menu-tip-wrapper{
            position: absolute;
            right: -10px;
            top: 50%;
          }
          .menu-tip{
            &:before{
              content: "";
              width: 0;
              height: 0;
              border: 7px solid transparent;
              border-right-color: $menu_tip_color;
              position: absolute;
              left: -14px;
              top: 50%;
              -webkit-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
              transform: translateY(-50%);
            }

            position: fixed;
            -webkit-transform: translateY(-50%) scaleX(0) scaleY(0);
            -ms-transform: translateY(-50%) scaleX(0) scaleY(0);
            transform: translateY(-50%) scaleX(0) scaleY(0);
            transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
            pointer-events: auto;
            will-change: opacity, height, width;
            z-index:2;
            border-radius: 4px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
            font-weight:500;
            font-size:14px;
            color:white;
            //background-color: transparentize(md-color($defaultTheme, 500),0.1);
            background-color: $menu_tip_color;
            height: 32px;
            line-height: 32px;
            padding-left: 16px;
            padding-right: 16px;
            white-space: nowrap;
            text-overflow: ellipsis;

            -webkit-transform-origin:  -7px 50%;
            transform-origin:  -7px 50%;
            //-webkit-transform: scale(0);
            //transform: scale(0);
            //opacity: 0;

            //-webkit-transform: scale(1);
            //transform: scale(1);
            //opacity: 1;
            //-webkit-transform-origin: center top;
            //transform-origin: center top;
          }

          &:hover{
            .menu-tip{

              -webkit-transform: translateY(-50%) scaleX(1) scaleY(1);
              -ms-transform: translateY(-50%) scaleX(1) scaleY(1);
              transform: translateY(-50%) scaleX(1) scaleY(1);
            }
          }

          color: rgba(0, 0, 0, 0.6);
          font-weight: bold;

          text-decoration:none;
          padding:6px $iconMargin - 10px;
          margin: 0px 10px;

          background:none;
          transition: background-color 0.2s linear;
          cursor:pointer;

          &:focus{
            outline: none;
          }

          &:visited,&:hover  {
            //color: #0066cc;
            text-decoration:none;
          }


          &.open:hover>.icon>md-icon.close-button{
            opacity: 1;
            display: block;
            &:hover{
              background-color:md-color(grey,400);
              border-color:md-color(grey,400);
              color: #fff;
            }
          }


          &:hover,&:active{
            text-decoration: none;
          }

          &>.name{
            opacity: 0;
            white-space: normal;
            line-height: 1;
            transition: width $menu_transition,opacity $menu_transition;
            width: $mainMenuExpandedWidth - $iconSize - $iconMargin*2;
            min-width: $mainMenuExpandedWidth - $iconSize - $iconMargin*2;
            padding-left: 8px;
          }
          &>.icon{

            &>md-icon.has-window{
              opacity:0;
              -webkit-transition: all 0.1s linear;
              transition: all 0.1s linear;


              position: absolute;
              bottom: 1px;
              left: 1px;
              height: 18px;
              width: 18px;
              fill: #297ed2;
              background-color: rgba(255,255,255,0.5);
              border-radius: 4px;
            }

            &>md-icon.close-button{
              @extend %icon-close-button;
            }
          }

          & > .icon{
            position: relative;
            width: $iconSize;
            height: $iconSize;
            min-width: $iconSize;
            background-repeat:no-repeat;
            background-position: center center;
            background-size: cover;

          }

          &.open{
            &>.icon:before, &>.icon::before{
              @extend %active-indicator;
            }
          }
        }
      }

      .badge{
        display: block;
        background: md-color($defaultThemeSecondary,500);
        position: absolute;
        right: -8px;
        top: -8px;
        font-size: 11px;
        font-weight: bold;
        border-radius: 50%;
        min-width: 18px;
        text-align: center;
        color: white;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
        font-family: Arial, Verdana, sans-serif;
        padding: 3px;

        &.badge-error{
          background: md-color(grey,400);
        }
      }
    }
  }
}