md-tooltip.custom-tooltip {
    pointer-events: none !important;
    height: auto!important;
    .md-content {
        height: auto!important;
        -ms-transition: none;
        -o-transition: none;
        -webkit-transition: none;
        transition: none;
        background-color: gray;
        opacity: 50%;
        white-space: inherit;
    }
    table {
        border-spacing: 10px 10px;
        tr {
            text-align: left;
            th {
              text-align: left;
            }
            td {
                max-width: 400px;
                vertical-align: top;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    }
}
