$mplTheme: grey;

$tagShade : 100;
$tagMargin: 3px;
$tagHeight: 1.2em;

$tag_user: light-blue;
$tag_event: red;
$tag_minor: green;
$tag_careteam:purple;

$tag_list : (
        USER: light-blue,
        EVENT: red,
        MINOR: green,
        CARETEAM: purple
);

// Adding fix for Chrome 62 bug (always show scroll bar in patient panel):
// TODO: Remove this and replace with gsi-scroll - will eliminate any scrolling bugs since we will control all scrolling aspects.
.md-virtual-repeat-scroller {
  overflow-y: scroll;
}

@mixin tag-style2($prefix:'.',  $suffix:'', $property:background-color, $shade:$tagShade){
  @each $NAME, $color in $tag_list{
    #{$prefix+$NAME+$suffix}{
      #{$property}:md-color($color, $shade);
    }
  }
}

@mixin tag-style($name, $color_name, $baseShade){
  #{$name}{
    background-color: md-color($color_name,$baseShade);
    md-checkbox.md-checked .md-icon{
      background-color: md-color($color_name,$baseShade+200);
    }
  }
}

.tag, .tag-menu-item{

  @include tag-style2('&.tag-');
  @include tag-style2('&.tag-',' md-checkbox.md-checked .md-icon',background-color,$tagShade+200);

}

$pp_transition: cubic-bezier(0.04, 0.81, 0.6, 0.98) 0.3s ;
$pp_width:320px;
.md-sidenav-right {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.md-sidenav-right.md-closed {
  -webkit-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}
.tag.tag-INCARCERATED, .tag-menu-item.tag-INCARCERATED {
  background-color: #D3D3D3; }

#MyPatientList_ToggleButton{
  background-color: md-color($mplTheme,700);
}


md-sidenav.my-patient-list{

  .id::after, .gender::after, .dob::after, .primaryPayer::after, .org::after, .status:after {
    content:none !important;
  }

  .app-has-error{
    .mpl-header{
      border-bottom:0;
    }
  }
  .mpl-app-error-header{
    color: #999;
    line-height: 1;
    font-size:14px;
    text-align:center;
    white-space:nowrap;
  }
  .app-error-wrapper{
    position: relative;
    height: 100%;
  }
  .app-error{
    $errorPadding:15px;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: #eee;
    border-left: 1px solid #ccc;
    z-index: 99999;
    padding:$errorPadding;
    color:#999;

    h1{
      min-width:$pp_width - $errorPadding*2;
      margin-top: 0;
    }
    p{
      min-width:$pp_width - $errorPadding*2;

    }

  }

  //MdSidenav animation Bug? fix
  &.md-closed-add{
    display: none;
  }
  &.md-closed.md-locked-open-add-active {
    -webkit-transition: all 0s;
    transition:  all 0s;
  }
  .mpl-header{
    height: 40px;
    min-height: 40px;
    background-color: md-color($mplTheme,200);
    border-left:1px solid #ccc;
    border-bottom:1px solid #ccc;
    md-icon{
      color: md-color($defaultTheme,400);
      fill: md-color($defaultTheme,400);
    }
    .md-icon-button{
      margin: 0 3px;
    }
    .mpl-search-box-enter,.mpl-search-box-clear {
        color: md-color($mplTheme,500);
        fill: md-color($mplTheme,500);

    }
  }

  .tag-filter-btn{
    //md-icon {
    //  color: md-color(grey, 400);
    //  fill: md-color(grey, 400);
    //}

    &.active {
      md-icon {
        color: md-color($defaultThemeSecondary, 400);
        fill: md-color($defaultThemeSecondary, 400);
      }
    }
  }

  .my-patient-list-content{
    height: 100%;
    min-height: 100%;
  }

  .fade{
    opacity: 1;
    transition:0.2s linear all;
  }
  .fade.ng-hide{
    opacity:0;
  }
  .md-icon-button .gsiBadge{
    background-color: $red-500;
  }

  .icon-wrapper{
    padding: 4px;
  }

  md-select{
    background-color: md-color($mplTheme,200);
    border-left: 1px solid rgba(0,0,0,0.12);
    .md-text{
      color: md-color($defaultTheme,500);
      padding:0 10px;
    }
    margin: 0;
  }
  .mpl-listtype-select{
    .md-select-value{
      padding:0px 2px 1px;
    }
    font-size:12px;
  }
  .mpl-listtype-no-option{
    font-size:12px;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;

    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;

    border-left: 1px solid rgba(0,0,0,0.12);
    background-color: md-color($mplTheme,200);
    color: md-color($defaultTheme,500);
    padding:0 10px;
    min-height: 30px;
    height: 30px;
    border-bottom: 1px solid rgba(0,0,0,0.12);

  }
  .list-container{
    border-left: 1px solid $grey-300;
    overflow: auto;
  }
  $patient_item_mHeight:60px;
  .mpl-loader-wrapper{
    min-height: $patient_item_mHeight;
    height:$patient_item_mHeight;
    width: 100%;
    min-width: 100%;
    md-progress-circular path{
      stroke:md-color(grey,400);
    }
  }
  .list-item{
    width: 100%;
    min-width: 100%;

    border-bottom: 1px solid $grey-300;
    min-height: $patient_item_mHeight;
    .md-button{
      min-height: $patient_item_mHeight;
      &.mpl-item-menu-btn{
        margin: 0;
        padding: 0;
        width: 24px;
        height: 24px;
        min-height: 24px;
        position: relative;
        md-icon:focus{
          outline:none;
        }
      }
    }
    ._md-list-item-inner{
      width: 100%;
      min-height: $patient_item_mHeight;
    }

    .no-tags{
      font-size:0.75em;
      font-weight: normal;
      margin: 6px 0 6px 0;
      padding: 0;
      line-height: 1.2em;
      color: #ccc;

    }
    .list-item-content{
      color: rgba(0,0,0,0.8);
      &.menu-active{
        background-color: md-color($defaultTheme,50);
      }
      width: 100%;
      padding:0 8px;
    }
    .md-list-item-text{
      font-size: 14px;
      width: 100%;
      min-height: $patient_item_mHeight;
      span.id{
        border: 1px solid $grey-300;
        padding: 1px 3px;
        margin-right: 5px;
        border-radius: 4px;
        display: inline-block;
      }
      h3.name{
        font-size: 0.95em;
        font-weight:400;
        line-height: 1.2em;
        margin: 4px 0 0 0;
        letter-spacing:0.01em;
        overflow:hidden;
        white-space: nowrap;
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
      }
      h4.info{
        font-size:0.75em;
         color:$grey-700;
        line-height:1.0em;
        font-weight: normal;
        letter-spacing:0.01em;
        overflow:hidden;
        white-space: nowrap;
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
        margin: 3px 0 2px 0;

      }
    }
    md-checkbox{
      margin-right: 16px;
    }
  }
  #MyPatientListSearchInput{
    display: block;
    color:  md-color(grey,800);
    font-size:12px;
    @extend %reset-input;
    @include placeholder{
      color: md-color(grey,500);
    }
  }




  .tag{
    height:$tagHeight;
    line-height: $tagHeight;
    padding: 0 12px 0 12px;
    display: block;
    border-radius: 16px;

    @each $name, $list in $colorList{
      &.#{$name}{
        background-color: md-color($name,$tagShade);
      }
    }

  }

  .md-chips {
    font-size:0.75em;
    padding: 0;
    box-shadow:none;

    &:not(.md-readonly) {
      md-chip {
        &:not(.md-readonly) {
          padding-right: 22px;
          ._md-chip-content {
            padding-right: 4px;
          }
        }
      }
    }
    md-chip {
      height: $tagHeight;
      line-height: $tagHeight;
      background: 0 0;
      padding-left: 0;
      padding-right: 0;
      border-radius: 16px;
      margin: $tagMargin $tagMargin 0 0;

      &:last-child{
        margin-bottom: 4px;
      }

      ._md-chip-remove-container {
        line-height: 22px;
      }
      ._md-chip-remove {
        width: $tagHeight;
        height: $tagHeight;

        md-icon {
          height: 18px;
          width: 18px;
        }
      }
    }
    ._md-chip-input-container {
      display: block;
      line-height: $tagHeight;
      margin: $tagMargin $tagMargin 0 0;
      input {
        &:not([type]) {
          height: $tagHeight;
          line-height: $tagHeight;
        }
        height: $tagHeight;
        line-height: $tagHeight;
      }
      input[type="email"], input[type="number"],  input[type="tel"] ,input[type="url"],input[type="text"],md-autocomplete, md-autocomplete-wrap{
        height: $tagHeight;
        line-height: $tagHeight;
      }

      &:not(:first-child) {
        margin: $tagMargin $tagMargin 0 0;
      }
    }
  }
  [dir=rtl] {
    .md-chips {
      padding: 0 3px $tagMargin 0;
      //&:not(.md-readonly) {
      //  md-chip {
      //    &:not(.md-readonly) {
      //      padding-right: auto;
      //      padding-left: 22px;
      //      ._md-chip-content {
      //        padding-left: 4px;
      //      }
      //    }
      //  }
      //}
      md-chip {
        margin: $tagMargin 0 0 $tagMargin;

      }
      ._md-chip-input-container {
        margin: $tagMargin 0 0 $tagMargin;
        float: right;
        &:not(:first-child) {
          margin: $tagMargin 0 0 $tagMargin;
        }
      }
    }
  }
  .md-chips.md-readonly {
    ._md-chip-input-container {
      min-height: $tagHeight;
    }
  }

  $mplPageWidth:24px;

  .mpl-pagination{
    text-align: center;
    ul{
      margin: 0px auto;
      padding: 4px 0;
      li{
        md-icon{

          width: $mplPageWidth;
          height: $mplPageWidth;
          min-width:$mplPageWidth;
          min-height: $mplPageWidth;
          line-height: $mplPageWidth;
          margin-bottom: 3px;
        }
        &.disabled{
          a{

            color: md-color(grey, 300);
            md-icon{
              color: md-color(grey, 400);
            }
            cursor: default;
            text-decoration: none;
            &:hover{
              background: none;
            }
          }
        }
        &.page-dots{
          border-top: 0;
          border-bottom:0;

        }


        &.active{
          background-color: md-color($mplTheme, 300);
          color: white;
          cursor: default;


          a{
            cursor: default;
            color: white;
            &:hover{
              background-color: md-color($mplTheme, 300);
            }
          }
        }
        a{
          width: $mplPageWidth;
          height: $mplPageWidth;
          min-width:$mplPageWidth;
          min-height: $mplPageWidth;
          line-height: $mplPageWidth;
          display: inline-block;
          color: md-color(grey, 600);
          text-decoration: none;
          &:hover{
            background-color: md-color($mplTheme, 100);
          }
        }

        display: inline-block;
        border:1px solid md-color(grey, 500);
        margin-left:-1px;
        &:last-child{
          border-right-width:1px;
          border-radius:0 4px 4px 0
        }
        &:first-child{
          margin-left:0;
          border-radius:4px 0 0 4px

        }
      }
    }
  }

}
#MyPatientListTagMenu{
  color: rgba(0,0,0,0.9);
  background-color: #fff;
  overflow-y: inherit;
  padding: 5px;
  border-radius:2px;

  .tag-menu-close{
    line-height: 28px;
    font-size: 14px;
    &>div{
      //text-align: center;
      //padding: 0;
      padding:0 2px;
    }
    cursor: pointer;

  }
  .tag-menu-item{
    font-size: 12px;
    margin-bottom: 5px;
    &:last-child{
      margin-bottom: 0;
    }
    min-height:28px;
    height: auto;
    border-radius:2px;

    &>md-checkbox{
      margin-bottom: 0;
      padding: 5px 10px 5px 5px;
      &>.md-container{
        left:5px;
      }
    }
  }


}
.mpl-item-menu-content{
  background-color: #fff;
  padding:8px 0;
  color: rgba(0,0,0,0.87);
}
.patient-menu-list-item{

  md-menu-item{
    min-height: 36px;
    height: 36px;
    &>.md-button{
      md-icon[md-svg-icon="icon_appCareBook"]{
        color:md-color($defaultTheme,400);
        fill:md-color($defaultTheme,400);
      }
      @extend %flex;
      font-size: 12px;
      min-height: 36px;
      height: 36px;
      md-icon{
        @extend %flex;
      }
      span{
        @extend %flex;
        white-space:pre-line;
        line-height:1;
        max-width:80px;
      }
      md-checkbox {
        margin-left: 2px;
        span {
          margin-left: 8px;
        }
      }
    }
    &.width-160>.md-button{
      span {
        max-width: 160px;
      }
    }
  }
}


md-tooltip.tag-tooltip{
  font-size:12px !important;

  @include tag-style2('&.tag-','>.md-content',color,400);
  @include tag-style2('&.tag-','>.md-content',border-color,200);

  .md-content{
    border:1px solid;
    border-radius:4px;
    &.md-show{
      opacity: 1;
    }
    background-color: #fff;
    color:black;
    height: 18px;
    line-height: 18px;
    padding-left: 6px;
    padding-right: 6px;

  }
}


.mpl-listtype-container{
  md-select-menu{
    min-height:30px;
  }
  md-select-menu:not(.md-overflow) md-content{
    padding-top: 4px;
    padding-bottom: 4px;
    min-height:30px;
  }
  md-option{
    height: 30px;
  }
  md-option.sub-item{
      margin-left: 15px;
  }
}
