#UserViewListMenu{
  color: rgba(0,0,0,0.9);
  background-color: #fff;
  overflow-y: inherit;
  padding: 5px;
  border-radius:2px;

  /*div {
    height: 30px;
    font-size: 12px;
    cursor: pointer;
  }*/
  .menu-item{
    font-size: 12px;
    margin-bottom: 5px;
    &:last-child{
      margin-bottom: 0;
    }
    min-height:28px;
    height: auto;
    border-radius:2px;

    &>md-checkbox{
      margin-bottom: 0;
      padding: 5px 10px 5px 5px;
      &>.md-container{
        left:5px;
      }
    }
  }


}
