
md-list.list-tab{
    padding-top: 0;
    .md-subheader .md-subheader-inner {
        padding: 16px 16px;
    }
    md-list-item .md-list-item-inner {
        padding-left: 8px;
    }
    md-list-item.selected {
        background: rgb(33,150,243);
        color: white;
    }
}

.enrollment-wizard .patient-header.md-subheader.left-nav-header .md-subheader-inner {
    padding: 13px 8px;
    margin: 0px;
}

#patientRibbonIcon {
    margin: 0px;
}