/* Variables */

	/* ### COLORS - Use Material Design colors only (https://www.materialui.co/colors) */
	
	@import 'md-colors';

	$color-status-border	: $grey-400;
	$color-to-do			: $light-blue-50;
	$color-to-do-dark		: $light-blue-100;
	$color-in-progress		: $amber-50;
	$color-in-progress-dark	: $amber-100;
	$color-complete			: $light-green-50;
	$color-complete-dark	: $light-green-100;
	$color-cancelled		: $grey-50;
	$color-cancelled-dark	: $grey-300;
	
#appTasks {
  min-height: 605px;
}
.task-list-dialog{
  height: 100%;
  md-dialog-content{
    height: 100%;
    md-content{
      height:100%;
    }
    .task-list-container{
      height: 99%;
      width: 100%;
      .items-container{
        height: 100%;
        .task-item{
          margin:2px 8px;
        }
      }
    }
  }
}

.task-list-container {
  .items-container {
    height: 550px;
    width: 100%;
  }
  .header {
    height: 72px;
    padding: 0 16px;
  }
  &.week-view {
    padding: 0 !important;
  }
  &.day-view {
    border:1px solid #e1e1e1;
    padding: 0;
    .items-container {
      height: 100%;
    }
  }
  &.week-view, &.day-view{
    .task-item{
      border:4px solid white;
      margin: 0 0 2px;
      &.todo			{ border-color: $color-to-do-dark;			}
      &.in-progress		{ border-color: $color-in-progress-dark;	}
      &.complete		{ border-color: $color-complete-dark;		}
      &.cancelled		{ border-color: $color-cancelled-dark;		}
    }
  }
  padding: 0 16px 16px;
}

.task-item {
  padding: 4px 0;
  background-color: white;
  min-height: 75px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  &:hover {
    background-color: rgba(0, 0, 0, 0.02);
  }

  h3 {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.010em;
    margin: 0 0 0px 0;
    line-height: 1.2em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
  }
  h4 {
    font-size: 12px;
    letter-spacing: 0.010em;
    margin: 0;
    font-weight: 400;
    line-height: 1.2em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
  }
  p {
    color: #888;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.010em;
    margin: 2px 0;
    line-height: 1.2em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
  }
  &:last-child {
    border-bottom: none;
  }
  &.todo					{ background-color: $color-to-do;			}
  &.in-progress				{ background-color: $color-in-progress;		}
  &.complete				{ background-color: $color-complete;		}
  &.cancelled				{ background-color: $color-cancelled;		}
  .task-item-text {
    cursor: move;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.multi-col-task-list {
  .task-item {
    border-left: none !important;
    margin: 0 4px 4px 0px;
  }
  .header {
    height: 72px;
    padding: 0 16px;
  }
}

.multi-col-task-list .task-list-container,
.groupX.md-button {
  &.todo					{ background-color: $color-to-do-dark;		}
  &.in-progress				{ background-color: $color-in-progress-dark;}
  &.complete				{ background-color: $color-complete-dark;	}
  &.cancelled				{ background-color: $color-cancelled-dark;	}
}

.multi-col-task-list .task-list-container {
  &.todo 		.task-item	{ background-color: $color-to-do;			}
  &.in-progress .task-item	{ background-color: $color-in-progress;		}
  &.complete	.task-item	{ background-color: $color-complete;		}
  &.cancelled	.task-item	{ background-color: $color-cancelled;		}
}

/* The filter buttons on the upper right of the task tab */
.status-filter {
  margin: 0 5px;
  .groupX.md-button {
    &:first-child {
      border-radius: 10px 0 0 10px;
    }
    font-weight: 600;
    border-radius: 0;
    border-left: 0;
    margin: 0;
    border-right: 1px solid $color-status-border;
    &:last-child {
      border-radius: 0 10px 10px 0;
	  border-right: 0;
    }
    &.inactive {
      font-weight: normal;
      background-color: #eee;
    }
  }
}

.multi-col-task-list .task-list-container {
  &.todo 		.task-item	{ background-color: $color-to-do;		}
  &.in-progress .task-item	{ background-color: $color-in-progress; }
  &.complete	.task-item	{ background-color: $color-complete;	}
  &.cancelled	.task-item	{ background-color: $color-cancelled;	}
}

/* The filter buttons on the upper right of the task tab */
.status-filter {
  margin: 0 5px;
  .groupX.md-button {
    &:first-child {
      border-radius: 10px 0 0 10px;
    }
    border-radius: 0;
    border-left: 0;
	margin: 0;
	border-right: 1px solid $color-status-border;
    &:last-child {
      border-radius: 0 10px 10px 0;
	  border-right: 0;
    }
    &.inactive {
      background-color: #eee;
    }
  }
}

.no-padding {
    padding: 0 !important;
}

.comment {
    position: relative;
    .username {
        font-size: 14px;
        font-weight: 600;
        margin-right: 4px;
        line-height: 22px;
    }
    .time {
        color: rgba(0,0,0,.54);
        line-height: 22px;
    }
    .edited {
      line-height: 22px;

    }
    .message {
        color: rgba(0,0,0,.87);
        margin-top: 2px;
    }
    .action {
        margin: 0 0 8px 0;
        a {
          margin-right: 16px;
          color: rgb(33,150,243);;
        }
        a:hover {
          text-decoration: underline;
        }
    }
    pre {
      font-family: Roboto, "Helvetica Neue", sans-serif;
      white-space: pre-wrap;
      word-wrap: break-word;
    }
    .edit-box {
      position: relative;
      pre {
        margin: 0;
        padding: 4px;
        font-size: small;
        border: 1px solid white;
      }
      textarea {
        position: absolute; 
        top: 0; 
        left: 0; 
        width: 100%; 
        height: 100%;
        box-sizing: border-box;
        padding: 4px;
        font-size: small;
        resize: none;
        overflow-y: hidden;
      }
    }
    md-icon.edited-icon {
      min-width: 12px;
      height: 22px;
      width: 12px;
      padding: 0 4px;
    }
    md-menu {
      position: absolute;
      top: -10px;
      right: 0;
      visibility: hidden;
    }
}
.comment:hover {
    md-menu {
      visibility: visible;
    }
}
.comment-avatar {
    width: 40px;
    height: 40px;
    margin: 0 8px 0 0;
    color: rgba(0,0,0,0.3);
}
.filter-panel {
  background: white;
  border-radius: 4px;
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
  padding: 4px 0;
}