md-dialog-content
  md-content(layout-padding='')
    md-input-container.md-block(flex-gt-sm='')
      label Blah
      input(ng-model='data.blah')
    p Due date
    md-datepicker.md-block(ng-disabled='scope.isSystem(data)', ng-model='data.dueDateTime', md-placeholder='Due date')
    md-input-container.md-block
      label Details
      textarea(ng-model='data.userTaskDescr', md-maxlength='1000', rows='5', md-select-on-focus='')
    md-input-container.md-block(flex-gt-sm='')
      label Status
      md-select(ng-disabled='scope.isSystem(data)', ng-model='data.taskProgressStatusId.taskProgressStatusId')
        md-option(ng-repeat='item in scope.status', value='{{item.taskProgressStatusId}}')
          | {{item.progressStatusDesc}}
    p Created: {{data.creationDateTime | date : 'M/d/yyyy hh:mm:ssa'}}
    p Last updated: {{data.lastUpdateDateTime | date : 'M/d/yyyy hh:mm:ssa'}}
    .devmode(ng-if="scope.devmode.toggles.taskDetails")
      | Task model
      pre(pretty-json="data")
