md-dialog-actions(layout='row')
    md-button(ng-if="scope.devmode.enabled" ng-click="scope.devmode.toggles.taskDetails = !scope.devmode.toggles.taskDetails") devmode
    span(flex='')
    md-button(ng-click="choose('ok')") OK
    md-button(ng-click="choose('cancel')") Cancel