md-toolbar
  .md-toolbar-tools(style='width:700px;')
    h2
      | Settings 
    span(flex='')
    md-button.md-icon-button(ng-click="choose('cancel')", aria-label='Cancel')
      md-icon(md-svg-icon='close')