<md-card-title-text>
    <span class="md-headline">
        {{data.patientId.firstname}} {{data.patientId.lastname}}
    </span>
    <span class="md-subhead">
        Patient ID - {{data.patientId.patientId}}
    </span>
</md-card-title-text>
<md-card-title-media>
    <div class="md-media-sm card-media">
        <md-icon md-svg-icon='account' style='width: 80px; height: 80px;'></md-icon>
    </div>
</md-card-title-media>
