<form ng-submit="$event.preventDefault()" name="searchForm">
  <md-autocomplete ng-if="scope.isSystem(data) === false" flex="" md-input-name="autocompleteField" md-input-minlength="2" md-input-maxlength="18" md-selected-item="data.patientId" md-search-text="scope.patientSearch.searchText" md-items="item in scope.patientSearch.query(scope.patientSearch.searchText)" md-item-text="item.firstname + ' ' + item.lastname" md-floating-label="Patient Search">
    <md-item-template>
        <span md-highlight-text="scope.patientSearch.searchText">
            {{item.firstname + ' ' + item.lastname + ' '}}
        </span>
        <span>{{item.gender}}</span>
        <span>{{item.dob | date : 'M/d/yyyy' }}</span>
        <span>(Patient ID - {{item.patientId}})</span>
    </md-item-template>
  </md-autocomplete>
</form>