<div layout="row">
    <div flex>
        <p>Gender -         {{data.patientId.gender}}</p>
        <p>Date of Birth -  {{data.patientId.dob | date : 'M/d/yyyy'}}</p>
        <p ng-if="data.patientId.ssn && data.patientId.ssn != '000000000'">
            SSN -            {{data.patientId.ssn | ssn }}
        </p>
    </div>
</div>