md-card(ng-if='data.patientId.patientId')
  md-card-title
    include patientCardHeader.html
  md-card-content
    include patientCardBody.html
  md-card-actions(layout='row', layout-align='end center')
    include patientCardFooter
