/*
 * ident "@(#)css_ns6up.css 1.65 05/10/31 SMI"
 *
 * Copyright 2005 Sun Microsystems, Inc. All rights reserved.
 * Use is subject to license terms.
 * Version:2005_05_26_v1_bde
 */

/* GLOBAL STYLES */
BODY, TH, TD, P, DIV, SPAN, INPUT, SELECT, TEXTAREA, FORM, B, STRONG, I, U, H1, H2, H3, H4, H5, H6, 
 DL, DD, DT, UL, LI, OL, OPTION, OPTGROUP, A {font-family:sans-serif;font-size:12px}
H1 {font-family:sans-serif;font-weight:bold;font-size:18px}
H2 {font-family:sans-serif;font-weight:bold;font-size:15px}
H3, H4 {font-family:sans-serif;font-weight:bold;font-size:12px}
H5, H6 {font-family:sans-serif;font-weight:bold;font-size:11px}
.DefBdy {color:#333;background-color:#FFF;margin:0px}
a:link {color:#003399;text-decoration:none}
a:visited {color:#003399;text-decoration:none}
a:hover {color:#003399;text-decoration:underline}
.ConMgn {margin:0px 10px}


/* ADD-REMOVE-IDIOM */
.AddRmvLbl {color:#5F6466;font-weight:bold;padding-bottom:3px}
.AddRmvLbl2 {color:#333;padding-bottom:3px}
table.AddRmvBtnTbl .Btn1 {width:100%}
table.AddRmvBtnTbl .Btn1Hov {width:100%}
table.AddRmvBtnTbl .Btn1Dis {width:100%}
table.AddRmvBtnTbl .Btn2 {width:100%}
table.AddRmvBtnTbl .Btn2Hov {width:100%}
table.AddRmvBtnTbl .Btn2Dis {width:100%}
.AddRmvVrtFst {margin:5px 0px 10px 0px;min-width:90px;
    font-family: 'Times New Roman',Times,serif;
}
.AddRmvVrtWin {margin:5px 0px 10px 5px;min-width:90px}
.AddRmvVrtBwn {margin:5px 0px 10px 10px;min-width:90px}
.AddRmvHrzWin {margin-top:3px;min-width:100px}
.AddRmvHrzBwn {margin-top:8px;min-width:100px}


/* ALERTS - FULL PAGE */
.FulAlrtHdrDiv {margin:7px 10px 5px 37px}
.FulAlrtHdrTxt {color:#000;font-weight:bold} 
.FulAlrtMsgDiv {margin:5px 10px 0px 37px}
.FulAlrtFrmDiv {margin:10px 10px 5px 37px}
.FulAlrtMsgTxt {color:#000}


/* ALERTS - INLINE */
.AlrtErrTxt {color:#000;font-weight:bold;vertical-align:middle;font-size:14px;text-align:center}
.AlrtWrnTxt {color:#000;font-weight:bold;vertical-align:middle;font-size:14px;text-align:center}
.AlrtInfTxt {color:#000;font-weight:bold;vertical-align:middle;font-size:14px;text-align:center}
.AlrtLnkDiv {padding-top:3px;text-align:left}
a.AlrtLnk:link, a.AlrtLnk:visited {color:#003399;text-decoration:none}
a.AlrtLnk:hover {color:#003399;text-decoration:underline}
/* new styles */
.AlrtTbl {background-color:#FFFFCC;border:solid 1px #e1e1a7;padding:7px 15px}
.AlrtErrTxt img {vertical-align:text-bottom;margin-right:6px}
.AlrtWrnTxt img {vertical-align:text-bottom;margin-right:6px}
.AlrtInfTxt img {vertical-align:middle;margin-right:6px}
.AlrtMsgTxt {padding-top:6px;color:#000;text-align:left;}
.logErr .AlrtTbl {background-color:#FFFFCC;border:solid 1px #e1e1a7;padding:7px 15px;margin-left:15px;text-align:left}


/* BREADCRUMBS */
.BcmWhtDiv {background-color:#FFF;margin:10px 10px 0px 10px}
.BcmGryDiv {background-color:#D2D9E1;margin:8px 10px 7px 10px}
.BcmGryTbl {background-color:#D2D9E1}
a.BcmLnk:link, a.BcmLnk:visited {color:#003399;text-decoration:none}
a.BcmLnk:hover {color:#003399;text-decoration:underline}
.BcmTxt {color:#000;font-weight:normal}
.BcmSep {color:#666}


/* BUTTONS */
.Btn1 {background-image:url(../images/button/primary-enabled.gif);background-color:#BAD7ED;color:#000;border-top:solid 1px #4982A3;border-left:solid 1px #266386;border-right:solid 1px #266386;border-bottom:solid 1px #026EA4}
.Btn1Hov {background-image:url(../images/button/primary-roll.gif);background-color:#C5E7FF;color:#000;border-top:solid 1px #499EC8;border-left:solid 1px #2686B6;border-right:solid 1px #2686B6;border-bottom:solid 1px #00192B}
.Btn1Def {background-image:url(../images/button/primary-enabled.gif);background-color:#BAD7ED;color:#000;border-top:solid 1px #4982A3;border-left:solid 1px #266386;border-right:solid 1px #266386;border-bottom:solid 1px #026EA4}
.Btn1DefHov {background-image:url(../images/button/primary-roll.gif);background-color:#C5E7FF;color:#000;border-top:solid 1px #499EC8;border-left:solid 1px #2686B6;border-right:solid 1px #2686B6;border-bottom:solid 1px #00192B}
.Btn1Mni {background-image:url(../images/button/primary-mini-enabled.gif);background-color:#BAD7ED;color:#000;border-top:solid 1px #4982A3;border-left:solid 1px #266386;border-right:solid 1px #266386;border-bottom:solid 1px #024368}
.Btn1MniHov {background-image:url(../images/button/primary-mini-roll.gif);background-color:#C5E7FF;color:#000;border-top:solid 1px #499EC8;border-left:solid 1px #2686B6;border-right:solid 1px #2686B6;border-bottom:solid 1px #026EA4}
.Btn2 {background-image:url(../images/button/secondary-enabled.gif);background-color:#D9E6EC;color:#000;border-top:solid 1px #6F787F;border-left:solid 1px #4E555A;border-right:solid 1px #4E555A;border-bottom:solid 1px #2D3235}
.Btn2Hov {background-image:url(../images/button/secondary-roll.gif);background-color:#EAF9FF;color:#000;border-top:solid 1px #6F97B2;border-left:solid 1px #4E7C9C;border-right:solid 1px #4E7C9C;border-bottom:solid 1px #2D6086}
.Btn2Mni {background-image:url(../images/button/secondary-mini-enabled.gif);background-color:#D9E6EC;color:#000;border-top:solid 1px #6F787F;border-left:solid 1px #4E555A;border-right:solid 1px #4E555A;border-bottom:solid 1px #2D3235}
.Btn2MniHov {background-image:url(../images/button/secondary-mini-roll.gif);background-color:#EAF9FF;color:#000;border-top:solid 1px #6F97B2;border-left:solid 1px #4E7C9C;border-right:solid 1px #4E7C9C;border-bottom:solid 1px #2D6086}
.Btn1Dis, .Btn1DefDis, .Btn2Dis, .Btn1MniDis, .Btn2MniDis {background-color:#E1E4E5;color:#848687;border:solid 1px #8C8E8F}
/*<<<<<<<<<<<<<<<<<<<<------------>>>>>>>>>>>>>>>>>>>>*/
.Btn1, .Btn1Hov, .Btn1Def, .Btn1DefHov, .Btn1Mni, .Btn1MniHov, .Btn2Mni, .Btn2MniHov, .Btn2, .Btn2Hov {background-repeat:repeat-x;background-position:center center}
.Btn1, .Btn1Hov, .Btn1Dis, .Btn1Def, .Btn1DefHov, .Btn1DefDis, .Btn2, .Btn2Hov, .Btn2Dis {font-size:12px;padding:1px 8px}
.Btn1Mni, .Btn1MniHov, .Btn1MniDis, .Btn2Mni, .Btn2MniHov, .Btn2MniDis {font-size:10px;padding:0px 5px}
.Btn1Hov, .Btn1MniHov, .Btn1DefHov, .Btn2Hov, .Btn2MniHov {cursor:pointer}
/* for arrays where buttons need to be of equal width */
.BtnTbl .Btn1, .BtnTbl .Btn1Hov, .BtnTbl .Btn1Dis, .BtnTbl .Btn1Def, .BtnTbl .Btn1DefHov, .BtnTbl .Btn1DefDis, .BtnTbl .Btn2, .BtnTbl .Btn2Hov, .BtnTbl .Btn2Dis {width:100%;margin:0px}
.BtnAryDiv {margin:5px 8px}
/*revised borders for masthead  */
.MstDiv .Btn1, .MstDiv .Btn1Mni, .MstDiv .Btn1Def {border-top:solid 1px #213F52;border-left:solid 1px #142A38;border-right:solid 1px #142A38;border-bottom:solid 1px #091821;vertical-align:middle}
.MstDiv .Btn1Hov, .MstDiv .Btn1MniHov, .MstDiv .Btn1DefHov {border-top:solid 1px #213F52;border-left:solid 1px #142A38;border-right:solid 1px #142A38;border-bottom:solid 1px #091821;vertical-align:middle}
.MstDiv .Btn2, .MstDiv .Btn2Mni {border-top:solid 1px #2D3C46;border-left:solid 1px #1C262D;border-right:solid 1px #1C262D;border-bottom:solid 1px #0E1418;vertical-align:middle}
.MstDiv .Btn2Hov, .MstDiv .Btn2MniHov {border-top:solid 1px #2D3C46;border-left:solid 1px #1C262D;border-right:solid 1px #1C262D;border-bottom:solid 1px #0E1418;vertical-align:middle}
/*---*/


/* CHECKBOXES AND RADIO BUTTONS */
.CbDis, .RbDis {background-color:#E1E4E5;color:#848687}
.Cb {}
.Rb {}
/*---*/


/* EDITABLE LIST */
.EdtLstAddLblDiv {padding-top:2px}
table.EdtLstAddTbl td {padding:5px 0px;white-space:nowrap;vertical-align:top}
.EdtLstRmvLblDiv {padding-top:7px}
table.EdtLstRmvTbl td {padding:5px 0px;white-space:nowrap;vertical-align:top}


/* FILE CHOOSER */
.ChoLblTxt {color:#5F6466;font-weight:bold}
.ChoSrvTxt {color:#333}


/* HELP WINDOW */
.HlpStpTab {margin:0px 0px 5px 0px;background:#FFF;border-top:#fff 1px solid}
.HlpBtnDiv {margin:5px 10px 4px;vertical-align:middle}
.HlpTtlDiv {margin:15px 0px 0px 10px}
.HlpSchDiv {margin:5px 5px 5px 10px}
.HlpRltDiv {margin-top:6px}
.HlpIdxDiv {margin:5px 5px 5px 10px}
body.HlpBdy {background-color:#FFF;color:#333;margin:10px}
body.HlpBdy h1 {font-family:sans-serif;margin-bottom:-3px;font-weight:bold;font-size:16px}
body.HlpBdy h2 {font-family:sans-serif;margin-bottom:-5px;font-weight:bold;font-size:14px}
body.HlpBdy h3 {font-family:sans-serif;margin-bottom:-5px;font-weight:bold;font-size:13px}
body.HlpBdy h4 {font-family:sans-serif;margin-bottom:-5px;font-weight:bold;font-size:12px}
body.HlpBdy h5, H6 {font-family:sans-serif;margin-bottom:-5px;font-weight:bold;font-size:11px}
body.HlpBdy a:link {color:#003399;text-decoration:underline}
body.HlpBdy a:visited {color:#336699;text-decoration:underline}
body.HlpBdy a:hover {color:#003399;text-decoration:underline}
/* New Styles */
.HlpBtnNavBdy {border-top:#fff 1px solid;background-color:#D9E1E4;background-image:url(../images/help/help_btnnav_gradient.jpg);background-repeat:repeat-x;background-position:left top;margin:0px}
.HlpMstTtlBdy {background-color:#D9E1E4;margin:0px}
/* Used for interim help solution */
.help-body {background-color:#FFF;color:#000}
.help-body a:link  {color:#003399;text-decoration:underline}
.help-body a:active {color:#003399;text-decoration:underline}
.help-body a:hover  {color:#336699;text-decoration:underline}
.help-body a:visited {color:#336699;text-decoration:underline}
.help-header-1 {color:#333;font-weight:bold;margin:8px 0px 3px;font-size:18px}
.help-header-2 {color:#333;font-weight:bold;margin:8px 0px 3px;font-size:15px}
.help-header-3 {color:#333;font-weight:bold;margin:8px 0px 3px}
.help-table-header-row {background-color:#CCC}
a.help-toc-link:link, a.help-toc-link:active {color:#003399;text-decoration:underline}
a.help-toc-link:hover, a.help-toc-link:visited {color:#336699;text-decoration:underline}
a.help-return-link:link, a.help-return-link:active {color:#003399;text-decoration:underline}
a.help-return-link:hover, a.help-return-link:visited {color:#336699;text-decoration:underline}


/* INLINE HELP  */
.HlpPgeTxt {color:#333}
.HlpFldTxt {font-size:11px;color:#333;padding-top:2px}
a.HlpPgeLnk:link, a.HlpPgeLnk:visited {color:#003399;text-decoration:none}
a.HlpPgeLnk:hover {color:#003399;text-decoration:underline}
a.HlpFldLnk:link, a.HlpFldLnk:visited {color:#003399;text-decoration:none;font-size:11px}
a.HlpFldLnk:hover {color:#003399;text-decoration:underline;font-size:11px}


/* LABELS */
.LblLev1Txt {color:#5F6466;font-weight:bold;font-size:16px}
.LblLev2Txt {color:#5F6466;font-weight:bold}
.LblLev3Txt {color:#333}
.LblRqdDiv {color:#333}


/* LEFT PANE HELP */
.LftHlpMst {position:fixed;width:100%;height:55px;background:#FFF}
.LftHlpHlp {position:fixed;left:0px;right:70%;top:55px;bottom:0px;background:#F0F1F3;background-image:url(../images/leftpane/left_pane_grad.jpg);background-repeat:repeat-x;background-position:left top;color:#333;overflow:auto}
.LftHlpBdy {position:fixed;left:30%;right:0px;top:55px;bottom:0px;background-color:#FFF;color:#333;border-left:#CCC 1px solid;overflow:auto}
.LftHlpDiv {margin:15px 10px 5px}
.LftHlpTxt {color:#333}


/* LISTS */
/* Regular List */
.Lst {border-bottom-color:#666;border-right-color:#666}
.Lst, .LstOpt, .LstOptSel, .LstOptGrp {color:#333}
.LstOptSep, .LstOptDis {color:#848687}
/* Contextual Selector for Disabled Appearance */
.LstDis {border-bottom-color:#666;border-right-color:#666}
.LstDis, .LstDis option, .LstDis .LstOptGrp {background-color:#E1E4E5;color:#848687}
/* Monospace Version */
.LstMno {border-bottom-color:#666;border-right-color:#666}
.LstMno, .LstMno .LstOptGrp {color:#333}
/* Contextual Selector for Disabled Monospace Version */
.LstMnoDis, .LstMnoDis option, .LstMnoDis .LstOptGrp {background-color:#E1E4E5;color:#848687}
/*<<<<<<<<<<<<<<<<<<<<------------>>>>>>>>>>>>>>>>>>>>*/
/* Regular List */
.LstOptGrp {font-weight:normal;font-style:normal}
/* Contextual Selector for Disabled Appearance */
.LstDis .LstOptGrp {font-weight:normal;font-style:normal}
/* Monospace Version */
.LstMno, .LstMno option, .LstMno .LstOptGrp {font-family:monospace}
.LstMno .LstOptGrp {font-weight:normal;font-style:normal}
/* Contextual Selector for Disabled Monospace Version */
.LstMnoDis, .LstMnoDis option, .LstMnoDis .LstOptGrp  {font-family:monospace}
.LstMnoDis .LstOptGrp {font-weight:normal;font-style:normal}
/*---*/


/* LOCKHART LAUNCH PAGE */
.LncMgn {margin:0px 10px 10px 10px}
.LncTbl {background-color:#FFF;margin-top:5px}
.LncCbDiv {padding:0px 3px 5px 0px}
.LncHdr {font-weight:normal;color:#7F8391;font-size:18px}
.LncHdrTd {padding:15px 5px 2px 0px;border-bottom:solid 1px #7F8391}
.LncAppBox {padding:6px 8px 0px 0px}
.LncAppTd {}
.LncApp {}
.LncTxt {color:#333;padding:0px 0px 3px 2px}
a.LncLnk:link, a.LncLnk:visited {color:#003399;text-decoration:none}
a.LncLnk:hover {color:#003399;text-decoration:underline}


/* LOCKHART LOGIN */
.logLblSvrNam {margin:0px 0px 5px 15px}
.logTxtSvrNam {margin:0px 0px 15px 15px; font-size: 20px; font-weight: bold;
    text-align: center;
}
.LogUsrLbl {margin:4px 0px 6px 15px}
.LogUsrNam {margin:4px 0px 6px 10px}
.logLbl {margin:0px 0px 3px 15px}
.logInp {margin:0px 0px 3px 10px}
.logLblLst {margin:0px 0px 10px 15px}
.logInpLst {margin:0px 0px 10px 10px}
.logBtn {margin:0px 0px 7px 10px}
.logHlp {margin:0px 15px 7px 10px}
.logErr {margin:5px 15px 5px 0px}
.logCpy {width:800px;margin:5px 0px 50px 0px;vertical-align:top;
    text-align: center;
}
.logTxtCpy {font-size:12px;color:#909090;vertical-align:top;
}
/* New Styles */
.LogBdy {background-color:#FFFFFF;margin:0px}
.LogTopBnd {background-color:#FFF}
.LogCntTd {background-color:#FFF;padding-top:120px}
.LogBotBnd {background-color:#FFF}
.LogMidBnd {background-color:#FFF}


/* MASTHEAD */
span.MstLbl, span.MstTxt, span.MstUsrRole, span.MstAlmDwnTxt, span.MstAlmCrtTxt, span.MstAlmMajTxt, span.MstAlmMinTxt {color:#eef0f2}
a.MstUsrLnk:link, a.MstUsrLnk:visited, a.MstAlmLnk:link, a.MstAlmLnk:visited, a.MstPrgLnk:link, a.MstPrgLnk:visited {color:#eef0f2;text-decoration:underline}
a.MstUsrLnk:hover, a.MstAlmLnk:hover, a.MstPrgLnk:hover {text-decoration:underline}
.MstBdy {background-color:#5A6C76}
.MstTblEnd {background-color:#5A6C76;background-image:url(../images/masthead/masthead-sun-background.jpg)}
.MstDiv {background-color:#495B67;background-image:url(../images/masthead/masthead-background.jpg)}
.MstSecTbl {background-color:#4A5C6A;background-image:url(../images/masthead/sec-masthead-background.jpg)}
a.MstLnk:link, a.MstLnk:visited {background-color:#D9E6EC;color:#000;text-decoration:none;border-top:solid 1px #2D3C46;border-left:solid 1px #1C262D;border-right:solid 1px #1C262D;border-bottom:solid 1px #0E1418;background-image:url(../images/masthead/masthead_link_enabled.gif)}
a.MstLnk:hover {background-color:#EAF9FF;background-image:url(../images/masthead/masthead_link_roll.gif)}
a.MstLnkLft:link, a.MstLnkLft:visited {background-color:#D9E6EC;color:#000;text-decoration:none;border-top:solid 1px #2D3C46;border-left:solid 1px #1C262D;border-bottom:solid 1px #0E1418; background-image:url(../images/masthead/masthead_link_enabled.gif)}
a.MstLnkLft:hover {background-color:#EAF9FF;background-image:url(../images/masthead/masthead_link_roll.gif)}
a.MstLnkRt:link, a.MstLnkRt:visited {background-color:#D9E6EC;color:#000;text-decoration:none;border-top:solid 1px #2D3C46;border-left:solid 1px #1C262D;border-right:solid 1px #1C262D;border-bottom:solid 1px #0E1418;background-image:url(../images/masthead/masthead_link_enabled.gif)}
a.MstLnkRt:hover {background-color:#EAF9FF; background-image:url(../images/masthead/masthead_link_roll.gif)}
a.MstLnkCen:link, a.MstLnkCen:visited {background-color:#D9E6EC;color:#000;text-decoration:none;border-top:solid 1px #2D3C46;border-left:solid 1px #1C262D;border-bottom:solid 1px #0E1418; background-image:url(../images/masthead/masthead_link_enabled.gif)}
a.MstLnkCen:hover {background-color:#EAF9FF;background-image:url(../images/masthead/masthead_link_roll.gif)}
/*<<<<<<<<<<<<<<<<<<<<------------>>>>>>>>>>>>>>>>>>>>*/
span.MstLbl, span.MstTxt, span.MstUsrRole {font-weight:normal}
td.MstTdTtl {padding:0px 10px 0px 10px;vertical-align:top;white-space:nowrap}
td.MstTdAlm {vertical-align:top;padding:7px 0px 3px}
td.MstTdLogo {vertical-align:top;padding:6px 13px 8px 20px}
div.MstDivTtl {padding-top:4px}
div.MstDivSecTtl {padding:10px 10px 5px}
div.MstDivUsr {padding-top:5px}
div.MstTmeDiv, div.MstAlmDiv, div.MstStatDiv {padding:0px 15px 5px}
div.MstStatDiv img {margin-top:-5px}
a.MstLnk:link, a.MstLnk:visited {background-repeat:repeat-x;background-position:center center;padding:2px 10px 1px;text-transform:uppercase;font-size:10px;vertical-align:middle}
a.MstLnk:hover {background-repeat:repeat-x;background-position:center center}
.MstSpcImg {display:none}
.MstBdy {margin:0px}
.MstDiv {background-repeat:repeat-x;background-position:left top}
.MstTblTop td {padding:6px 10px 4px}
.MstTblTop img {vertical-align:middle}
.MstTblEnd {background-repeat:repeat-x;background-position:left top;text-align:right;padding:1px 10px}
.MstSecTbl {background-repeat:repeat-x;background-position:left top}
a.MstLnkLft:link, a.MstLnkLft:visited {background-repeat:repeat-x;background-position:center center;padding:2px 10px 1px;text-transform:uppercase;font-size:10px;vertical-align:middle;white-space:nowrap}
a.MstLnkLft:hover {background-repeat:repeat-x;background-position:center center}
a.MstLnkRt:link, a.MstLnkRt:visited {background-repeat:repeat-x;background-position:center center;padding:2px 10px 1px;text-transform:uppercase;font-size:10px;vertical-align:middle;white-space:nowrap}
a.MstLnkRt:hover {background-repeat:repeat-x;background-position:center center}
a.MstLnkCen:link, a.MstLnkCen:visited {background-repeat:repeat-x;background-position:center center;padding:2px 10px 1px;text-transform:uppercase;font-size:10px;vertical-align:middle;white-space:nowrap}
a.MstLnkCen:hover {background-repeat:repeat-x;background-position:center center}
.MstTblBot  {}
/*---*/
/* archived mast styles */
table.MstTbl {}
td.MstTdBnd {}
.MstDivSch {}
div.MstDivAlmRow {padding:0px 15px 4px;vertical-align:text-bottom}
div.MstDivAlmBotRow {padding:0px 15px 5px;vertical-align:text-bottom}
div.MstDivPrgRow {padding:8px 15px 4px;vertical-align:text-top}


/* MENUS */
.MnuJmpOptGrp, .MnuStdOptGrp {color:#000}
.MnuStdOpt, .MnuStdOptSel, .MnuStd {color:#333}
.MnuJmpOptSep, .MnuJmpOptDis, .MnuStdOptSep, .MnuStdOptDis, .MnuJmpDis, .MnuStdDis {color:#848687}
.MnuJmp {color:#003399;border-bottom-color:#666;border-right-color:#666}
.MnuJmpDis, .MnuStdDis {background-color:#E1E4E5;color:#848687}
.MnuJmpOpt, .MnuJmpOpt:hover {color:#003399}
.MnuJmpOpt:hover {text-decoration:underline}
.MnuStd {border-bottom-color:#666;border-right-color:#666}
/*<<<<<<<<<<<<<<<<<<<<------------>>>>>>>>>>>>>>>>>>>>*/
.MnuJmpOptSel {font-weight:normal}
.MnuJmpOptGrp, .MnuStdOptGrp {font-weight:normal;font-style:normal}
/*---*/


/* PAGE TITLE */
.TtlTxtDiv {margin:15px 0px 0px 10px} 
.TtlTxtDiv img {vertical-align:text-bottom;margin-right:5px} 
.TtlLin {background-color:#d0d7da}
span.TtlTxt {color:#000;font-size:16px;font-weight:bold}
h1.TtlTxt {color:#000;font-size:16px;font-weight:bold;margin:0px}
.TtlActDiv {margin:8px 10px 0px 10px}
.TtlHlpDiv {margin:5px 10px 0px 10px}
.TtlVewDiv {margin:8px 10px 0px 10px}
.TtlVewLbl {color:#5F6466;font-weight:bold}
.TtlBtnDiv {margin:0px 8px 0px 10px}
.TtlBtnBtmDiv {padding:10px 8px 0px 10px}


/* PROGRESS BAR */
.PrgOutBar {position:relative;height:14px;background-color:#f2f3f4;border:solid 1px #666;margin-top:10px}
.Tbl .PrgOutBar {position:relative;height:14px;background-color:#f2f3f4;border:solid 1px #666;margin:-1px 0px 2px}
.PrgInBar {position:absolute;top:1px;left:1px;height:12px;background-color:#a1c4d4;font-size:1px}
.PrgInBarBak {background-color:#f2f3f4;position:absolute;top:1px;left:1px;height:12px;font-size:1px}
.PrgBarMsgTxt {margin-top:10px;color:#333}
.PrgBarPctTxt {margin-top:10px;color:#333}
.PrgBarLog {margin-top:20px;}
.PrgBarDtlLbl {margin:15px 0px 3px;}
.PrgBarDtlLst {margin:0px;}
.PrgBarCb {margin-top:20px;}
.PrgBarBtnDiv {margin-top:10px;color:#333}
.PrgBarBtnTbl td {padding-right:15px}
/* progress dialog with steps */
.PrgStpMst {position:fixed;width:100%;height:55px;background:#495B67}
.PrgStpTtl {position:fixed;width:100%;height:36px;top:55px;right:0;bottom:auto;left:0;background-color:#D9E1E4}
.PrgStpLft {position:fixed;width:30%;height:auto;top:91px;bottom:41px;background:#fff;color:#333;overflow:auto;padding-top:15px}
.PrgStpBdy {position:fixed;width:70%;height:auto;top:91px;right:0px;bottom:41px;left:30%;background-color:#FFF;color:#333;border-left:#CCC 1px solid;overflow:auto}
.PrgStpBtn {position:fixed;height:auto;top:auto;right:0px;bottom:0px;left:0px;background-color:#fff;color:#333;padding:0px 10px}
.PrgStpBtnDiv {border-top:#CCC 1px solid;text-align:right;padding:10px 0px}
.PrgStpSubTtlDiv {padding:12px 0px 0px 10px;}
.PrgStpSubTtlTxt {color:#333;font-weight:bold;font-size:15px}
.PrgStpTbl {background-color:#fff}
.PrgStpNumDiv {margin:0px 5px 20px 22px}
.PrgStpArwDiv {margin:0px 5px 20px 1px}
.PrgStpTxtDiv {margin:0px 10px 20px 0px}
.PrgStpTxt {color:#333;font-weight:normal}
.PrgStpCurTxt {color:#333;font-weight:bold;vertical-align:top}
.PrgStpTtl .TtlTxtDiv {margin:8px 0px 5px 10px} 
.PrgStpTtl .TtlBtnDiv {margin:8px 10px 5px 10px} 


/* PROPERTIES PAGES */
.ConLin {border-right:solid 10px #FFF;background-color:#d0d7da}
.ConFldSetDiv {margin:7px 10px 0px}
.ConFldSet {}
.ConFldSetLgd {}
.ConFldSetLgdDiv {color:#5F6466;font-size:16px;font-weight:bold;margin-bottom:10px}
.ConSubSecTtlTxt {margin:15px 0px 0px 15px;color:#5F6466;font-size:16px;font-weight:bold}
.ConSubSecDiv {padding:0px 10px 5px 0px}
.ConTblCl1Div {margin:8px 10px 0px 15px}
.ConTblCl2Div {margin:7px 10px 0px 0px}
.ConEmbTblCl1Div {margin:6px 10px 0px 30px}
.ConEmbTblCl2Div {margin:3px 10px 0px 0px}
.ConJmpScnDiv {margin:8px 10px 0px 0px}
.ConJmpLnkDiv {margin:7px 25px 0px 26px;text-indent:-16px}
.ConRqdDiv {text-align:right;margin:5px 10px 5px 0px}
.ConDefTxt {color:#333}
.ConRqdTxt {color:#333}
.ConJmpTopDiv {margin:15px 10px 15px 10px}
.ConErrLblTxt {color:#C00;font-weight:bold}
.ConWrnLblTxt {color:#C90;font-weight:bold}
.ConEmbTblCl1Div input[type=checkbox] {margin-left:-5px;vertical-align:middle}
.ConEmbTblCl1Div input[type=radio] {margin-left:-5px;vertical-align:middle}
div.ConTblCl2Div input {vertical-align:middle} 
div.ConTblCl2Div select {vertical-align:middle} 
a.JmpLnk:link, a.JmpLnk:visited {color:#003399;text-decoration:none;vertical-align:top}
a.JmpLnk:hover {color:#003399;text-decoration:underline;vertical-align:top}
a.JmpTopLnk:link, a.JmpTopLnk:visited {color:#003399;text-decoration:none}
a.JmpTopLnk:hover {color:#003399;text-decoration:underline}


/* SCHEDULER */
a.DatLnk:link, a.DatLnk:visited {color:#003399;background-color:#fff;text-decoration:none;border:solid 1px #fff;display:block;padding:5px 0px 3px}
a.DatLnk:hover {text-decoration:underline;border:solid 1px #fff;font-weight:bold}
a.DatBldLnk:link, a.DatBldLnk:visited {color:#003399;background-color:#CBDCAF;padding:5px 0px 3px;border:solid 1px #CBDCAF;text-decoration:none;font-weight:bold;display:block}
a.DatBldLnk:hover {text-decoration:underline}
a.DatOthLnk:link, a.DatOthLnk:visited {color:#003399;background-color:#E9EBEC;text-decoration:none;padding:5px 0px 3px;border:solid 1px #E9EBEC;display:block}
a.DatOthLnk:hover {text-decoration:underline;border:solid 1px #E9EBEC;font-weight:bold}
a.DatOthBldLnk:link, a.DatOthBldLnk:visited {color:#003399;background-color:#CBDCAF;padding:5px 0px 3px;border:solid 1px #CBDCAF;text-decoration:none;font-weight:bold;display:block}
a.DatOthBldLnk:hover {text-decoration:underline}
.DatSelDiv {background-image:url(../images/datetime/date_time_gradient.jpg);background-repeat:repeat-x;background-color:#71838D;text-align:center;color:#fff;border-top:solid 1px #71838D;border-left:solid 1px #71838D;border-right:solid 1px #71838D;-moz-border-radius-topleft:8px;-moz-border-radius-topright:8px;background-position:3px 3px;padding:4px 6px 5px 4px}
.DatSelDiv input {padding-top:1px}
.DatSelDiv select {margin:0px 1px}
.DatCalDiv {background-color:#bec7cc;text-align:center;padding:2px 2px 2px 3px}
.DatDayHdrTxt {color:#333;font-weight:normal;padding:2px 0px;display:block}
.DatLblTxt {color:#666;font-weight:bold}
.DatZonTxt {color:#333}
.DatCalTbl {border-collapse:collapse}
.DatCalTbl td {border:1px solid #bec7cc;width:29px}
.DatCalTbl th {border:1px solid #bec7cc;width:29px;background-color:#bec7cc}


/* SKIP NAVIGATION LINK */	
.SkpWht {background-color:#FFF;height:0px}
.SkpMedGry1 {background-color:#708290;height:0px}


/* TABLE */
table.Tbl {background-color:#BEC7CC;color:#333;width:100%;padding:6px;border-right:none;border-bottom:none;empty-cells:show}
.TblMgn {margin:0px 10px}
table.Tbl td {border-right:solid 1px #BEC7CC;border-bottom:solid 1px #BEC7CC;border-left:none;border-top:none;padding:4px 5px 1px 5px;background-color:#fff}
table.Tbl th {border-right:solid 1px #BEC7CC;border-bottom:solid 1px #BEC7CC;border-left:none;border-top:none;padding:3px 5px 1px 5px;background-color:#fff;font-weight:normal}
.TblTdLyt {} 
.TblTtlTxt {background-image:url(../images/table/gradtblttl.jpg);background-repeat:repeat-x;background-color:#71838D;text-align:left;color:#fff;padding:3px 10px;font-weight:bold;font-size:14px;border-top:solid 1px #71838D;border-left:solid 1px #71838D;border-right:solid 1px #71838D;-moz-border-radius-topleft:8px;-moz-border-radius-topright:8px;background-position:3px 3px}
table.Tbl td.TblActTd {border-right:none;border-bottom:none;background-color:#BEC7CC;padding:0px 0px 6px 0px;vertical-align:middle} 
/* new style */
table.Tbl td.TblActTdLst {border-right:none;border-bottom:none;border-top:solid 1px #e5e5e5;background-color:#BEC7CC;padding:6px 0px 2px 0px;vertical-align:middle} 
.TblActLbl {color:#333;font-weight:bold}
table.Tbl td.TblTdLst {border-bottom:1px solid #81939B}
table.Tbl th.TblTdLst {border-bottom:1px solid #81939B}
table.Tbl td.TblTdCl1 {border-left:1px solid #81939B}
table.Tbl th.TblTdCl1 {border-left:1px solid #81939B}
table.Tbl td.TblTdCl1Lst {border-bottom:1px solid #81939B;border-left:1px solid #81939B}
table.Tbl th.TblTdCl1Lst {border-bottom:1px solid #81939B;border-left:1px solid #81939B}
table.Tbl th.TblColHdr {vertical-align:bottom;padding:0px;border-top:1px solid #81939B;border-right:1px solid #81939B;border-bottom:1px solid #81939B;background-color:#fff}
table.Tbl th.TblColHdrCl1 {vertical-align:bottom;padding:0px;border:1px solid #81939B;background-color:#fff}
.TblHdrTxt {display:block;background-image:url(../images/table/gradtblhdr.gif);background-repeat:repeat-x;background-color:#fff;background-position:left bottom;text-align:left;color:#333;text-decoration:none;font-weight:bold;padding:4px 5px 3px;min-height:12px}
table.Tbl th.TblColHdrSrt {vertical-align:bottom;padding:0px;border:1px solid #81939B;background-image:url(../images/table/gradtblhdrsrt.gif);background-repeat:repeat-x;background-color:#E2E4E9;background-position:left top}
table.Tbl td.TblTdSrt {background-color:#E9EBEC}
table.Tbl th.TblTdSrt {background-color:#E9EBEC}
table.Tbl td.TblTdSrtLst {background-color:#E9EBEC;border-bottom:1px solid #81939B}
table.Tbl th.TblTdSrtLst {background-color:#E9EBEC;border-bottom:1px solid #81939B}
table.Tbl th.TblColHdrSrtCl1 {vertical-align:bottom;padding:0px;border:1px solid #81939B;background-image:url(../images/table/gradtblhdrsrt.gif);background-repeat:repeat-x;background-color:#E2E4E9;background-position:left top}
table.Tbl td.TblTdSrtCl1 {background-color:#E9EBEC;border-left:1px solid #81939B}
table.Tbl th.TblTdSrtCl1 {background-color:#E9EBEC;border-left:1px solid #81939B}
table.Tbl td.TblTdSrtCl1Lst {background-color:#E9EBEC;border-bottom:1px solid #81939B;border-left:1px solid #81939B}
table.Tbl th.TblTdSrtCl1Lst {background-color:#E9EBEC;border-bottom:1px solid #81939B;border-left:1px solid #81939B}
table.Tbl th.TblColHdrSrtSelCl1 {text-align:center;background-image:url(../images/table/gradtblhdrsrt.gif);background-repeat:repeat-x;background-color:#E2E4E9;background-position:left top;border-right:1px solid #828da4;border-top:1px solid #959aa5;border-left:1px solid #959aa5;border-bottom:solid 1px #828da4;padding:2px 5px 0px}
table.Tbl td.TblTdSrtSelCl1 {text-align:center;vertical-align:top;border-left:1px solid #81939B;background-color:#E9EBEC;padding:0px}
table.Tbl td.TblTdSrtSelCl1Lst {text-align:center;vertical-align:top;border-bottom:1px solid #81939B;border-left:1px solid #959aa5;background-color:#E9EBEC;padding:0px}
table.Tbl th.TblColHdrSel {text-align:center;background-image:url(../images/table/gradtblhdr.gif);background-repeat:repeat-x;background-color:#fff;background-position:left bottom;border-right:1px solid #d2d3d8;border-top:1px solid #959aa5;border-left:1px solid #959aa5;border-bottom:solid 1px #828da4;padding:2px 5px 0px}
table.Tbl td.TblTdSel {text-align:center;vertical-align:top;border-left:1px solid #81939B;background-color:#fff;padding:0px}
table.Tbl td.TblTdSelLst {text-align:center;vertical-align:top;border-left:1px solid #81939B;background-color:#fff;border-bottom:1px solid #81939B;border-left:1px solid #81939B;padding:0px}
table.Tbl td.TblTdSpc {}
table.Tbl th.TblTdSpc {vertical-align:bottom;padding:0px;border-top:1px solid #81939B;border-right:1px solid #81939B;border-bottom:1px solid #81939B;background-color:#fff}
table.Tbl td.TblTdSpcLst {border-bottom:1px solid #81939B}
table.Tbl td.TblTdAlm {background-color:#FFFEE7}
table.Tbl th.TblTdAlm {background-color:#FFFEE7}
table.Tbl td.TblTdAlmCl1 {background-color:#FFFEE7;border-left:1px solid #81939B}
table.Tbl th.TblTdAlmCl1 {background-color:#FFFEE7;border-left:1px solid #81939B}
table.Tbl td.TblTdAlmLst {background-color:#FFFEE7;border-bottom:1px solid #81939B}
table.Tbl th.TblTdAlmLst {background-color:#FFFEE7;border-bottom:1px solid #81939B}
table.Tbl td.TblTdAlmCl1Lst {background-color:#FFFEE7;border-bottom:1px solid #81939B;border-left:1px solid #81939B}
table.Tbl th.TblTdAlmCl1Lst {background-color:#FFFEE7;border-bottom:1px solid #81939B;border-left:1px solid #81939B}
table.Tbl td.TblTdSrtAlm {background-color:#FFFEE7}
table.Tbl th.TblTdSrtAlm {background-color:#FFFEE7}
table.Tbl td.TblTdSrtAlmLst {background-color:#FFFEE7;border-bottom:1px solid #81939B}
table.Tbl th.TblTdSrtAlmLst {background-color:#FFFEE7;border-bottom:1px solid #81939B}
table.TblHdrTbl {background:none;width:100%;border:none}
th.TblColHdrSrt table.TblHdrTbl {background:none;width:100%;border:none}
th.TblColHdrSrtCl1 table.TblHdrTbl {background:none;width:100%;border:none}
table.TblHdrTbl td {border:none;padding:0px;vertical-align:bottom;background:none;width:100%}
a.TblHdrLnk:link, a.TblHdrLnk:visited {display:block;text-align:left;background-image:url(../images/table/gradtblhdr.gif);background-repeat:repeat-x;background-color:#fff;background-position:left bottom;color:#333;text-decoration:none;font-weight:bold;padding:3px 0px 3px 5px}
a.TblHdrLnk:hover {color:#333;text-decoration:underline;text-align:left;font-weight:bold}
th.TblColHdrSrt a.TblHdrLnk:link {background:none;display:block;text-align:left;color:#333;text-decoration:none;font-weight:bold;padding:3px 0px 3px 5px}
th.TblColHdrSrt a.TblHdrLnk:visited {background:none;display:block;text-align:left;color:#333;text-decoration:none;font-weight:bold;padding:3px 0px 3px 5px}
th.TblColHdrSrt a.TblHdrLnk:hover {color:#333;text-decoration:underline;text-align:left;font-weight:bold}
th.TblColHdrSrtCl1 a.TblHdrLnk:link {background:none;display:block;text-align:left;color:#333;text-decoration:none;font-weight:bold;padding:3px 0px 3px 5px}
th.TblColHdrSrtCl1 a.TblHdrLnk:visited {background:none;display:block;text-align:left;color:#333;text-decoration:none;font-weight:bold;padding:3px 0px 3px 5px}
th.TblColHdrSrtCl1 a.TblHdrLnk:hover {color:#333;text-decoration:underline;text-align:left;font-weight:bold}
table.TblHdrTbl img {margin-bottom:3px;padding-right:5px;padding-left:5px}
a.TblNavLnk:link, a.TblNavLnk:visited {color:#003399;text-decoration:none}
a.TblNavLnk:hover {color:#003399;text-decoration:underline}
a.TblActLnk:link, a.TblActLnk:visited {color:#003399;text-decoration:none}
a.TblActLnk:hover {color:#003399;text-decoration:underline}
.TblMsgTxt {color:#333}
.TblPgnTxtBld {color:#5F6466;font-weight:bold}
.TblPgnTxt {color:#333}
/* css hooks for row mouseover and selection */
table.Tbl tr.TblSelRow td {}
table.Tbl tr.TblSelRow th {}
table.Tbl tr.TblHovRow td {}
table.Tbl tr.TblHovRow th {}


/* TABSET - OLD STYLE TAB NAVIGATION */
a.Tab1NotSelLnk:link, a.Tab1NotSelLnk:visited {font-weight:bold;color:#003399;text-decoration:none}
a.Tab1NotSelLnk:hover {text-decoration:underline}
span.Tab1SelTxt {font-weight:bold;color:#333;text-decoration:none}
a.TabNotSelLnk:link, a.TabNotSelLnk:visited {color:#003399;text-decoration:none}
a.TabNotSelLnk:hover {text-decoration:underline}
span.TabSelTxt {font-weight:bold;color:#333;text-decoration:none}
/* Level 1 Tab Navigation */
div.Tab1 {background-color:#CCC}
table.Tab1Tbl {background-color:#CCC}
td.Tab1TdSel {background-color:#FFF;min-width:90px}
td.Tab1TdNotSel {background-color:#E5E5E5;min-width:90px}
div.Tab1DivSel {padding-left:10px;padding-top:5px;padding-bottom:3px}
div.Tab1DivNotSel {padding-left:7px;padding-right:3px;padding-bottom:2px;border-left:3px solid #E5E5E5;border-top:3px solid #E5E5E5;border-right:3px solid #E5E5E5}
td.Tab1Gtr {background-color:#CCC}
/* Level 2 Tab Navigation */
div.Tab2 {background-color:#FFF}
table.Tab2Tbl {background-color:#FFF}
td.Tab2LinBak {background-color:#CCC}
div.Tab2Sel {padding-top:3px;padding-bottom:1px}
div.Tab2NotSel {padding-top:4px;padding-bottom:2px}
/* Level 3 Tab Navigation */
div.Tab3 {background-color:#FFF}
table.Tab3Tbl {background-color:#FFF}

/* TABSET [originalName: LEVEL TABS]*/
.Tab1Div {background-color:#D2D9E1; background-image:url(../images/tabs/level1_background.jpg)} 
a.Tab1Lnk:link, a.Tab1Lnk:visited  {color:#000;text-decoration:none}
a.Tab1Lnk:hover {text-decoration:underline}
.Tab1Div td {background-color:#A3ADB6;border:solid 1px #8f989f; background-image:url(../images/tabs/level1_deselect.jpg)}
.Tab1Div td.Tab1TblSpcTd {background-color:#D2D9E1; background-image:url(../images/tabs/level1_background.jpg)}
.Tab1Div div.Tab1SelTxtNew {color:#000}
table.Tab1TblNew td.Tab1TblSelTd {background-color:#FFF; background-image:url(../images/tabs/level1_selected-1lev.jpg)}
table.Tab1Tbl2New td.Tab1TblSelTd, table.Tab1Tbl3New td.Tab1TblSelTd {background-color:#E4ECEF; background-image:url(../images/tabs/level1_selected.jpg)}
/* LEVEL 2 TABS */
.Tab2Div {background-color:#E2EAED; background-image:url(../images/tabs/level2_background.jpg)}
a.Tab2Lnk:link, a.Tab2Lnk:visited{color:#000;text-decoration:none}
a.Tab2Lnk:hover {text-decoration:underline}
.Tab2Div td {background-color:#C4CBD1;border:solid 1px #8f989f; background-image:url(../images/tabs/level2_deselect.jpg)}
.Tab2Div div.Tab2SelTxt {color:#000}
table.Tab2TblNew td.Tab2TblSelTd {background-color:#F2F4F3;border-left:solid 1px #8f989f;border-right:solid 1px #8f989f;border-top:solid 1px #8f989f; background-image:url(../images/tabs/level3_selected.jpg)}
table.Tab2Tbl3New td.Tab2TblSelTd {background-color:#FBFCFE;border-left:solid 1px #8f989f;border-right:solid 1px #8f989f;border-top:solid 1px #8f989f; background-image:url(../images/tabs/level2_selected.jpg)}
/* LEVEL 3 TABS*/
.Tab3Div {background-color:#E2E7EA; background-image:url(../images/tabs/level3_background.gif)}
a.Tab3Lnk:link,a.Tab3Lnk:visited {color:#333;background:#E2E7EA;text-decoration:none}
a.Tab3Lnk:hover {text-decoration:underline}
table.Tab3TblNew {background-color:#E2E7EA}
table.Tab3TblNew td {border-bottom:solid 1px #8f989f}
table.Tab3TblNew div.Tab3SelTxt {color:#000}
table.Tab3TblNew td.Tab3TblSelTd {border-left:solid 1px #8f989f;border-right:solid 1px #8f989f;border-top:1px solid #8f989f;background-color:#F0F1F3; background-image:url(../images/tabs/level3_selected.jpg)}
/* Hide Styles */
.Tab1Div td.hidden, .Tab2Div td.hidden, .Tab3Div td.hidden {display:none}
/*<<<<<<<<<<<<<<<<<<<<------------>>>>>>>>>>>>>>>>>>>>*/
.Tab1Div {background-repeat:repeat-x;background-position:left bottom;padding:6px 10px 0px} 
a.Tab1Lnk:link, a.Tab1Lnk:visited  {display:block;padding:8px 15px 7px;font-weight:bold;text-align:center}
.Tab1Div table {border-collapse:collapse}
.Tab1Div td {background-repeat:repeat-x;background-position:left top}
.Tab1Div td.Tab1TblSpcTd {background-repeat:repeat-x;background-position:left bottom;border:none}
.Tab1Div td.Tab1TblSelTd {background-repeat:repeat-x;background-position:left top;border-bottom:none}
.Tab1Div div.Tab1SelTxtNew {display:block;padding:8px 15px 7px;font-weight:bold;text-align:center}
.Tab1Div td a.TabPad {padding:8px 20px 7px}
.Tab1Div td.Tab1TblSelTd div.TabPad {padding:8px 20px 7px}
/* LEVEL 2 TABS */
.Tab2Div {background-repeat:repeat-x;background-position:left bottom;padding:6px 0px 0px 10px}
a.Tab2Lnk:link, a.Tab2Lnk:visited{display:block;padding:5px 15px 4px;text-align:center}
.Tab2Div table {border-collapse:collapse}
.Tab2Div td {background-repeat:repeat-x;background-position:left top}
.Tab2Div div.Tab2SelTxt {display:block;padding:5px 15px 4px;font-weight:normal;text-align:center}
.Tab2Div td.Tab2TblSelTd {border-bottom:none;background-repeat:repeat-x;background-position:left bottom}
.Tab2Div td a.TabPad {padding:5px 20px 4px}
.Tab2Div td.Tab2TblSelTd div.TabPad {padding:5px 20px 4px}
/* LEVEL 3 TABS*/
.Tab3Div {padding:6px 0px 0px 10px;background-repeat:repeat-x;background-position:right bottom}
a.Tab3Lnk:link,a.Tab3Lnk:visited {display:block;padding:4px 15px 3px;text-align:center}
table.Tab3TblNew div.Tab3SelTxt {font-weight:normal;padding:4px 15px 3px;text-align:center}
table.Tab3TblNew td.Tab3TblSelTd {border-bottom:none;background-repeat:repeat-x;background-position:left bottom}
.Tab3Div td a.TabPad {padding:5px 20px 4px}
.Tab3Div td.Tab3TblSelTd div.TabPad {padding:5px 20px 4px}
/*---*/
/* TABS-MINI */
.MniTabDiv {background-color:#D9E1E4; background-image:url(../images/tabs/minitab_background.jpg)}
table.MniTabTbl td {background-color:#C4CBD1;border:solid 1px #8f989f; background-image:url(../images/tabs/minitab_deselect.jpg)}
a.MniTabLnk:link,a.MniTabLnk:visited {color:#000;text-decoration:none}
.MniTabSelTxt {color:#000;text-decoration:none}
table.MniTabTbl td.MniTabTblSelTd {background-color:#F2F4F3;border-left:solid 1px #8f989f;border-right:solid 1px #8f989f;border-top:solid 1px #8f989f; background-image:url(../images/tabs/minitab_selected.jpg)}
.MniTabDiv td.hidden {display:none}
/*<<<<<<<<<<<<<<<<<<<<------------>>>>>>>>>>>>>>>>>>>>*/
.MniTabDiv {background-repeat:repeat-x;background-position: bottom left;padding:7px 0px 0px 10px}
table.MniTabTbl {border-collapse:collapse}
table.MniTabTbl td {background-repeat:repeat-x;background-position:left top}
a.MniTabLnk:link,a.MniTabLnk:visited {display:block;padding:5px 15px 4px;font-size:12px;text-decoration:none}
a.MniTabLnk:hover {text-decoration:underline}
.MniTabSelTxt {display:block;padding:5px 15px 4px;font-size:12px;text-decoration:none}
table.MniTabTbl td.MniTabTblSelTd {border-bottom:none;background-repeat:repeat-x;background-position:left bottom}
/*---*/


/* TEXT AND PASSWORD FIELDS */
.TxtFld {border-top:solid 2px #848484;border-left:solid 2px #848484;border-bottom:solid 2px #ccc;border-right:solid 2px #ccc}
.TxtFldDis {background-color:#E1E4E5;color:#848687;border-top:solid 2px #848484;border-left:solid 2px #848484;border-bottom:solid 2px #ccc;border-right:solid 2px #ccc}
/*<<<<<<<<<<<<<<<<<<<<------------>>>>>>>>>>>>>>>>>>>>*/
.TxtFld, .TxtFldDis {padding-left:2px}
/*---*/


/* TEXTAREAS */ 
.TxtAra {border-top:solid 2px #848484;border-left:solid 2px #848484;border-bottom:solid 2px #ccc;border-right:solid 2px #ccc}
.TxtAraDis {background-color:#E1E4E5;color:#848687;border-top:solid 2px #848484;border-left:solid 2px #848484;border-bottom:solid 2px #ccc;border-right:solid 2px #ccc}
/*<<<<<<<<<<<<<<<<<<<<------------>>>>>>>>>>>>>>>>>>>>*/
.TxtAra, .TxtAraDis {padding-left:2px}
/*---*/


/* TREE */
a.TreParLnk:link, a.TreParLnk:visited {color:#003399;text-decoration:none;font-weight:bold}
a.TreParLnk:hover {color:#003399;text-decoration:underline;font-weight:bold}
a.TreLnk:link, a.TreLnk:visited {color:#003399;text-decoration:none}
a.TreLnk:hover {color:#003399;text-decoration:underline}
.TreSelTxt {color:#000;font-weight:bold}
a.TreSelLnk:link, a.TreSelLnk:visited {color:#000;text-decoration:none;font-weight:bold}
a.TreSelLnk:hover {color:#000;text-decoration:underline;font-weight:bold}
.TreLnkSpc {margin-left:3px}
.TreRotRow {background-color:#D2D9E1}
tr.TreSelRow td {background-color:#CBDCAF}
.TreImg {padding-top:2px;padding-bottom:1px} 
.TreTbl {background-color:#fff}
.TreBdy {color:#000;background-color:#fff;margin:0px}
.TreTtl {color:#000;font-weight:bold}
/* white version */
tr.TreWhtSelRow td {background-color:#CBDCAF}
.TreWhtTbl {background-color:#FFF}
.TreWhtBdy {color:#000;background-color:#FFF;margin:0px}


/* VERSION DIALOG */
.VrsMgn {width:100%;height:100%;position:absolute;background-color:#D4DCE1;overflow:auto}
.VrsHdrTxt {color:#333;font-weight:bold;margin:20px 25px 7px;font-size:15px} 
.VrsTxt {color:#000;margin:0px 25px 10px}
.VrsBtnAryDiv {text-align:right;margin:20px 15px 0px 0px}
 /* New Styles */
.VrsMstBdy {background-color:#FFF;background-image:url(../images/version/version_brand.jpg);background-repeat:no-repeat}
.VrsBtnBdy {background-color:#D4DCE1}
.VrsPrdDiv {padding:30px 0px 0px 195px}
.VrsLgoTd {text-align:right;vertical-align:top;padding:5px 10px 0px 10px}
.VrsPrdTd {vertical-align:top}
/* Archived Version Styles */
.VrsLin {}


/* WIZARD */
.WizMst {background:#495B67}
.WizTtl {background-color:#D9E1E4}
.WizStp {color:#333;border-top:#fff 1px solid}
.WizBdy {color:#333;border-left:#CCC 1px solid;border-top:#fff 1px solid; background-image:url(../images/wizard/wizbdy_minitab_background.jpg)}
.WizBtn {background:#FFF;border-left:#CCC 1px solid}
.WizStpTab, .WizStpTbl, .WizStp, WizBdy {background-color:#fff}
.WizStpTxt, .WizStpCurTxt, .WizHlpTxt, .WizSubTtlTxt, .WizSubStpTtlTxt, .WizCntHlpTxt {color:#333}
.WizSubTtlDiv, .WizTtl .TtlLin {background-color:#D9E1E4}
.WizSubTtlDiv {background-image:url(../images/tabs/minitab_background.jpg)}
a.WizStpLnk:link, a.WizStpLnk:visited {color:#003399;text-decoration:none}
a.WizStpLnk:hover {color:#003399;text-decoration:underline}
/*<<<<<<<<<<<<<<<<<<<<------------>>>>>>>>>>>>>>>>>>>>*/
.WizMst {position:fixed;width:100%;height:55px;top:0;right:0;bottom:auto;left:0}
.WizTtl {position:fixed;width:100%;height:36px;top:55px;right:0;bottom:auto;left:0}
.WizStp {position:fixed;width:30%;height:auto;top:91px;right:auto;bottom:0px;left:0px;overflow:auto}
.WizBdy {position:fixed;width:auto;height:auto;top:91px;right:0;bottom:55px;left:30%;overflow:auto;background-repeat:no-repeat;background-position:top right;padding-top:30px}
.WizBtn {position:fixed;width:auto;height:50px;top:auto;right:0;bottom:5px;left:30%}
.WizStpNumDiv {margin:0px 5px 20px 22px}
.WizStpArwDiv {margin:0px 5px 20px 1px}
.WizStpTxtDiv {margin:0px 10px 20px 0px}
.WizStpTxt {font-weight:normal}
.WizStpCurTxt {font-weight:bold;vertical-align:top}
.WizHlpDiv {margin:15px 10px 5px 10px}
.WizSubTtlDiv {position:absolute;width:auto;height:auto;top:0px;right:0;left:0;padding:7px 0px 7px 10px;background-repeat:repeat-x;background-position:left bottom}
.WizSubTtlTxt {font-weight:bold;font-size:15px}
.WizSubStpTtlDiv {padding:2px 0px 0px 10px}
.WizSubStpTtlTxt {font-weight:bold;font-size:12px}
.WizCntHlpTxt {margin:15px 10px 10px 10px}
.WizBtnDiv {margin:20px 10px 10px 10px}
.WizTtl .TtlTxtDiv {margin:10px 0px 3px 10px} 
/*---*/


/* ---------------------------------------------*/
/* ---------------------------------------------*/
/* THESE ARE OLD 1.0 STYLES -- DO NOT USE  for 2.0 */
/* ---------------------------------------------*/
/* ---------------------------------------------*/
/* INTERNET EXPLORER 5+ FOR WINDOWS & NETSCAPE 6 STYLE SHEET */
/* Last Updated 06/17/2002 */
.masthead-body {background-color:#669}
.masthead-background {background-color:#669}
.masthead-title-row {background-color:#000}
.masthead-separator-row {background-color:#FFF}
.masthead-bottom-row {background-color:#669}
.masthead-text {color:#FFF}
.masthead-role-text {color:#FFF;font-weight:bold}
.masthead-server-text {color:#FFF;font-weight:bold}
a.masthead-link:link, a.masthead-link:visited {color:#FFF;text-decoration:none}
a.masthead-link:hover {color:#FFF;text-decoration:underline}
a.masthead-link:active {color:#F00;text-decoration:underline}
.masthead-link-divider {color:#F90}
.secondary-masthead-title {color:#FFF;font-size:1.25em;font-weight:bold;margin:5px 10px}
.copyright-text {color:#999;font-size:.9em}
.copyright-separator {background-color:#CCC}
a.plugin-link:link, a.plugin-link:visited {font-weight:bold;color:#669;text-decoration:underline}
a.plugin-link:active {font-weight:bold;color:#F00;text-decoration:underline}
.plugin-description-text {color:#000}
.tree-body {background-color:#FFF;color:#000} 
a.tree-node-link:link, a.tree-node-link:visited, a.tree-node-link:active {color:#000;text-decoration:none}
.global-tab-unselected {background-color:#99C;text-align:center}
a.global-tab-link:link, a.global-tab-link:visited {color:#FFF;font-weight:bold;text-decoration:none;background-color:#99C}
a.global-tab-link:hover {color:#FFF;font-weight:bold;text-decoration:underline;background-color:#99C}
a.global-tab-link:active {color:#F00;text-decoration:underline}
.global-tab-selected {background-color:#FFC;text-align:center}
.global-tab-text {color:#000;font-weight:bold;background-color:#FFC}
.global-tab-sec-back  {background-color:#FFC}
.global-tab-sec-divider {color:#F90;margin:2px 0px}
a.global-tab-sec-link:link, a.global-tab-sec-link:visited {margin:2px 0px;color:#000;background-color:#FFC;text-decoration:none}
a.global-tab-sec-link:hover {margin:2px 0px;color:#000;background-color:#FFC;text-decoration:underline}
a.global-tab-sec-link:active {margin:2px 0px;color:#F00;text-decoration:underline}
.global-tab-sec-text {margin:2px 0px;color:#000;background-color:#FFC;font-weight:bold}
.local-tab-back  {background-color:#CCC}
.local-tab-unselected {background-color:#999;text-align:center}
a.local-tab-link:link, a.local-tab-link:visited {color:#000;font-weight:bold;text-decoration:none;background-color:#999}
a.local-tab-link:hover {color:#000;font-weight:bold;text-decoration:underline;background-color:#999}
a.local-tab-link:active {color:#F00;text-decoration:underline}
.local-tab-selected {background-color:#FFF;text-align:center}
.local-tab-text {color:#000;font-weight:bold;background-color:#FFF}
.local-tab-sec-back  {background-color:#FFF}
.local-tab-sec-divider {color:#000;margin:4px 0px}
a.local-tab-sec-link:link, a.local-tab-sec-link:visited {margin:4px 0px;color:#000;background-color:#FFF;text-decoration:underline}
a.local-tab-sec-link:hover {margin:4px 0px;color:#000;background-color:#FFF;text-decoration:underline}
a.local-tab-sec-link:active {margin:4px 0px;color:#F00;text-decoration:underline}
.local-tab-sec-text {margin:4px 0px;color:#000;background-color:#FFF;font-weight:bold}
.breadcrumb-row  {background-color:#CCC}
.breadcrumb-text  {color:#000;font-weight:bold;margin:3px 10px}
a.breadcrumb-link:link, a.breadcrumb-link:visited {color:#000;font-weight:normal;text-decoration:underline}
a.breadcrumb-link:active {color:#F00;text-decoration:underline}
.content-layout {margin:0px 10px}
.button-frame-enabled {background-color:#000}
.button-content-enabled {background-color:#CCC;cursor:pointer;cursor:hand}
.button-link-enabled-text {color:#000;margin:1px 0px;font-weight:bold}
a.button-link:link, a.button-link:visited {color:#000;background-color:#CCC;text-decoration:none}
a.button-link:active {color:#000;background-color:#999;text-decoration:none}
.button-frame-disabled {background-color:#999}
.button-content-disabled {background-color:#CCC}
.button-link-disabled-text {color:#999;margin:1px 0px;font-weight:bold}
.mini-button-frame-enabled {background-color:#000}
.mini-button-content-enabled {background-color:#CCC;cursor:pointer;cursor:hand}
.mini-button-link-enabled-text {color:#000;font-size:.9em;margin:1px 0px;font-weight:bold}
a.mini-button-link:link, a.mini-button-link:visited {color:#000;background-color:#CCC;text-decoration:none}
a.mini-button-link:active {color:#000;background-color:#999;text-decoration:none}
.mini-button-frame-disabled {background-color:#999}
.mini-button-content-disabled {background-color:#CCC}
.mini-button-link-disabled-text {color:#999;font-size:.9em;margin:1px 0px;font-weight:bold}
.table-title-text {color:#000;font-weight:bold;margin:0px 5px 2px 0px}
.table-frame {background-color:#99C}
.table-content {background-color:#FFF}
.table-header-row {background-color:#99C}
.table-sort-row {background-color:#CCF}
.table-separator-row {background-color:#CCC}
.table-header-text {color:#FFF;font-weight:bold;margin:2px 5px 2px 10px}
.table-label-text { color:#000;margin:3px 5px 3px 10px}
.table-normal-text {color:#000;margin:3px 5px 3px 10px}
.table-status-ok-text {color:#000;margin:3px 5px 3px 10px}
.table-status-critical-text {color:#000;margin:3px 5px 3px 10px}
.table-status-major-text {color:#000;margin:3px 5px 3px 10px}
.table-status-minor-text {color:#000;margin:3px 5px 3px 10px}
.table-strong-text {color:#000;margin:3px 5px 3px 10px;font-weight:bold}
.sort-row-margin {margin:0px 5px 0px 10px}
.select-all-margin {margin:2px}
.table-navlink-text {color:#669;margin:3px 5px 3px 10px}
a.table-navlink:link, a.table-navlink:visited {color:#669;text-decoration:underline}
a.table-navlink:active {color:#F00;text-decoration:underline}
.table-actlink-text {color:#99C;margin:3px 5px 3px 10px;font-weight:bold}
a.table-actlink:link, a.table-actlink:visited {font-weight:normal;color:#669;text-decoration:underline}
a.table-actlink:active {font-weight:normal;color:#F00;text-decoration:underline}
.table-vertpag-label-text {color:#000;font-weight:bold}
.table-vertpag-pages-text {color:#000}
.table-vertpag-title-text {color:#000;font-weight:normal}
.alert-error-frame {background-color:#C00}
.alert-error-content {background-color:#FFF}
.alert-warning-frame {background-color:#FC0}
.alert-warning-content {background-color:#FFF}
.alert-info-frame {background-color:#99C}
.alert-info-content {background-color:#FFF}
.alert-header-text {color:#000;font-weight:bold;margin:0px 0px 5px 0px}
.alert-normal-text {color:#000}
.alert-mono-text {color:#000;font-family:monospace}
.alert-strong-text {color:#000;font-weight:bold}
a.alert-link:link, a.alert-link:visited {color:#669;text-decoration:underline}
a.alert-link:active {color:#F00;text-decoration:underline}
.properties-jumpto-text {color:#000}
.properties-level1-label-text {color:#000;margin:20px 0px 0px 0px;font-weight:bold}
.properties-level2-label-text {color:#000;margin:20px 0px 5px 20px;font-weight:bold}
.properties-level3-label-text {color:#000;margin:0px 0px 0px 40px}
.properties-separator {background-color:#CCC}
.properties-normal-text {color:#000}
.properties-required {color:#00F}
.wizard-title-text {color:#FFF;margin:5px;font-size:1.25em;font-weight:bold}
.wizard-steps-body  {background-color:#FFF;color:#000}
.wizard-contents-body {background-color:#FFF;color:#000}
.wizard-navigation-body {background-color:#FFF;color:#000}
.wizard-steps-title-text {color:#000;font-weight:bold}
.wizard-steps-divider {background-color:#000}
.wizard-step-text {color:#000}
.wizard-help-text {color:#000;margin:3px 0px}
.wizard-step-current-text {color:#000;font-weight:bold}
a.wizard-step-link:link, a.wizard-step-link:visited {color:#669;text-decoration:underline}
a.wizard-step-link:active {color:#F00;text-decoration:underline}
.wizard-content-title-text {color:#000;font-weight:bold;margin:3px 5px}
.wizard-content-title-row  {background-color:#CCC}
.wizard-content-instr-text {color:#000}
.wizard-content-label-text {color:#000}
.wizard-tab-frame-forward {background-color:#000}
.wizard-tab-content-forward {background-color:#FFF}
.wizard-tab-link-forward-text {color:#000;font-weight:bold;text-decoration:none}
.wizard-tab-frame-back {background-color:#666}
.wizard-tab-content-back {background-color:#CCC}
a.wizard-tab-link:link, a.wizard-tab-link:visited {color:#000;font-weight:bold;text-decoration:none}
a.wizard-tab-link:active  {color:#000;font-weight:bold;background-color:#999;text-decoration:none}
.help-text {color:#000} 
a.help-link:link, a.help-link:visited {color:#000;text-decoration:underline}
a.help-link:active {color:#F00;text-decoration:underline} 
.help-small-text {color:#000;font-size:.9em} 
a.help-small-link:link, a.help-link:visited {color:#000;text-decoration:underline}
a.help-small-link:active {color:#F00;text-decoration:underline} 
.date-time-day-header {color:#000;font-weight:bold}
.date-time-help-text {color:#000;font-size:.9em} 
.date-time-label-text  {color:#000} 
a.date-time-link:link, a.date-time-link:visited {color:#000;text-decoration:underline}
a.date-time-link:active {color:#F00;text-decoration:underline}
a.date-time-other-link:link, a.date-time-other-link:visited {color:#999;text-decoration:underline}
a.date-time-other-link:active {color:#F00;text-decoration:underline}
a.date-time-mark-link:link, a.date-time-mark-link:visited {color:#000;font-weight:bold;text-decoration:underline}
a.date-time-mark-link:active {color:#F00;text-decoration:underline}
.chooser-server-header {color:#000;font-weight:bold}
.chooser-server-text {color:#000}
.chooser-label-text {color:#000}
select.chooser-list {font-family:monospace}
option.chooser-folder-text {color:#000;font-family:monospace}
option.chooser-file-text {color:#666;font-family:monospace}
