/* The contents of this file are subject to the terms
 * of the Common Development and Distribution License
 * (the License). You may not use this file except in
 * compliance with the License.
 *
 * You can obtain a copy of the License at
 * https://opensso.dev.java.net/public/CDDLv1.0.html or
 * opensso/legal/CDDLv1.0.txt
 * See the License for the specific language governing
 * permission and limitations under the License.
 *
 * When distributing Covered Code, include this CDDL
 * Header Notice in each file and include the License file
 * at opensso/legal/CDDLv1.0.txt.
 * If applicable, add the following below the CDDL Header,
 * with the fields enclosed by brackets [] replaced by
 * your own identifying information:
 * "Portions Copyrighted [year] [name of copyright owner]"
 *
 * $Id: styles.css,v 1.1 2006/01/28 09:18:52 veiming Exp $
 *
 * Copyright 2005 Sun Microsystems Inc. All Rights Reserved
 */




a:hover {  text-decoration: underline}
.footerText {  font-family: Helvetica, Arial, Geneva, sans-serif; font-size: 9pt; color: #333333}
.loginText {  font-family: Helvetica, Arial, Geneva, sans-serif}
.mastheadLinks {  font-family: Helvetica, Arial, Geneva, sans-serif; font-size: 9pt; color: #4D59AB; text-decoration: none}
.mastheadUsername {  font-family: Helvetica, Arial, Geneva, sans-serif; font-size: 10pt; color: #333333; font-weight: bold}
input.buttonblue{  cursor: hand; font-family: verdana; background: #594fbf; color: #ffffff; font-weight: bold; font-size: 10pt; padding: 1px 1px; margin: 0px 0px; border: 0px}
.doubleArrow {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold; color: #594FBF}
.mastheadSeparators { font-family: Helvetica, Arial, Geneva, sans-serif; color: #A2A2A2; text-decoration: none; font-size: 12pt}
