
<div class="day-view task-list-container">
    <md-virtual-repeat-container class="items-container"
                                 layout="column"
                                 layout-align="start none" >
        <div style="padding:5px;" ng-if=" data.length===0">
            No tasks.
        </div>
        <div md-virtual-repeat="task in data | orderBy: '-lastUpdateDateTime'">
            <gsi-task-item item="task"></gsi-task-item>
        </div>

    </md-virtual-repeat-container>
</div>