<!--ng-disabled="!(scope.carebookSearchName && (scope.carebookSearchSSN || scope.carebookSearchPayerId || scope.carebookSearchDob))"  -->
<md-dialog-content ng-init="scope.submitOnce = false; scope.alertPatientList=[];scope.patientSearchTxt = '';scope.isPatientListError = false; scope.carebookSearchResult = {patients: [], isError: false, isLoading: !data.crossCommunity}; scope.carebookSearchDob=null;">
    <md-content class="error-wrapper">
        <error ng-if="scope.carebookSearchResult.isError" msg="'Error Occurred: We encountered a problem. Please try again later.'">
        </error>
        <div ng-if="scope.carebookSearchResult.isLoading" class="progress-container" ng-style="data.crossCommunity && {'top': '150px'}" layout="row" layout-align="center center">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
        <form name="carebookUniversalForm" ng-submit="$event.preventDefault; scope.submitOnce = true; scope.event('local:globalSearch:searchCrossComm')">
            <div ng-init="scope.event('local:globalSearch:clearCrossCommSearch')" ng-show="data.crossCommunity" class="md-toolbar-tools md-toolbar-tools-bottom" layout="row" layout-align="center center">
                <div class="search-wrapper md-whiteframe-1dp" layout="row" layout-align="start center" style="width: 700px;">
                    <div class="search layout-align-start-center layout-row flex" flex="" layout="row" layout-align="start center">
                        <input ng-pattern="/^[^`~!@#$%^&*()\[\]+=\-_:;&#34,.<>?/\\|]+,[^`~!@#$%^&*()\[\]+=\-_:;&#34,.<>?/\\|]+$/" required flex ng-model="scope.carebookSearchName" name="name" type="text" id="searchCrossCommTxt" placeholder="Last Name, First Name">
                    </div>
                    <div ng-show="carebookUniversalForm.name.$dirty || scope.carebookSearchName" class="error-message" ng-messages="carebookUniversalForm.name.$error">
                        <div ng-message="pattern">The format is "Last Name, First Name"</div>
                    </div>
                </div>
            </div>
            <div ng-show="data.crossCommunity" layout="row" layout-align="center">
                <div style="width: 700px" layout="row" layout-align="center center">
                    <div flex class="padding-8">
                        <md-input-container class="md-block">
                            <label>SSN</label>
                            <input ng-pattern="/^[0-9]{3}-[0-9]{2}-[0-9]{4}$/" name="ssn" ssn ng-model="scope.carebookSearchSSN">
                        </md-input-container>
                    </div>
                    <div flex class="padding-8">
                        <md-input-container class="md-block">
                            <label>Primary Payer ID</label>
                            <input name="payerId" ng-model="scope.carebookSearchPayerId">
                        </md-input-container>
                    </div>
                    <div flex="30" class="padding-8">
                        <md-input-container class="md-block">
                            <label>DoB</label>
                            <md-datepicker md-min-date="scope.minDate" md-max-date="scope.maxDate" id="carebookSearchDob" name="dob" ng-model="scope.carebookSearchDob"></md-datepicker>
                        </md-input-container>
                    </div>
                    <md-button type="submit" ng-disabled="carebookUniversalForm.$invalid || !(scope.carebookSearchSSN || scope.carebookSearchPayerId || scope.carebookSearchDob)" style="margin-bottom: 30px" class="md-primary md-raised">Search</md-button>  
                </div>
            </div>
        </form>
        <div layout="row" style="min-width: 800px;" layout-wrap>
            <div layout="row" class="table-header" ng-style="carebookSearchStyle">
                <div layout="row" class="flex-100 padding">
                    <div flex layout="row">
                        <div flex class="secondary-text">
                            <span class="column-title" id="lblLastName" ng-click="scope.changeSortColumn( 'lastname', $event)" ng-class="scope.sortOrder">Last Name</span>
                        </div>
                        <div flex class="secondary-text">
                            <span class="column-title" id="lblFirstName" ng-click="scope.changeSortColumn( 'firstname', $event)" ng-class="scope.sortOrder">First Name</span>
                        </div>
                        <div flex class="secondary-text">
                            <span class="column-title" id="lblMiddleName" ng-click="scope.changeSortColumn( 'firstname', $event)" ng-class="scope.sortOrder">Middle Name</span>
                        </div>
                        <div flex class="secondary-text">
                            <span class="column-title" id="lblDOB" ng-click="scope.changeSortColumn( 'dob', $event)" ng-class="scope.sortOrder">DOB</span>
                        </div>
                        <div flex class="secondary-text">
                            <span class="column-title" id="lblMinor" ng-click="scope.changeSortColumn( 'isMinor', $event)" ng-class="scope.sortOrder">Minor</span>
                        </div>
                        <div flex class="secondary-text">
                            <span class="column-title" id="lblGender" ng-click="scope.changeSortColumn( 'gender', $event)" ng-class="scope.sortOrder">Gender</span>
                        </div>
                        <div flex class="secondary-text">
                            <span class="column-title" id="lblPatientId" ng-click="scope.changeSortColumn( 'patientId', $event)" ng-class="scope.sortOrder">ID</span>
                        </div>
                        <div flex="10" class="secondary-text">
                            <span class="column-title" id="lblOrgName" ng-click="scope.changeSortColumn( 'orgName', $event)" ng-class="scope.sortOrder">CM Organization</span>
                        </div>
                        <div flex="15" class="secondary-text" ng-if="data.crossCommunity">
                            <span class="column-title" id="lblOrgName" ng-click="scope.changeSortColumn( 'orgName', $event)" ng-class="scope.sortOrder">Community</span>
                        </div>
                    </div>
                </div>
            </div>
            <div flex="100" style="position: relative"> 
                <div class="no-record" layout="row" layout-align="center center" ng-if="!scope.carebookSearchResult.isLoading && scope.carebookSearchResult.patients.length===0 && (!data.crossCommunity || scope.submitOnce)">
                    <span style="z-index: 1">No matching records found</span>
                </div> 
                <md-virtual-repeat-container id="tbPatientList" class="patient-list not-responsive" size-watch="carebookSearchStyle">
                    <div ng-dblclick="scope.openCarebook(patient)" layout="row" layout-wrap class="flex-100 padding patient-row clickable" ng-class="$index % 2===0 ? 'odd' : 'even'" ng-show="scope.alertPatientList[0]!==false" md-virtual-repeat="patient
                                in scope.carebookSearchResult.patients">
                        <div layout="row" layout-wrap class="info-wrapper" flex>
                            <div flex class="secondary-text column-info">
                                {{ patient.lastName }}
                            </div>
                            <div flex class="secondary-text column-info">
                                {{ patient.firstName }}
                            </div>
                            <div flex class="secondary-text column-info">
                                {{ patient.middleName }}
                            </div>

                            <div flex class="secondary-text column-info dob">
                                {{ (scope.isPatientFromLocal(patient) || (!scope.isPatientFromLocal(patient) && scope.carebookSearchDob)) ? (patient.dobDate | date:"MM/dd/yyyy") : '' }}
                            </div>

                            <div flex class="secondary-text column-info minor">
                                {{ (scope.isPatientFromLocal(patient) && patient.minor) ? 'Minor' : '' }}
                            </div>
                            <div flex class="secondary-text column-info gender">
                                {{ scope.isPatientFromLocal(patient) ? patient.gender : ''}}
                            </div>
                            <div flex class="secondary-text column-info id">
                                {{ scope.isPatientFromLocal(patient) ? patient.patientId : '' }}
                            </div>
                            <div flex="10" class="secondary-text column-info org">
                                {{ (scope.isPatientFromLocal(patient) && patient.consented==='true') ? patient.organizationName : ''}}
                                <div ng-if="!scope.isPatientFromLocal(patient) || patient.consented==='false'">
                                    <md-icon class="not-consented" md-svg-icon="error"></md-icon>
                                    <md-tooltip>{{::scope.settings.apps.carebook.text.notConsentedTooltip}}</md-tooltip>
                                </div>
                            </div>
                            <div flex="15" flex ng-if="data.crossCommunity" class="secondary-text column-info">
                                <span class="badge-count" ng-style="scope.stringToColor(patient.communityId + patient.communityName)">
                                    {{patient.communityName[0]}}
                                    <md-tooltip>{{patient.communityName}}</md-tooltip>
                                </span>
                                <span class="badge-count" ng-style="scope.stringToColor(community.communityId + community.communityName)" ng-repeat="community in patient.otherCommunities">
                                    {{community.communityName[0]}}
                                    <md-tooltip>{{community.communityName}}</md-tooltip>
                                </span>
                            </div>
                        </div>
                    </div>
                </md-virtual-repeat-container>
            </div> 
        </div>
    </md-content>
</md-dialog-content>