md-toolbar
  .md-toolbar-tools(style="width: initial")
    h2(ng-click="scope.event('local:appCareBookSearch:initIframe');",ng-bind="data.crossCommunity ? 'Universal Search' : 'Carebook Search'")
    span(flex='')
    md-button.md-icon-button(ng-click="choose('Close')", aria-label='Cancel')
      md-icon(md-svg-icon='close')