.panel-menu-list {
    background: white;
    border-radius: 4px;
    box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
    width: 256px;
}
.panel-menu-item {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 36px;
    padding: 0 8px;
    position: relative;
    transition: background 0.15s linear;
    width: auto;
    outline: 0;
    background: transparent;
    color: inherit;
}
.panel-menu-item .item-text {
    vertical-align: middle;
    margin-left: 6px;
}
.panel-menu-item.sub-item {
    margin-left: 30px;
}
.panel-menu-item:hover, .panel-menu-item:focus {
    background-color: rgb(238, 238, 238);
}
.panel-menu-item.sub-item {
    background-color: transparent;
}
.panel-menu-item.selected.theme-bg-primary {
  background-color: #0f57ff;
  color: white;
}
.panel-menu-item.selected.theme-bg-secondary {
  background-color: #d4665b;
  color	: white;
}
.panel-menu-item.selected.theme-bg-grey {
  background-color: #e57226;
  color	: white;
}
change-view-dropdown {
    display: inline-block;
    height: 30px;
    margin-left: 10px;
}
change-view-dropdown .dropdown-container {
    height: 100%;
    display: inline-block;
}
change-view-dropdown .dropdown-title {
    display: inline-block;
    width: 200px;
    height: 100%;
    background-color: rgba(255, 255, 255, .5);
}
change-view-dropdown .dropdown-txt {
    vertical-align: middle;
    line-height: 30px;
}
change-view-dropdown .dropdown-btn {
    display: inline-block;
    height:100%;
    width: 30px;
    background-color: rgba(255, 255, 255, .5);
    vertical-align: top;
    line-height: 30px;
    text-align: center;
    outline: 0;
    margin-left: -2px;
    cursor: pointer;
}

.custom-assessment-type-box md-select-menu  {
    max-height: inherit;
}

.panel-menu-list md-content {
    padding-top: 10px;
    min-width: 136px;
    min-height: 48px;
    max-height: 256px;
    overflow-y: auto;
}