.toolbar-separator {
    height: 64px;
    width: 1px;
    background: rgba(0,0,0,.12);
}
.user-menu {
    height: 64px;
    padding: 0;
}

.no-focus-background {
	background: none !important;
}

md-menu-bar.md-default-theme md-menu._md-open > button, md-menu-bar md-menu._md-open > button, md-menu-bar.md-default-theme md-menu > button:focus, md-menu-bar md-menu > button:focus {
	background: none !important;
}

.user-menu .user-button {
    margin: 0;
    padding: 0 16px;
    height: 64px;
    text-transform: none;
}
.avatar {
    width: 40px;
    min-width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 8px 0 0;
    border-radius: 50%;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    color: #FFF;
}
.user-button .username {
    margin: 0 12px 0 8px;
}
.avatar-wrapper{
    position: relative;
}
.avatar-wrapper .status {
    color: rgb(76, 175, 80);
    position: absolute;
    bottom: -3px;
    right: 5px;
}
md-icon.s16{
    height: 16px;
    width: 16px;
}
.md-toolbar-tools .md-button.md-icon-button.global-button{
    margin: 0;
    width: 64px;
    height: 64px;
}
.md-toolbar-tools .md-button.md-icon-button.global-button:last-child{
    margin-right: -16px;
}
.search-bar-input{
    display: none;
    min-height: 64px;
    background-color: transparent;
    font-size: 16px;
}
#toolbar.expanded {
    position: relative;
}
.global-search-bar.expanded{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgb(63,81,181);
    z-index: 2000000;
}
.global-search-bar.expanded input{
    display: block;
}
.global-search-bar input{
    display: none;
    min-height: 64px;
    background-color: transparent;
    font-size: 16px;
    border: none;
    outline: none;
	color: white;
}
#btnCloseSearch{
    display: none;
    margin-right: 0;
}
.global-search-bar.expanded #btnCloseSearch{
    display: block;
}
#appHome {
    min-width: 450px;
}

md-checkbox#ckbCrossComm.md-default-theme:not(.md-checked) .md-icon, md-checkbox:not(.md-checked) .md-icon {
    background: white;
}
.search-wrapper {
    position: relative;
}
.search-wrapper .error-message {
    position: absolute;
    left: 0px;
    top: 50px;
    color: rgb(221, 44, 0);
    font-size: 14px;
}
.search-wrapper .search input{
    height: 48px;
    outline: 0;
    border: 0;
    padding: 0 10px;
}
.search-wrapper .search md-icon {
    margin: 0 10px;
}
.padding-8 {
    padding: 8px;
}
.padding-161 {
    padding: 6px;
}
.padding-32 {
    padding: 32px;
}
md-chips.small-chip .md-chips{
    font-size: 12px;
}
#import-popup {
    min-width: 600px;
}
#carebookSearchDob input, #userProfileDob input {
    width: 120px;
}
md-icon.not-consented {
    color: #ff5722;
}