
.hideMe {
    opacity: 0;
}


#splash-container {
	position: fixed;
    top: 50%;
    left: 50%;
	max-height: 75%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.splashScreen {
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width:100%;	
    background: #fff;
	z-index: 1000000000;
    -moz-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}

#loader svg {
	animation: rotateLoader 3s linear infinite;
}

#loader #circle{
  stroke: #da0000;
  animation: loading 2s ease-in-out infinite;
}

@keyframes loading{
  0%{
    stroke-dasharray: 0.5,4;
    stroke-width: 0.3;
    stroke-dashoffset: 1.5;
  }
  50%{
    stroke-dasharray: 3,2;
    stroke-width: 0.05;
    stroke-dashoffset: 0;
  }
  100%{
    stroke-dasharray: 0.5,4;
    stroke-width: 0.3;
    stroke-dashoffset: -3;
  }
}

@keyframes rotateLoader{
  100%{
    transform: rotate(360deg);
  }
}